{# empty Twig template #}
<div id="sidebar-left" class="col-xs-2 col-sm-2">
    <ul class="nav main-menu">
        {% if app.side_bar %}
            {% for item in app.side_bar %}
                <li class="dropdown {% if item.alias == app.controller_alias %}open{% endif %}">
                    <a href="{{app.request.baseUrl}}/{{item.alias ? item.alias : '#'}}" class="dropdown-toggle {% if item.alias == app.controller_alias %}active-parent active{% endif %}">
                        {% if item.icon %}
                            <i class="{{item.icon}}"></i>
                        {% endif %}
                        <span class="hidden-xs">{{item.name}}</span>
                        {% if item.icon2 %}
                            <i class="{{item.icon2}}"></i>
                        {% elseif item.action %}
                            <i class="pull-right fa fa-chevron-left"></i>
                        {% endif %}
                    </a>
                    {% if item.action%}
                        <ul class="dropdown-menu">
                        {% endif %}
                        {% for item_action in item.action %}
                            <li>
                                <a class="{% if item_action.alias == app.action_alias %}active-parent active{% endif %}" href="{{app.request.baseUrl}}/{{item.alias ? item.alias}}/{{item_action.alias ? item_action.alias}}">
                                    {% if item_action.icon %}<i class="{{item_action.icon}}"></i> {% endif %}{{item_action.name}}
                                </a>
                            </li>
                        {% endfor %}
                        {% if item.action%}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>