{% extends 'layout.twig' %}
{% import '/macro/iptw_macro.twig' as main_macro %}
{% set title = ('Administrators'|trans ~ ': ' ~ 'groups list'|trans) | trans %}

{% block content %}
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/add-admins-group" class="btn btn-success pull-right" id="add_group">{{ 'Add group'|trans }}</a>
            </div>
        </div>
        
        <div class="row">
            <div class=" ">
                <div class="box">
                    {% if attribute(app, 'dropdownAttribute') is defined %}
                    {{ main_macro.get_dropdown_attribute(app['dropdownAttribute']) }}
                    {% endif %}
                    <div class="box-content">
                        <div class="box-content no-padding">
                            <div class=" ">
                                <div class=" ">
                                    <div class="dataTables_processing"></div>
                                    <table class="table  table-hover table-datatable" id="datatable-1">
                                        {% if attribute(app, 'dropdownAttribute') is defined %}
                                        {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                        {% endif %}
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalbox_ad">
        <div class="devoops-modal">
            <div class="devoops-modal-header">
                <div class="modal-header-name">
                    <span></span>
                </div>
                <div class="box-icons">
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <form class="form-horizontal" role="form" id="karaoke_form" action="{{ app.request.baseUrl }}/{{ app.controller_alias }}/save-admins-group">
                <div class="devoops-modal-inner">
                    <div class="box">
                        <div class="box-content">
                            <!-- singer -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-xs-offset-1">{{ 'Group name'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8 no-padding">
                                    <div class=" col-xs-10 col-sm-10">
                                        <input type="hidden" name="id" id="adm_id" class="own_fields">
                                        <input type="text" required="required" name="name" data-validation=required  id="adm_name" class='form-control own_fields'>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="devoops-modal-bottom">
                    <div class="box">
                        <div class="box-content">
                            <div class="row">
                                <div class="col-xs-10 col-sm-6 pull-right">
                                    <button type="submit" class="btn btn-success col-sm-5 pull-right">{{ 'Save'|trans }}</button>
                                    <button type="reset" class="btn btn-default col-sm-5 pull-left" > {{ 'Cancel'|trans }} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
                                    
    <script type="text/javascript" defer>

        function DemoSelect2() {
            $.getScript("{{ app.request.baseUrl }}/plugins/select2/i18n/{% if app["language"] %}{{ app["language"] }}{% else %}en{% endif %}.js", function() {
                $.fn.select2.defaults.set('dropdownAutoWidth', 'false');
                $.fn.select2.defaults.set('width', '100%');
                $('#target_reseller').select2({minimumResultsForSearch: -1});
                $('#target_group').select2({minimumResultsForSearch: -1});
            });
        }

        function closeModalBox(){
            $("#modalbox").hide();
            $('#modalbox').find('.modal-header-name span').empty();
            $('#modalbox').find('.devoops-modal-inner').empty();
            $('#modalbox').find('.devoops-modal-bottom').empty();
        }

        function TestTable1() {
            $('#datatable-1').on('xhr.dt', function (e, settings, json) {
                if (typeof (json.data) == 'object') {
                    for (var i in json.data) {
                        var id = json.data[i].id;
                        var name = json.data[i].name;
                        {% if attribute(app, 'reseller') is defined and not app['reseller'] %}
                        var reseller_name = json.data[i].reseller_name ? json.data[i].reseller_name : '{{ 'Empty'|trans }}';
                        var reseller_id = json.data[i].reseller_id ? json.data[i].reseller_id : '-';
                        {% endif %}

                        json.data[i].operations = "<div class='col-xs-3 col-sm-8'>\n\
                                                        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>\n\
                                                            <i class='pull-right fa fa-cog'></i>\n\
                                                        </a>\n\
                                                        <ul class='dropdown-menu pull-right'>";
                        {% if attribute(app, 'reseller') is defined and not app['reseller'] %}
                        json.data[i].operations         += "<li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/move-admin-group-to-reseller' data-id='"+id+"' data-reseller_id='"+reseller_id+"'>\n\
                                                                    <span>{{ 'Change reseller for current group of admin'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>";
                        json.data[i].reseller_name = '<a class="main_ajax" href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/move-admin-group-to-reseller" data-id="'+id+'" data-reseller_id="'+reseller_id+'">'+reseller_name+'</a>';
                        {% endif %}
                        {% if attribute(app,'userlogin') is defined and app.userlogin == 'admin' %}
                        json.data[i].operations         += "<li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/move-all-admin-to-group' data-group_id='" + id + "'>\n\
                                                                    <span>{{ 'Move all admins to another group'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>";
                        {% endif %}
                        json.data[i].operations         += "<li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/admins-groups-list-json' data-id='" + id + "'>\n\
                                                                    <span>{{ 'Edit'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/admins-groups-permissions?id=" + id + "'>\n\
                                                                    <span>{{ 'Permissions'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/remove-admins-group' data-id='" + id + "'>\n\
                                                                    <span> {{ 'Delete'|trans }} </span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                        </ul>\n\
                                                    </div>";
                        json.data[i].name = '<a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/admins-groups-permissions?id=' + id + '">' + name + '</a>';
                    }
                }
            }).dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ app.request.baseUrl }}/{{ app.controller_alias }}/admins-groups-list-json",
                    "data": function (d) {
{#                        var params = $.parseParams(window.location.href.split('?')[1] || ''); //window.location.href.split('?')[1] || '' 
                        for (var i in params) {
                            d[i] = params[i];
                        }#}
                    }
                },
                "deferLoading": [ {{ app.recordsFiltered }}, {{ app.totalRecords }} ],
                "language": {
                    "url": "{{ app.datatable_lang_file }}"
                },
                {% if attribute(app, 'dropdownAttribute') is defined %}
                {{ main_macro.get_datatable_column(app['dropdownAttribute']) }}
                {% endif %}
                "bFilter": true,
                "bPaginate": true,
                "bInfo": true,
                "columnDefs": [
                    { className: "action-menu", "targets": [ -1 ] },
                    {"searchable": false, "targets": [-1, 2]},
                    {"sortable": false, "targets": [-1, 2]}
                ]
            }).prev('.dataTables_processing').hide('');
            $('#datatable-1').DataTable().ajax.reload();
        }

        function yelp() {
            $(document).ready(function () { 
                $(document).on('click', "a.main_ajax:not([href*='move-admin-group-to-reseller']):not([href*='move-all-admin-to-group'])", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var sendData = $(this).data();
                    ajaxPostSend($(this).attr('href'), sendData, false, false);
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });

                $("#form_reset").on('click', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $(this).closest('form').get(0).reset();
    {#                    $("#cmd_data").find("tr:visible").remove();#}
                    return false;
                });

                var conf = {
                    form: '#karaoke_form',
                    lang : '{{ app.language }}',
                    showHelpOnFocus : true,
                    validateHiddenInputs: true,
                    ignore: ['.ignore'],
                    modules: 'jsconf',
                    onSuccess: function () {
                        var sendData = new Object();
                        var lengthObj = 0;
                        var form_fields = $("#modalbox_ad input.own_fields:not(:disabled)");
                        form_fields.each(function () {
                            if ($(this).val()) {
                                sendData[this.name] = $(this).val();
                            }
                        });

                        ajaxPostSend($("#modalbox_ad form").attr('action'), sendData, false, false);
                        return false;

                    },
                    onError: function () {
                        return false;
                    }
                };
                $.validate(conf);

                $("#modalbox_ad button[type='submit']").on('click', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    if ($("#karaoke_form").isValid({}, conf, true)) {
                        conf.onSuccess();
                    } else {
                        conf.onError();
                    }
                    return false;
                });

                $("#add_group").on("click", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $("#modalbox_ad").find(".modal-header-name").children('span').text('{{ 'Add group'|trans }}');
                    $("#adm_name").next('div').removeClass('bg-danger').css('visibility', 'hidden').html('&nbsp;');
                    $("#modalbox_ad input").prop("disabled", false).removeAttr('disabled').val('');
                    $("#modalbox_ad input[type='hidden']").attr('disabled', 'disabled').val('');
                    $('#modalbox_ad button[type="submit"]').removeAttr("disabled");
                    $("#modalbox_ad").show();
                    return false;
                });
                
                $(document).on('change keyup', '#adm_name', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var _this = $(this);
                    _this.next('div').removeClass('bg-danger').css('visibility', 'hidden').html('&nbsp;');
                    $('#modalbox_ad button[type="submit"]').removeAttr("disabled");
                    if (_this.val()) {
                        $.ajax({
                            url: '{{app.request.baseUrl}}/{{app.controller_alias}}/check-admins-group-name',
                            type: 'POST',
                            data: {name: _this.val()},
                            success: function (data) {
                                if (data.success) {
                                    $('#modalbox_ad button[type="submit"]').removeAttr("disabled");
                                    _this.next('div').append('<i class="txt-success fa fa-check"></i> ' + data.chk_rezult).css('visibility', 'visible');
                                } else if (data.error) {
                                    $('#modalbox_ad button[type="submit"]').attr("disabled", "disabled");
                                    console.log(data.error);
                                } else {
                                    $('#modalbox_ad button[type="submit"]').removeAttr("disabled");
                                    console.log("{{ 'Some server error'|trans }}");
                                }
                            },
                            error: function (data) {
                                if (typeof (data.responseJSON) != 'undefined' && typeof (data.responseJSON.error) != 'undefined') {
                                    $('#modalbox_ad button[type="submit"]').attr("disabled", "disabled");
                                    _this.next('div').append('<i class="txt-danger fa fa-ban"></i> ' + data.responseJSON.error).css('visibility', 'visible');
                                } else {
                                    $('#modalbox_ad button[type="submit"]').removeAttr("disabled");
                                    console.log("{{ 'Some network error or access denied'|trans }}");
                                }
                            },
                            dataType: "json",
                            async: false
                        });
                    }
                    return false;
                });

                {% if attribute(app, 'reseller') is defined and not app['reseller'] %}

                $(document).on('click', "#modalbox, #modalbox a.close-link, #modalbox a.close-link *", function(e){
                    if (e.currentTarget != e.target) {
                        return;
                    }
                    e.stopPropagation();
                    e.preventDefault();
                    closeModalBox();
                    return false;
                });

                $(document).on('click', "a[href*='move-admin-group-to-reseller']", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $("#modalbox").data('complete', 1);
                    $('#modalbox').find('.modal-header-name span').text("{{ 'Resellers'|trans }}");
                    var reseller_id = $(this).data('reseller_id');
                    $('#modalbox').find('.devoops-modal-inner').html($("#modal_move_reseller_form_body").html());
                    $('#modalbox').find('.devoops-modal-inner').find("input[name='id']").val($(this).data('id'));
                    $('#modalbox').find('.devoops-modal-inner').find("input[name='source_id']").val(reseller_id);
                    $('#target_reseller option').removeAttr('selected');
                    $('#target_reseller option[value="'+ reseller_id +'"]').attr('selected', 'selected');
                    $('#modalbox').find('.devoops-modal-bottom').html($("#modal_move_form_buttons").html());

                    $("#target_reseller").select2({minimumResultsForSearch: -1});

                    $("#modalbox").show();
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });

                $(document).on('click', "#modalbox button[type='submit']", function (e) {
                    var _this = $(this);

                    e.stopPropagation();
                    e.preventDefault();
                    var sendData = new Object();
                    var form_fields = _this.closest("#modalbox").find('form').find(".own_fields:not(:disabled)");
                    form_fields.each(function () {
                        if ($(this).val()) {
                            sendData[this.name] = $(this).val();
                        }
                    });
                    var action = _this.closest("#modalbox").find('form').attr('action');
                    JSshowModalBox();
                    ajaxPostSend(action, sendData, false, false);
                    return false;

                });

                {% endif %}

                {% if attribute(app,'userlogin') is defined and app.userlogin == 'admin' %}
                $(document).on('click', "a[href*='move-all-admin-to-group']", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $("#modalbox").data('complete', 1);
                    $('#modalbox').find('.modal-header-name span').text("{{ 'Groups'|trans }}");
                    var group_id = $(this).data('group_id');
                    $('#modalbox').find('.devoops-modal-inner').html($("#modal_move_group_form_body").html());
                    $('#modalbox').find('.devoops-modal-inner').find("input[name='source_id']").val(group_id);
                    $('#target_group option').removeAttr('selected');
                    $('#target_group option[value="'+ group_id +'"]').attr('selected', 'selected');
                    $('#modalbox').find('.devoops-modal-bottom').html($("#modal_move_form_buttons").html());

                    $("#target_group").select2({minimumResultsForSearch: -1});

                    $("#modalbox").show();
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });

                {% endif %}

                LoadSelect2Script(DemoSelect2);
                LoadDataTablesScripts(TestTable1);
            });
        }

        document.addEventListener("DOMContentLoaded", yelp, false);
        
        var setAdminsGroupsModal = function (data) { 
            $("#modalbox_ad").find(".modal-header-name").children('span').text('{{ 'Edit group'|trans }}');
            if (data.data.length == 1) {
                var row = data.data[0];
                for (var field_name in row) {
                    $("#modalbox_ad input[name='" + field_name + "']").val(row[field_name]);
                }
            }
            $("#modalbox_ad input").removeAttr('disabled');
            $("#adm_name").next('div').removeClass('bg-danger').css('visibility', 'hidden').html('&nbsp;');
            $('#modalbox_ad button[type="submit"]').removeAttr("disabled");
            $("#modalbox_ad").show();
        };

        var manageAdminGroupsList = function (obj) {
            JSSuccessModalBox(obj);
            $("#modalbox_ad").click();
            $('#datatable-1').DataTable().ajax.reload();
        };
        var manageAdminGroupsListError = function (obj) {
            JSErrorModalBox(obj);
            $("#modalbox_ad").click();
        };

        {% if attribute(app, 'reseller') is defined and not app['reseller'] %}
        var manageGroupsResellerList = function (obj) {
            JSSuccessModalBox(obj);
            $('#datatable-1').DataTable().ajax.reload();
        };

        var manageGroupsResellerListError = function (obj) {
            JSErrorModalBox(obj);
        };
        {% endif %}
        
    </script>
    <script type="text/template" id="modal_move_reseller_form_body">
        <div class="box-content">
            <form class="form-horizontal" role="form" action="{{ app.request.baseUrl }}/{{ app.controller_alias }}/move-admin-group-to-reseller">
                <div class="form-group">
                    <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Reseller name'|trans }}</label>
                    <div class="col-xs-10 col-sm-8">
                        <span class="col-xs-12 col-sm-12">
                            <input type="hidden" class="own_fields" name="id" value="">
                            <input type="hidden" class="own_fields" name="source_id" value="">
                            <select class="own_fields" name="target_id" id="target_reseller">
                                {% if attribute(app, 'allResellers') is defined %}
                                    {% for row in app.allResellers %}
                                        <option value="{{ row.id }}" >{{ row.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </script>
    {% if attribute(app,'userlogin') is defined and app.userlogin == 'admin' %}
        <script type="text/template" id="modal_move_group_form_body">
            <div class="box-content">
                <form class="form-horizontal" role="form" action="{{ app.request.baseUrl }}/{{ app.controller_alias }}/move-all-admin-to-group">
                    <div class="form-group">
                        <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Group'|trans }}</label>
                        <div class="col-xs-10 col-sm-8">
                        <span class="col-xs-12 col-sm-12">
                            <input type="hidden" class="own_fields" name="source_id" value="">
                            <select class="own_fields" name="target_id" id="target_group">
                                {% if attribute(app, 'allGroups') is defined %}
                                    {% for row in app.allGroups %}
                                        <option value="{{ row.id }}" >{{ row.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </span>
                        </div>
                    </div>
                </form>
            </div>
        </script>
    {% endif %}

    <script type="text/template" id="modal_move_form_buttons">
        <div class="pull-right no-padding">&nbsp;</div>
        <div class="pull-right no-padding">
            <button type="submit" class="btn btn-success pull-right">{{ 'Move'|trans }}</button>
            <button type="reset" class="btn btn-default pull-right">{{ 'Cancel'|trans }}</button>
        </div>
    </script>
{% endblock %}