{% extends 'layout.twig' %}
{% import '/macro/iptw_macro.twig' as main_macro %}
{% set title = ('Resellers'|trans ~ ': ' ~ 'resellers list'|trans) | trans %}

{% block content %}
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/add-reseller" class="btn btn-success pull-right" id="add_reseller">{{ 'Add reseller'|trans }}</a>
            </div>
        </div>
        
        <div class="row">
            <div class="">
                <div class="box">
                    {% if attribute(app, 'dropdownAttribute') is defined %}
                    {{ main_macro.get_dropdown_attribute(app['dropdownAttribute']) }}
                    {% endif %}
                    <div class="box-content">
                        <div class="box-content no-padding">
                            <div class="">
                                <div class="">
                                    <div class="dataTables_processing"></div>
                                    <table class="table  table-hover table-datatable" id="datatable-1">
                                        {% if attribute(app, 'dropdownAttribute') is defined %}
                                        {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                        {% endif %}
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalbox_ad">
        <div class="devoops-modal">
            <div class="devoops-modal-header">
                <div class="modal-header-name">
                    <span></span>
                </div>
                <div class="box-icons">
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <form class="form-horizontal" role="form" action="{{ app.request.baseUrl }}/{{ app.controller_alias }}/resellers-save">
                <div class="devoops-modal-inner">
                    <div class="box">
                        <div class="box-content">
                            <!-- singer -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-xs-offset-1">{{ 'Name'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8 no-padding">
                                    <div class=" col-xs-10 col-sm-10">
                                        <input type="hidden" name="id" class="own_fields">
                                        <input type="text" required="required" name="name" data-validation=required class='form-control own_fields'>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-xs-offset-1">{{ 'Maximum number of users'|trans }}</label>
                                <div class="col-xs-10 col-sm-8 no-padding">
                                    <div class=" col-xs-10 col-sm-10">
                                        <input type="text" required="required" name="max_users" class='form-control own_fields'>
                                    </div>
                                    <span class="help-inline col-xs-10 col-sm-10">
                                        <span class="txt-default">{{ 'Maximum number of users for current reseller. Set \'0\' for unlimited number of users.'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="devoops-modal-bottom">
                    <div class="box">
                        <div class="box-content">
                            <div class="row">
                                <div class="col-xs-10 col-sm-6 pull-right">
                                    <button type="submit" class="btn btn-success col-sm-5 pull-right">{{ 'Save'|trans }}</button>
                                    <button type="reset" class="btn btn-default col-sm-5 pull-left" > {{ 'Cancel'|trans }} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
                                    
    <script type="text/javascript" defer>

        function DemoSelect2() {
            $.getScript("{{ app.request.baseUrl }}/plugins/select2/i18n/{% if app["language"] %}{{ app["language"] }}{% else %}en{% endif %}.js", function () {
                $.fn.select2.defaults.set('dropdownAutoWidth', 'false');
                $.fn.select2.defaults.set('width', '100%');
                $('#target_reseller').select2({minimumResultsForSearch: -1});
            });
        }

        function TestTable1() {
            $('#datatable-1').on('xhr.dt', function (e, settings, json) {
                if (typeof (json.data) == 'object') {
                    for (var i in json.data) {
                        var id = json.data[i].id;
                        var name = json.data[i].name;
                        json.data[i].operations = "<div class='col-xs-3 col-sm-8'>\n\
                                                        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>\n\
                                                            <i class='pull-right fa fa-cog'></i>\n\
                                                        </a>\n\
                                                        <ul class='dropdown-menu pull-right'>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/move-users-to-reseller' data-id='" + id +"'>\n\
                                                                    <span>{{ 'Move all users to another reseller'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                        ";
                        if (id !== '-') {
                            json.data[i].operations += "<li>\n\
                                                            <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/resellers-list-json' data-id='" + id + "'>\n\
                                                                    <span>{{ 'Edit'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/resellers-delete' data-id='" + id + "'>\n\
                                                                    <span> {{ 'Delete'|trans }} </span>\n\
                                                                </a>\n\
                                                            </li>";
                        }
                        json.data[i].operations += "</ul>\n\
                                                    </div>";
                        json.data[i].name = '<a class="main_ajax" href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/resellers-list-json" data-id="' + id + '">' + name + '</a>';
                        if (json.data[i].max_users <= 0) {
                            json.data[i].max_users = "&#8734";
                        }
                        var possibleDateKeys = ['created', 'modified'], date;
                        for (var num in possibleDateKeys) {
                            var key = possibleDateKeys[num];
                            if (typeof(json.data[0][key]) != 'undefined') {
                                date = json.data[i][key];
                                if (date > 0) {
                                    date = new Date(date * 1000);
                                    json.data[i][key] = date.toLocaleFormat("%b %d, %Y %H:%M");
                                }
                            }
                        }
                    }
                }
            }).dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ app.request.baseUrl }}/{{ app.controller_alias }}/resellers-list-json",
                },
                "deferLoading": [ {{ app.recordsFiltered }}, {{ app.totalRecords }} ],
                "language": {
                    "url": "{{ app.datatable_lang_file }}"
                },
                {% if attribute(app, 'dropdownAttribute') is defined %}
                {{ main_macro.get_datatable_column(app['dropdownAttribute']) }}
                {% endif %}
                "bFilter": true,
                "bPaginate": true,
                "bInfo": true,
                "columnDefs": [
                    {className: "action-menu", "targets": [-1]},
                    {"searchable": false, "targets": [-1]},
                    {"sortable": false, "targets": [-1]}
                ]
            }).prev('.dataTables_processing').hide('');
            $('#datatable-1').DataTable().ajax.reload();
        }

        function yelp() {
            $(document).ready(function () {

                $(document).on('click', "a.main_ajax:not([href*='move-users-to-reseller'])", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var sendData = $(this).data();
                    ajaxPostSend($(this).attr('href'), sendData, false, false);
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });

                $(document).on('click', "#form_reset", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    if (!$(this).closest('form').find("input[type='hidden']").val()) {
                        $('#modalbox form').get(0).reset();
                    }
                    JScloseModalBox();
                    return false;
                });

                $(document).on('click', "#modalbox_ad button[type='submit'], #modalbox button[type='submit']", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var _this = $(this);
                    var sendData = new Object();
                    var form_fields = _this.closest("div[id*='modalbox']").find('form').find(".own_fields:not(:disabled)");
                    form_fields.each(function () {
                        if ($(this).val()) {
                            sendData[this.name] = $(this).val();
                        }
                    });
                    var action = _this.closest("div[id*='modalbox']").find('form').attr('action');
                    JSshowModalBox();
                    ajaxPostSend(action, sendData, false, false);
                    return false;
                });

                $("#add_reseller").on("click", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $("#modalbox_ad").find(".modal-header-name").children('span').text('{{ 'Adding reseller'|trans }}');
                    $("#modalbox_ad input").removeAttr('disabled').val('');
                    $("#modalbox_ad input[type='hidden']").attr('disabled', 'disabled');
                    $("#modalbox_ad").show();
                    return false;
                });

                $(document).on('click', "a[href*='move-users-to-reseller']", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $("#modalbox").data('complete', 1);
                    $('#modalbox').find('.modal-header-name span').text("{{ 'Resellers'|trans }}");
                    var formHtml = '\n\
                <div class="box-content">\n\
                    <form class="form-horizontal" role="form" action="{{ app.request.baseUrl }}/{{ app.controller_alias }}/move-users-to-reseller">\n\
                        <div class="form-group">\n\
                            <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Reseller name'|trans }}</label>\n\
                            <div class="col-xs-10 col-sm-8">\n\
                                <span class="col-xs-12 col-sm-12">\n\
                                    <input type="hidden" class="own_fields" name="source_id" value="'+ $(this).data('id') + '">\n\
                                    <select class="own_fields" name="target_id" id="target_reseller">\n\
                    {% if attribute(app, 'allData') is defined %}
                        {% for row in app.allData %}
                                    <option value="{{ row.id }}" >{{ row.name }}</option>\n\
                        {% endfor %}
                    {% endif %}
                                </span>\n\
                            </div>\n\
                        </div>\n\
                    </form>\n\
                </div>';
                    $('#modalbox').find('.devoops-modal-inner').html(formHtml);
                    $('#modalbox').find('.devoops-modal-bottom').html('<div class="pull-right no-padding">&nbsp;</div>\n\
                        <div class="pull-right no-padding">\n\
                            <button type="submit" class="btn btn-success pull-right">{{ 'Move'|trans }}</button>\n\
                            <button type="reset" id="form_reset" class="btn btn-default pull-right" >{{ 'Cancel'|trans }}</button>\n\
                        </div>');

                    $("#target_reseller option[value='"+$(this).data('id')+"']").prop('selected', 'selected');
                    $("#target_reseller").select2({minimumResultsForSearch: -1});

                    $("#modalbox").show();
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });

                LoadSelect2Script(DemoSelect2);
                LoadDataTablesScripts(TestTable1);
            });
        }

        document.addEventListener("DOMContentLoaded", yelp, false);
        
        var setResellerModal = function (data) {
            $("#modalbox_ad").find(".modal-header-name").children('span').text('{{ 'Editing reseller'|trans }}');
            if (data.data.length == 1) {
                var row = data.data[0];
                for (var field_name in row) {
                    $("#modalbox_ad input[name='" + field_name + "']").val(row[field_name]);
                }
            }
            $("#modalbox_ad input").removeAttr('disabled');
            $("#modalbox_ad").show();
        };

       
        var manageResellerList = function (obj) {
            JSSuccessModalBox(obj);
            $("#modalbox_ad").click();
            $('#datatable-1').DataTable().ajax.reload();
        };

        var manageResellerListError = function(data){
            JSErrorModalBox(data);
        }
        
    </script>
{% endblock %}