{% extends 'layout.twig' %}
{% import '/macro/iptw_macro.twig' as main_macro %}
{% set title = ('Applications'|trans ~ ': ' ~ 'applications catalog'|trans) | trans %}

{% block content %}
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a id="add_apps" href="#" class="btn btn-success pull-right">{{ 'Add application by URL'|trans }}</a>
            </div>
        </div>
        <div class="row">
            <div class="box">
                {% if attribute(app, 'dropdownAttribute') is defined %}
                    {{ main_macro.get_dropdown_attribute(app['dropdownAttribute']) }}
                {% endif %}
                <div class="box-content">
                    <div class="box-content no-padding">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div class="dataTables_processing"></div>
                                <table class="table  table-hover table-datatable" id="datatable-1">
                                    {% if attribute(app, 'dropdownAttribute') is defined %}
                                        {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                    {% endif %}
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" defer="defer">

        function TestTable1() {
            $('#datatable-1').on('xhr.dt', function (e, settings, json) {
                if (typeof (json.data) == 'object') {
                    for (var i in json.data) {
                        var item = json.data[i];
                        var id = json.data[i].id;

                        json.data[i].name = '<a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/application-detail?id=' + id + '">' + json.data[i].name + '</a>';
                        var status = item.status;
                        if (!item.current_version) {
                            item.current_version = "{{ 'Undefined'|trans }}"
                        }
                        if (item.installed) {
                            item.current_version += ' ' + (item.available_version != item.current_version ? '&nbsp;&nbsp;&nbsp;<a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/application-detail?id=' + id + '">{{ 'Update'|trans }}</a>' : '');
                            item.status = item.status == '1' ? "{{ 'Active'|trans }}" : "{{ 'Disabled'|trans }}";
                        } else {
                            item.current_version = ' ' + '<a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/application-detail?id=' + id + '">{{ 'Install'|trans }}</a>';
                            item.status = "{{ 'Not installed'|trans }}";
                        }

                        json.data[i].operations = "<div class='col-xs-3 col-sm-8'>\n\
                                                        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>\n\
                                                            <i class='pull-right fa fa-cog'></i>\n\
                                                        </a>\n\
                                                        <ul class='dropdown-menu pull-right'>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' " + (!item.installed ? 'disabled="disabled"' : '') + " href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/application-toggle-state' data-id='" + id + "' data-status='" + (status == '1' ? '0': '1') + "'>\n\
                                                                    <span> " + (status != '1' ? "{{ 'Activate'|trans }}" : "{{ 'Deactivate'|trans }}") + " </span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' " + (status == '1' ? 'disabled="disabled"' : '') + " href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/application-delete' data-id='" + id + "'>\n\
                                                                    <span> {{ 'Delete'|trans }} </span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                        </ul>\n\
                                                    </div>";
                    }
                }
                var wrapper = $("#" + $(this).attr('id') + "_wrapper");
                if (wrapper.prev('.dataTables_processing').is(":visible")) {
                    wrapper.prev('.dataTables_processing').hide('');
                }
            }).dataTable({
                "processing": true,
                "serverSide": false,
                "ajax": {
                    "url": "{{ app.request.baseUrl }}/{{ app.controller_alias }}/application-list-json",
                    "data": function (d) {
                        var params = $.parseParams(window.location.href.split('?')[1] || ''); //window.location.href.split('?')[1] || ''
                        for (var i in params) {
                            d[i] = params[i];
                        }
                    }
                },
                "deferLoading": [{{ app.recordsFiltered }}, {{ app.totalRecords }}],
                "language": {
                    "url": "{{ app.datatable_lang_file }}"
                },
                {% if attribute(app, 'dropdownAttribute') is defined %}
                {{ main_macro.get_datatable_column(app['dropdownAttribute']) }}
                {% endif %}
                "bFilter": true,
                "bPaginate": true,
                "bInfo": true,
                "columnDefs": [
                    {className: "action-menu", "targets": [-1]},
                    {"searchable": false, "targets": [-1, -2, -3, -4]},
                    {"sortable": false, "targets": [-1]}
                ]
            });
        }

        function yelp() {
            $(document).ready(function () {
                $(document).on('click', "a.main_ajax", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $("#modalbox").data('complete', 0);
                    if ($(this).attr("disabled")) {
                        JSErrorModalBox({msg: "{{ 'Action is not available'|trans }}"});
                    } else {
                        showModalBox();
                        ajaxPostSend($(this).attr('href'), $(this).data(), false );
                    }
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });

                $(document).on('click', "#modalbox, #modalbox a.close-link, #modalbox a.close-link *", function (e) {
                    if (e.currentTarget != e.target) {
                        return;
                    }
                    e.stopPropagation();
                    e.preventDefault();
                    if ($("#modalbox").data('complete') && $("#modalbox").data('complete') == 1) {
                        closeModalBox();
                    } else {
                        for (i = 0; i < 3; i++) {
                            $('#modalbox > div').fadeTo('slow', 0.5).fadeTo('slow', 1.0);
                        }
                    }
                    return false;
                });

                $(document).on("click", "#add_apps", function (e) {
                    if (e.currentTarget != e.target) {
                        return;
                    }
                    e.stopPropagation();
                    e.preventDefault();

                    buildGetForm();

                    $('#modalbox').show();

                    return false;
                });

                $(document).on('click', "#modalbox button[type='submit']", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var sendData = new Object();
                    var form_fields = $("#modalbox").find('form').find(".own_fields:not(:disabled)");
                    form_fields.each(function () {
                        if ($(this).val()) {
                            if (this.type.toUpperCase() != 'CHECKBOX' || this.checked) {
                                sendData[this.name] = $(this).val();
                            }
                        }
                    });
                    var action = $("#modalbox").find('form').attr('action');
                    JSshowModalBox();
                    ajaxPostSend(action, sendData, false, false);
                    return false;
                });

                $(document).on('click', "#modalbox button[type='reset']", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    JScloseModalBox();
                    return false;
                });

                $(document).on('click', '#add_apps_back', function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    var url = $('#apps_url').val();
                    JScloseModalBox();
                    buildGetForm();
                    $('#apps_url').val(url);
                    return false;
                });

                LoadDataTablesScripts(TestTable1);
            });
        }

        document.addEventListener("DOMContentLoaded", yelp, false);

        var manageList = function (obj) {
            JSSuccessModalBox(obj);
            $('#datatable-1').DataTable().ajax.reload();
        };

        function closeModalBox() {
            $("#modalbox").hide();
            $('#modalbox').find('.modal-header-name span').empty();
            $('#modalbox').find('.devoops-modal-inner').empty();
            $('#modalbox').find('.devoops-modal-bottom').empty();
        }

        function showModalBox() {
            $('#modalbox').find('.modal-header-name span').text('{{ 'Wait'|trans }}...');
            $('#modalbox').find('.devoops-modal-inner').html('<span>{{ 'Request is being processed'|trans }}...</span>');
            $('#modalbox').find('.devoops-modal-bottom').empty();
            $("#modalbox").show();
        }

        var manageListError = function (obj) {
            JSErrorModalBox(obj);
        };

        var errAction = function (obj) {
            JSErrorModalBox(typeof(obj) != 'undefined' ? obj: {});
        };

        var buildSaveFormError = function(obj){
            JSErrorModalBox(obj);
        };

        function buildGetForm() {
            $("#modalbox").hide();
            $("#modalbox").data('complete', 1);
            $('#modalbox').find('.modal-header-name span').text('{{ 'Add application by URL (Step 1)'|trans }}');
            $('#modalbox').find('.devoops-modal-inner').html($("#modal_get_form_body").text());
            $('#modalbox').find('.devoops-modal-bottom').html($("#modal_get_form_buttons").text());
            $('#modalbox').show();
        }

        function buildSaveForm(data) {
            $("#modalbox").hide();
            $("#modalbox").data('complete', 1);
            $('#modalbox').find('.modal-header-name span').text('{{ 'Add application by URL (Step 2)'|trans }}');
            $('#modalbox').find('.devoops-modal-inner').html($("#modal_save_form_body").text());
            $('#modalbox').find('.devoops-modal-bottom').html($("#modal_save_form_buttons").text());
            fillModalForm(data.data);
            $('#modalbox').show();
        }


        var fillModalForm = function (data) {
            if (data.repository && data.repository.url) {
                var regExp = new RegExp('\\.git$', 'gi');
                $('#apps_url').val(data.repository.url.replace(regExp, ''));
            }
            if (data.name) {
                $('#apps_name').val(data.name).next('h5').text(data.name);
            }
            if (data.version) {
                $('#apps_version').val(data.version).next('h5').text(data.version);
            }
            if (data.options) {
                $('#apps_options').val(JSON.stringify(data.options));
            }
            if (data.description) {
                $('#apps_description').text(data.description);
            }
        };

        var changeStatus = function(obj){
            manageList(obj);
        };

        var changeStatusError = function(obj){
            JSErrorModalBox(obj);
            $('#app_status').prop('checked', !$('#app_status').is(':checked'));
        };

    </script>

    <script type="text/template" id="modal_get_form_body">
        <div class="box-content">
            <form class="form-horizontal" role="form" action="{{ app.request.baseUrl }}/{{ app.controller_alias }}/application-get-data-from-repo">
                <div class="form-group">
                    <label class="col-sm-2 control-label col-sm-offset-1">{{ 'URL'|trans }}</label>
                    <div class="col-xs-10 col-sm-8">
                        <span class="col-xs-12 col-sm-12">
                            <input type="text" class="own_fields form-control" name="apps[url]" value="" id="apps_url">
                        </span>
                        <span class="help-inline col-xs-12 col-sm-12">
                            <span class="small txt-default">{{ 'Enter URL to the application repository'|trans }}</span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </script>

    <script type="text/template" id="modal_get_form_buttons">
        <div class="pull-right no-padding">&nbsp;</div>
        <div class="pull-right no-padding">
            <button type="submit" class="btn btn-success pull-right">{{ 'Next'|trans }}</button>
            <button type="reset" class="btn btn-default pull-right">{{ 'Cancel'|trans }}</button>
        </div>
    </script>

    <script type="text/template" id="modal_save_form_body">
        <div class="box-content">
            <form class="form-horizontal" role="form" action="{{ app.request.baseUrl }}/{{ app.controller_alias }}/application-add">
                <div class="form-group">
                    <label class="col-sm-2 control-label col-sm-offset-1">{{ 'URL'|trans }}</label>
                    <div class="col-xs-10 col-sm-8">
                        <span class="col-xs-12 col-sm-12">
                            <input type="text" class="own_fields form-control" name="apps[url]" id="apps_url" value="" readonly="readonly">
                        </span>
                        <span class="help-inline col-xs-12 col-sm-12">
                            <span class="small txt-default">{{ 'Enter URL to the application repository'|trans }}</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label col-sm-offset-1">{{ 'Application'|trans }}</label>
                    <div class="col-xs-10 col-sm-8">
                        <span class="col-xs-12 col-sm-12">
                            <input type="hidden" class="own_fields form-control" name="apps[name]" id="apps_name" value="" readonly="readonly">
                            <h5></h5>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label col-sm-offset-1">{{ 'Version'|trans }}</label>
                    <div class="col-xs-10 col-sm-8">
                        <span class="col-xs-12 col-sm-12">
                            <input type="hidden" class="own_fields form-control" name="apps[options]" id="apps_options" value="" readonly="readonly" disabled="disabled">
                            <input type="hidden" class="own_fields form-control" name="apps[current_version]" value="" id="apps_version" readonly="readonly" disabled="disabled">
                            <h5></h5>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label col-sm-offset-1">{{ 'About app'|trans }}</label>
                    <div class="col-xs-10 col-sm-8">
                        <span class="col-xs-12 col-sm-12">
                            <textarea class="own_fields form-control" name="apps[description]" id="apps_description" readonly="readonly" rows="10" disabled="disabled"></textarea>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </script>

    <script type="text/template" id="modal_save_form_buttons">
        <div class="pull-left no-padding">
            <button type="reset" class="btn btn-default pull-left">{{ 'Cancel'|trans }}</button>
        </div>
        <div class="pull-right no-padding">
            <button type="submit" class="btn btn-success pull-right">{{ 'Save'|trans }}</button>
            <button type="button" id="add_apps_back" class="btn btn-success pull-right">{{ 'Back'|trans }}</button>
        </div>
    </script>
{% endblock %}