{% extends 'layout.twig' %}
{% import '/macro/iptw_macro.twig' as main_macro %}

{% set title = ('Audio club'|trans ~ ': ' ~ 'years list'|trans) | trans %}

{% block content %}
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/add-audio-years" class="btn btn-success pull-right" id="add_audio_years">{{ 'Add year'|trans }}</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box">
                    <div class="box-content">
                        <div class="box-content no-padding">
                            <div class="row">
                                <div class="dataTables_processing"></div>
                                <table class="table  table-hover table-datatable" id="datatable-1">
                                    {% if attribute(app, 'dropdownAttribute') is defined %}
                                        {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                    {% endif %}
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" defer>

        function TestTable1() {
            $('#datatable-1').on('xhr.dt', function (e, settings, json) {
                if (typeof (json.data) == 'object') {
                    for (var i in json.data) {
                        var id = json.data[i].id;
                        var albums_count = json.data[i].albums_count;
                        json.data[i].operations = "<div class='col-xs-3 col-sm-8'>\n\
                                                        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>\n\
                                                            <i class='pull-right fa fa-cog'></i>\n\
                                                        </a>\n\
                                                        <ul class='dropdown-menu pull-right'>\n\
                                                            <li>\n\
                                                                <a href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/edit-audio-years' data-yearsid='" + id + "' id='edit_audio_years_" + id + "'>\n\
                                                                    <span>{{ 'Edit'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='remove-audio-years' " + (albums_count != "0" ? "disabled='disabled' warning_msg='{{ 'First, delete or modify all the albums of this year'|trans }}'" : "") + "  data-yearsid='" + id + "'>\n\
                                                                    <span>{{ 'Delete'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                        </ul>\n\
                                                    </div>";
                        var name = json.data[i].name;

                        json.data[i].name = '<a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/edit-audio-years" data-yearsid="' + id + '" id="edit_audio_years_' + id + '">' + name + '</a>';
                    }
                }
            }).dataTable({
                "processing": true,
                "serverSide": true,
                "pageLength": 50,
                "ajax": {
                    "url": "{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-years-list-json"
                },
                "language": {
                    "url": "{{ app.datatable_lang_file }}"
                },
                {% if attribute(app, 'dropdownAttribute') is defined %}
                {{ main_macro.get_datatable_column(app['dropdownAttribute']) }}
                {% endif %}
                "bFilter": true,
                "bPaginate": true,
                "bInfo": true,
                "aoColumnDefs": [
                    { className: "action-menu", "targets": [ -1 ] },
                    {"searchable": false, "targets": [-2, -1]},
                    {"sortable": false, "targets": [-1]}
                ]
            }).prev('.dataTables_processing').hide('');

        }

        function yelp() {
            $(document).ready(function () {
                $(document).on('change keyup', '#audio_years_name', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var _this = $(this);
                    _this.val(_this.val().replace(/^\s+/ig, '').replace(/\s{2}$/, ' '));
                    _this.next('div').removeClass('bg-danger').css('visibility', 'hidden').html('&nbsp;');
                    $('#modalbox button[type="submit"]').removeAttr("disabled");
                    ajaxPostSend('{{app.request.baseUrl}}/{{app.controller_alias}}/check-audio-years-name', {name: _this.val()});
                    return false;
                });

                $(document).on('click', "a.main_ajax", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var _this = this;
                    $("#modalbox").data('complete', 0);
                    var sendData = $(_this).data();
                    if ($(_this).attr("disabled")) {
                        JSErrorModalBox({msg: "{{ 'Action is not available'|trans }}! " + ($(_this).attr('warning_msg') ? $(_this).attr('warning_msg') : '')});
                    } else {
                        showModalBox();
                        var timer = setInterval(function(){
                            if ($("#modalbox").is(":visible")) {
                                ajaxPostSend($(_this).attr('href'), sendData, false );
                                clearInterval(timer);
                            }
                        }, 10);
                    }
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });

                $(document).on('click', '#add_audio_years, a[id^="edit_audio_years_"]', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    openModalBox($(this));
                    return false
                });

                $(document).on('click', "#modalbox button[type='reset'], #modalbox, #modalbox a.close-link, #modalbox a.close-link *", function (e) {
                    if (e.currentTarget != e.target) {
                        return;
                    }
                    e.stopPropagation();
                    e.preventDefault();
                    closeModalBox();
                    return false;
                });

                $(document).on('click submit', "#modalbox button[type='submit'], #modalbox form", function (e) {
                    if (e.currentTarget != e.target) {
                        return;
                    }
                    var sendData = {
                        id: $("#modalbox input[type='hidden']").val(),
                        name: $("#modalbox input[type='text']").val()
                    };
					if( !$('#audio_years_name').val() ) {
                        $('#audio_years_name').css('border','1px solid red');
					} else {
                        $('#audio_years_name').css('border','');
                        e.stopPropagation();
                        e.preventDefault();
                        ajaxPostSend($("#modalbox form").attr('action'), sendData, false);
                        closeModalBox();
                        notty('<span>{{ 'Done'|trans }}!</span>','success');
                        return false;
					}
                });

                $(document).on('click', "a.remove-audio-years", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var _this = this;
                    if ($(_this).attr("disabled")) {
                        JSErrorModalBox({msg: "{{ 'Action is not available'|trans }}! " + ($(_this).attr('warning_msg') ? $(_this).attr('warning_msg') : '')});
                        return false;
                    }
                    JScloseModalBox();
                    $('#modalbox').find('.modal-header-name span').addClass('txt-danger').text('{{ 'Warning'|trans }}' + '!');
                    $('#modalbox').find('.devoops-modal-inner').html($("#modal_del_body").text());
                    $('#modalbox').find('.devoops-modal-bottom').html($("#modal_del_buttons").text());

                    $('#del_year_btn').data($(_this).data());

                    $('#modalbox').show();
                    return false;
                });

                LoadDataTablesScripts(TestTable1);
            });
        }

        document.addEventListener("DOMContentLoaded", yelp, false);

        var addAudioYear = function(data){
            closeModalBox();
            $('#datatable-1').DataTable().ajax.reload();
        };
        
        var editAudioYear = function(data){
            closeModalBox();
            $('#datatable-1').DataTable().ajax.reload();
        };
        
        var removeAudioYear = function (data) {
            closeModalBox();
            $('#datatable-1').DataTable().ajax.reload();
        };

        var checkAudioYear = function (data) {
            if (typeof(data) != 'undefined') {
                $('#modalbox button[type="submit"]').removeAttr("disabled");
                $('#audio_years_name').next('div').append('<i class="txt-success fa fa-check"></i> ' + data.chk_rezult).css('visibility', 'visible');
            } else {
                JSErrorModalBox();
            }
        };

        var checkAudioYearError= function (data) {
            if (typeof(data) != 'undefined') {
                $('#modalbox button[type="submit"]').attr("disabled", "disabled");
                $('#audio_years_name').next('div').append('<i class="txt-danger fa fa-ban"></i> ' + data.error).css('visibility', 'visible');
            } else {
                JSErrorModalBox();
            }
        };

        function closeModalBox() {
            $("#modalbox").hide();
            $('#modalbox').find('.modal-header-name span').removeClass('txt-danger').empty();
            $('#modalbox').find('.devoops-modal-inner').empty();
            $('#modalbox').find('.devoops-modal-bottom').empty();
        }

        function showModalBox() {
            $('#modalbox').find('.modal-header-name span').removeClass('txt-danger').text('{{ 'Wait'|trans }}...');
            $('#modalbox').find('.devoops-modal-inner').html('<span>{{ 'Request is being processed'|trans }}...</span>');
            $('#modalbox').find('.devoops-modal-bottom').empty();
            $("#modalbox").show();
        }
    
    function openModalBox(obj){
        $('#modalbox').find('.modal-header-name span').text((obj.data('yearsid')? '{{ 'Edit'|trans }}': '{{ 'Add'|trans }}') + ' {{ 'year'|trans }}');
        if ($('#modalbox').find('.devoops-modal-inner').find('input').length == 0) {
            $('#modalbox').find('.devoops-modal-inner').html('\n\
                <div class="box-content">\n\
                    <form class="form-horizontal" role="form">\n\
                        <div class="form-group">\n\
                            <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Year'|trans }}<span class="icon-required">*</span></label>\n\
                            <div class="col-xs-10 col-sm-8">\n\
                                <span class="col-xs-8 col-sm-8">\n\
                                    <input type="hidden" name="id">\n\
                                    <input type="text" name="name"  class="form-control own_fields" id="audio_years_name">\n\
                                    <div class="bg-danger"></div>\n\
                                </span>\n\
                            </div>\n\
                        </div>\n\
                    </form>\n\
                </div>');
            $('#modalbox').find('.devoops-modal-bottom').html('<div class="pull-right no-padding">&nbsp;</div>\n\
                        <div class="pull-right no-padding">\n\
                            <button type="submit" class="btn btn-success  pull-right">{{ 'Save'|trans }}</button>\n\
                            <button type="reset" class="btn btn-default pull-right" >{{ 'Cancel'|trans }}</button>\n\
                        </div>');
        }
        
        if (obj.data('yearsid')) {
            $('#modalbox').find('.devoops-modal-inner').find('input[type="hidden"]').val(obj.data('yearsid'));
            $('#modalbox').find('.devoops-modal-inner').find('input[type="text"]').val(obj.closest('tr').find('td:first a').text());
        }
        $('#modalbox button[type="submit"]').removeAttr("disabled");
        $('#audio_years_name').next('div').removeClass('bg-danger').css('visibility', 'hidden').html('&nbsp;');
        $('#modalbox form').attr('action', obj.attr('href'));
        $("#modalbox").show();
        obj.closest('div.open').removeClass('open');
    }
    </script>

    <script type="text/template" id="modal_del_body">
        <div class="col-md-12">
            <span class="col-md-12 txt-default">{{ 'Do you really want delete this year?'|trans }}</span>
        </div>
    </script>

    <script type="text/template" id="modal_del_buttons">
        <div class="pull-right no-padding">
            <a id="del_year_btn" type="button" class="main_ajax btn btn-danger pull-right" href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/remove-audio-years'>{{ 'Delete'|trans }}</a>
            <button type="reset" id="del_year_button" class="btn btn-success pull-right">{{ 'Cancel'|trans }}</button>
        </div>
    </script>
{% endblock %}