{% extends 'layout.twig' %}
{% import '/macro/iptw_macro.twig' as main_macro %}

{% set title = 'audio-club' %}

{% block content %}
{#    <div class="row header_title">
        <div class="col-xs-10 col-sm-3">
            <h3>{% if app['audioAlbumEdit'] %}Редактировать{% else %}Добавить{% endif %} аудио альбом</h3>
        </div>
    </div>#}
    <div id="add_channel">
        {{ form_start(app['form'], {'method': 'POST', 'action': (app.request.baseUrl ~ '/' ~ app.controller_alias  ~ '/' ~ app.action_alias) | trans, 'attr': {'class': 'form-horizontal', 'role': 'form', 'id': 'form_'}}) }}
        <div class="bg-danger">
            <div class="bg-danger">
                {{ form_errors(app['form']) }}
            </div>
        </div>
        <div class="row">
            <div class="">
                <div class="box"> <a class="collapse-link">
                    <div class="box-header">
                        <div class="box-name">
                            <div class="row">
                                <div class="col-xs-10 col-sm-3">
                                    <span>Базовое</span>
                                </div>
                            </div>
                        </div>
                        <div class="box-icons">
                           
                                <i class="fa fa-chevron-up"></i>
                          
                        </div>
                        <div class="no-move"></div>
                    </div>  </a>
                    <div class="box-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Испольнитель</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].id) }}
                                    {{ form_widget(app['form'].performer_id, {'attr': {'class': 'populate placeholder'} }) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].performer_id) }}
                                    </div>
                                </div>
                                <a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-artists">Добавить исполнителя</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Альбом</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].name, {'attr': {'class': 'form-control'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].name) }}
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Можно использовать буквы, цифры и символы из списка: ! @ # $ % ^ & * ( ) _ - + : ; , .</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Жанр</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].genre_ids, {'attr': {'class': 'populate placeholder'} }) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].genre_ids) }}
                                    </div>
                                </div>
                                <a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-genres">Добавить жанр</a>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Можно выбрать до 4-х жанров</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Год выпуска</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].year_id, {'attr': {'class': 'populate placeholder'} }) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].year_id) }}
                                    </div>
                                </div>
                                <a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-years">Добавить год</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Обложка</label>
                           <div class="col-xs-10 col-sm-6">
                               
                                <div class="pull-left" id="bootstrapped-fine-uploader">
                                    {#<a class="btn btn-success file-btn"><span>Добавить картинку</span><input type="file" name="channel_logo" ></a>#}
                                </div>
								<div class=" col-xs-10 col-sm-4 pull-right">
                                    {{form_widget(app['form'].cover) }}
                                    <img class="img-rounded channel-logo" src="{% if app['form'].cover.vars.value%}{{app.workHost}}{{app['curr_cover_dir']}}{{app['form'].cover.vars.value}}{% endif %}" alt="" style="max-width: 100%;">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Страна исполнителя</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].country_id, {'attr': {'class': 'populate placeholder'} }) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].country_id) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">  <a class="collapse-link">
                    <div class="box-header">
                        <div class="box-name">
                            <div class="row">
                                <div class="col-xs-10 col-sm-3">
                                    <span>Композиции</span>
                                </div>
                            </div>
                        </div>
                        <div class="box-icons">
                          
                                <i class="fa fa-chevron-up"></i>
                          
                        </div>
                        <div class="no-move"></div>
                    </div>
  </a>
                    <div class="box-content" id="iptv_list">
                        <div class="row">
                            <div class="col-xs-8 col-sm-12">
                                <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/add-audio-track" id="add_track" class="btn btn-success pull-right">Добавить композицию</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    {% if attribute(app, 'dropdownAttribute') is defined %}
                                        {{ main_macro.get_dropdown_attribute(app['dropdownAttribute']) }}
                                    {% endif %}
                                    <div class="box-content">
                                        <div class="box-content no-padding">
                                            <table class="table  table-hover table-datatable" id="datatable-1" data-album_id="{{ app['audioAlbumID'] }}">
                                                {% if attribute(app, 'dropdownAttribute') is defined %}
                                                    {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                                {% endif %}
                                                <tbody>
                                                    {% if attribute(app, 'allAlbumComposition') is defined %}
                                                        <!-- Start: list_row -->
                                                        {% for item in app.allAlbumComposition %}
                                                            <tr data-trackid="{{ item.id }}">
                                                                <td>{{ item.number }}</td>
                                                                <td><a class="main_ajax" href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-albums-composition-list-json" data-trackid="{{ item.id }}" >{{ item.name }}</a></td>
                                                                <td>{{ item.url }}</td>
                                                                <td>{{ item.language }}</td>
                                                                <td>{% if item.status %}<span class="txt-success">Вкл</span>{% else %}<span class="txt-danger">Выкл</span>{% endif %}</td>
                                                                <td>
                                                                    <div class="col-xs-3 col-sm-8">
                                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">                    
                                                                            <i class="pull-right fa fa-cog"></i>
                                                                        </a>
                                                                        <ul class="dropdown-menu pull-right">
                                                                            <li>
                                                                                <a class="main_ajax" href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-albums-composition-list-json" data-trackid="{{ item.id }}">
                                                                                    <span>Изменить</span>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a class="main_ajax" href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/toggle-audio-album-track" data-trackid="{{ item.id }}" data-trackstatus="{{ item.status }}">
                                                                                    <span>{% if item.status %}Отключить{% else %}Включить{% endif %}</span>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a class="main_ajax" href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/remove-audio-album-track" data-trackid="{{ item.id }}">
                                                                                    <span>Удалить</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <!-- End: list_row -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box">
                    <div class="box-content">
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 pull-right">
                                {{ form_widget(app['form'].save, { 'label': 'Сохранить' , attr: {'class': 'btn btn-success pull-right'}}) }}
                                <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/audio-albums" class="btn btn-default pull-right">Отмена</a>
{#                                {{ form_widget(app['form'].reset, { 'label': 'Отмена' , attr: {'class': 'btn btn-default pull-right'}}) }}#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="">
            {{ form_rest(app.form) }}
        </div>
        {{ form_end(app['form']) }}  
    </div>

    <div id="modalbox_ad">
        <div class="devoops-modal">
            <div class="devoops-modal-header">
                <div class="modal-header-name">
                    <span></span>
                </div>
                <div class="box-icons">
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="devoops-modal-inner">
                <div class="box">
                    <div class="box-content">
                        <form class="form-horizontal" role="form" id="track_form" action="{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-tracks-manage">
                            <!-- track name -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Название</label>
                                <div class="col-xs-10 col-sm-8 no-padding">
                                    <div class=" col-xs-10 col-sm-10 ">
                                        <input type="hidden" name="id">
                                        <input type="text" name="name" class='form-control'>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">Можно использовать буквы, цифры и символы из списка: ! @ # $ % ^ & * ( ) _ - + : ; , .</span>
                                    </span>
                                </div>
                            </div>

                            <!-- language -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Язык исполнения</label>
                                <div class="col-xs-10 col-sm-8 no-padding">
                                    <div class=" col-xs-10 col-sm-6 ">
                                        <select class="populate placeholder" name="language_id" id="s2_track_lang">
                                            {% if attribute(app, 'allLanguages') is defined %}
                                                {% for s_item in app.allLanguages %}
                                                    <option value="{{s_item.id}}">{{s_item.name}}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- URL -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">URL</label>
                                <div class="col-xs-10 col-sm-8 no-padding">
                                    <div class=" col-xs-10 col-sm-10">
                                        <input type="text" name="url" class='form-control'>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="devoops-modal-bottom">
                <div class="box ">
                    <div class="box-content">
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 pull-right">
                                <button type="submit" class="btn btn-success pull-right">Сохранить</button>
                                <button type="reset" class="btn btn-default pull-right" >Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function DemoSelect2() {
            $.getScript("{{ app.request.baseUrl }}/plugins/select2/select2_locale_ru.js", function () {
                $('#form_performer_id').select2({minimumResultsForSearch: -1});
                $('#form_year_id').select2({minimumResultsForSearch: -1});
                $('#form_country_id').select2({minimumResultsForSearch: -1});
                $('#form_genre_ids').select2({minimumResultsForSearch: -1, maximumSelectionSize: 4});
                $('#s2_track_lang').select2({minimumResultsForSearch: -1});

            });
        }

        function TestTable1() {
            $('#datatable-1').on('xhr.dt', function (e, settings, json) {
                if (typeof (json.data) == 'object') {
                    for (var i in json.data) {
                        var id = json.data[i].id;
                        var status = json.data[i].status;
                        json.data[i].operations = "<div class='col-xs-3 col-sm-8'>\n\
                                                        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>\n\
                                                            <i class='pull-right fa fa-cog'></i>\n\
                                                        </a>\n\
                                                        <ul class='dropdown-menu pull-right'>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-albums-composition-list-json' data-trackid='" + id + "'>\n\
                                                                    <span>Изменить</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/toggle-audio-album-track' data-trackid='" + id + "' data-trackstatus='" + status + "'>\n\
                                                                    <span>" + (status != 0 ? "Отключить" : "Включить") + "</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/remove-audio-album-track' data-trackid='" + id + "'>\n\
                                                                    <span>Удалить</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                        </ul>\n\
                                                    </div>";
                        json.data[i].status = status != 0 ? "<span class='txt-success'>Вкл</span>" : "<span class='txt-danger'>Выкл</span>";

                        var name = json.data[i].name;

                        json.data[i].name = '<a class="main_ajax" href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-albums-composition-list-json" data-trackid="' + id + '" >' + name + '</a>';
                    }
                }
            }).dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-albums-composition-list-json",
                    "data": function (d) {
                        d['album_id'] = $("#datatable-1").data("album_id");
                    }
                },
                "deferLoading": [{{ app.recordsFiltered }}, {{ app.totalRecords }} ],
                "language": {
                    "url": "./plugins/datatables/lang/ru_RU.json"
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    nRow.setAttribute('id', aData.RowOrder);  //Initialize row id for every row
                },
                "columns": [
                    {"data": "number"},
                    {"data": "name"},
                    {"data": "url"},
                    {"data": "language"},
                    {"data": "status"},
                    {"data": "operations"}
                ],
				
                "lengthMenu": [-1],
                "bFilter": true,
                "bPaginate": false,
                "bInfo": true,
                "ordering": false,
                "columnDefs": [
                    { className: "action-menu", "targets": [ -1 ] },
                    {"searchable": false, "targets": [-1]},
                    {"sortable": false, "targets": [-1]},
                    {className: "data-filter-status", "targets": [-2]},
                    {"width": "20%", "targets": [1]},
                    {"width": "30%", "targets": [2]}
                ]
            }).rowReordering({
                iIndexColumn: 0,
                sURL: "{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-track-reorder"
            });
        }

        function yelp() {
            $(document).ready(function () {

                var uploader = $("#bootstrapped-fine-uploader").fineUploader({
                    element: $('#bootstrapped-fine-uploader'),
                    autoUpload: true,
                    debug: true,
                    multiple: false,
                    text: {
                        formatProgress: "{percent}% из {total_size}",
                        failUpload: "Сбой при загрузке",
                        waitingForResponse: "Обработка...",
                        paused: "Пауза"
                    },
                    request: {
                        endpoint: '{{ app.controller_alias }}/edit-audio-cover?cover=' + ($('#form_cover').val() ? $('#form_cover').val() : 'new')
                    },
                    validation: {
                        allowedExtensions: ['jpeg', 'jpg', 'png'],
                        sizeLimit: 1048576 // 1Mb
                    },
                    template: 'qq-template-bootstrap',
                    classes: {
                        success: 'alert alert-success',
                        fail: 'alert alert-error'
                    }

                }).on('complete', function (event, id, name, response) {
                    $(this).prev('div').children('img').attr('src', "{{app.workHost}}" + response.path + '/' + response.name + '?' + $.random(100000)).css('max-width', '100%');
                    $('#form_cover').val(response.name);

                    var postUrl = '{{ app.controller_alias }}/edit-audio-cover?cover=' + (typeof (response.name) != 'undefined' && response.name != '' ? response.name : 'new');
                    $(this).fineUploader('setEndpoint', postUrl);
                    return false;
                });
                $("#bootstrapped-fine-uploader").on('click', ".qq-upload-cancel", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
        {#$.ajax({
            url: 'tv-channels/delete-logo',
            data: {id: '{{ app.oneChannel.id }}'},
            success: function(data){
                if (data.success) {
                    $(this).prev('div').children('img').attr('src', '');
                    $(this).prev('div').children('input').val('');
                } else {
                    console.log(data.error);
                }
            },
            error: function(){
                alert('Ошибка');
            }
        });#}
                        return false;
                    });

                    $("#form_reset").on('click', function (e) {
                        e.stopPropagation();
                        e.preventDefault();
                        $(this).closest('form').get(0).reset();
        {#                    $("#cmd_data").find("tr:visible").remove();#}
                        return false;
                    });

                    $("#add_track").on("click", function (e) {
                        e.stopPropagation();
                        e.preventDefault();
                        var tmp_id = $('#datatable-1 tr:last').attr('id');
                        if (!tmp_id) {
                            tmp_id = "tr_" + $.randString();
                            $('#datatable-1 tr:last').attr('id', tmp_id);
                        }
                        $("#modalbox_ad").data('tr_id', tmp_id);

                        $("#modalbox_ad").find(".modal-header-name").children('span').text('Добавить трек');
                        $("#modalbox_ad input").prop("disabled", false).removeAttr('disabled').val('');
                        $("#modalbox_ad select").prop("disabled", false).removeAttr('disabled').find('option').removeAttr('selected');
                        $('#s2_track_lang').select2("destroy").select2({minimumResultsForSearch: -1});
                        $("#modalbox_ad").show();
                        //        $(this).closest('.form-group').find('tbody tr:hidden').show();
                        return false;
                    });

                    $(document).on('click', "a.main_ajax", function (e) {
                        e.stopPropagation();
                        e.preventDefault();
                        var sendData = $(this).data();
                        sendData['album_id'] = {{ app['audioAlbumID'] }};
                        ajaxPostSend($(this).attr('href'), sendData, false, false);
                        $(this).closest('div.open').removeClass('open');
                        return false;
                    });

                    $("#modalbox_ad button[type='submit']").on('click', function (e) {
                        e.stopPropagation();
                        e.preventDefault();
                        var sendData = {};
                        $("#modalbox_ad input, #modalbox_ad select").each(function () {
                            sendData[this.name] = $(this).val();
                        });
                        sendData['album_id'] = {{ app['audioAlbumID'] }};
                        ajaxPostSend($("#modalbox_ad form").attr('action'), sendData, false, false);
                        return false;
                    });

                    $("#form_save").on('click', function (e) {
                        var tracksId = [];
                        $("#datatable-1 tr:has(td)").each(function () {
                            tracksId.push($(this).attr('id').replace(/[^\d]/ig, ''));
                        });

                        $("#form_").append("<input type='hidden' name='album_tracks' value='" + JSON.stringify(tracksId) + "'>");
                    });

                    LoadSelect2Script(DemoSelect2);
                    LoadDataTablesScripts(TestTable1);

                });

            }

            document.addEventListener("DOMContentLoaded", yelp, false);

            var setCompositionModal = function (data) {
                $("#modalbox_ad").find(".modal-header-name").children('span').text('Изменить трек');
                if (data.data.length == 1) {
                    var row = data.data[0];
                    for (var field_name in row) {
                        $("#modalbox_ad input[name='" + field_name + "']").val(row[field_name]);
                    }
                    $("#modalbox_ad select[name='language_id'] option").each(function () {
                        $(this).attr('selected', $(this).val().toString() == data.data[0]['language_id'].toString());
                    })
                }
                $("#modalbox_ad input").removeAttr('disabled');
                $('#s2_track_lang').select2("destroy").select2({minimumResultsForSearch: -1});
                $("#modalbox_ad").show();
            }

            var setCompositionModalError = function (data) {
                alert('Error no data');
            }

            var audioTracksManage = function () {
                $("#modalbox_ad").click();
                $('#datatable-1').DataTable().ajax.reload();
            }
    </script>

    <script type="text/template" id="qq-template-bootstrap">
        <div class="qq-uploader-selector qq-uploader span12">
        <div class="qq-upload-drop-area-selector qq-upload-drop-area span12" qq-hide-dropzone>
        <!--<span>Drop files here to upload</span>-->
        </div>
        <div class="qq-upload-button-selector qq-upload-button btn btn-success" style="width: auto; margin: 0 auto; float: none; display: block;">
        <div><i class="icon-upload icon-white"></i>Добавить картинку</div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
        <!--<span>Processing dropped files...</span>-->
        <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" style="margin-top: 10px; text-align: center;">
        <li>
        <div class="qq-progress-bar-container-selector">
        <div class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <span class="qq-upload-file-selector qq-upload-file"></span>
        <span class="qq-upload-size-selector qq-upload-size"></span>
        <!--<a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Удалить</a>-->
        <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
        </li>
        </ul>
        </div>
    </script>
{% endblock %}