{% extends 'layout.twig' %}
{% import '/macro/iptw_macro.twig' as main_macro %}

{% set title = ('Audio club'|trans ~ ': ' ~ (app.audioAlbumEdit ? ('Edit album'|trans ~ " '"~ app.albumName ~ "'"): 'Add album'|trans)) | trans %}
{% set active_alias = 'audio-albums' %}

{% block content %}
    <div id="add_channel">
        {{ form_start(app['form'], {'method': 'POST', 'action': (app.request.baseUrl ~ '/' ~ app.controller_alias  ~ '/' ~ app.action_alias) | trans, 'attr': {'class': 'form-horizontal', 'role': 'form', 'id': 'form_'}}) }}
        <div class="bg-danger">
            <div class="bg-danger">
                {{ form_errors(app['form']) }}
            </div>
        </div>
        <div class="row">
            <div class="">
                <div class="box">
                    <a class="collapse-link">
                        <div class="box-header">
                            <div class="box-name">
                                <div class="row">
                                    <div class="col-xs-10 col-sm-3">
                                        <span>{{ 'Basic'|trans }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-icons">
                                <i class="fa fa-chevron-up"></i>
                            </div>
                            <div class="no-move"></div>
                        </div>
                    </a>
                    <div class="box-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Artist'|trans }}<span class="icon-required">*</span></label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].id) }}
                                    {{ form_widget(app['form'].performer_id, {'attr': {'class': 'populate placeholder', 'data-validation':'required'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].performer_id) }}
                                    </div>
                                </div>
                                <a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-artists">{{ 'Add artist'|trans }}</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Album'|trans }}<span class="icon-required">*</span></label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].name, {'attr': {'class': 'form-control', 'data-validation':'required'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].name) }}
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">{{ 'You can use symbols from the list: ! @ # $ % ^ & * ( ) _ - + : ; , .'|trans }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Genre'|trans }}<span class="icon-required">*</span></label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].genre_ids, {'attr': {'class': 'populate placeholder', 'data-validation':'required'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].genre_ids) }}
                                    </div>
                                </div>
                                <a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-genres">{{ 'Add genre'|trans }}</a>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">{{ 'You can choose up to 4 genres'|trans }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Year'|trans }}<span class="icon-required">*</span></label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].year_id, {'attr': {'class': 'populate placeholder', 'data-validation':'required'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].year_id) }}
                                    </div>
                                </div>
                                <a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-years">{{ 'Add year'|trans }}</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Cover'|trans }}</label>
                           <div class="col-xs-10 col-sm-6" >
                               <!-- The file upload form used as target for the file upload widget -->
                               <div id="fileupload" class="pull-left">
                                   <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                   <div class="fileupload-buttonbar">
                                       <div class="fileupload-buttons">
                                           <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="fileinput-button btn btn-success">
                                            <span>{{ 'Add a picture'|trans }}</span>
                                            <input type="file" name="files" style="opacity: 0;">
                                        </span>
                                       </div>
                                   </div>
                               </div>
								<div class=" col-xs-10 col-sm-4 pull-right" id="cover_container">
                                    {{form_widget(app['form'].cover) }}
                                    <img class="img-rounded channel-logo" src="{% if app['form'].cover.vars.value%}{{app.workHost}}{{app['curr_cover_dir']}}{{app['form'].cover.vars.value}}?ver=000000{% endif %}" alt="" style="max-width: 100%;">
                                    <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/delete-cover" data-cover_id="{% if app['form'].id.vars.value %}{{app['form'].id.vars.value}}{% endif %}"><span class="txt-primary">{{ 'Delete cover'|trans }}</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Country'|trans }}<span class="icon-required">*</span></label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].country_id, {'attr': {'class': 'populate placeholder'} }) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].country_id) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-content">
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 pull-right">
                                {{ form_widget(app['form'].save, { 'label': 'Save'|trans , attr: {'class': 'btn btn-success pull-right'}}) }}
                                <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/audio-albums" class="btn btn-default pull-right">{{ 'Cancel'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <a class="collapse-link">
                        <div class="box-header">
                            <div class="box-name">
                                <div class="row">
                                    <div class="col-xs-10 col-sm-3">
                                        <span>{{ 'Tracks'|trans }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-icons">
                                <i class="fa fa-chevron-up"></i>
                            </div>
                            <div class="no-move"></div>
                        </div>
                    </a>
                    <div class="box-content" id="iptv_list">
                        <div class="row3">
                            <div class="col-xs-8 col-sm-12">
                                <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/add-audio-track" id="add_track" class="btn btn-success pull-right">{{ 'Add track'|trans }}</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    {% if attribute(app, 'dropdownAttribute') is defined %}
                                        {{ main_macro.get_dropdown_attribute(app['dropdownAttribute']) }}
                                    {% endif %}
                                    <div class="box-content">
                                        <div class="box-content no-padding">
                                            <div class="dataTables_processing"></div>
                                            <table class="table  table-hover table-datatable" id="datatable-1" data-album_id="{{ app['audioAlbumID'] }}">
                                                {% if attribute(app, 'dropdownAttribute') is defined %}
                                                    {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                                {% endif %}
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div style="">
            {{ form_rest(app.form) }}
        </div>
        {{ form_end(app['form']) }}  
    </div>

    <div id="modalbox_ad">
        <div class="devoops-modal">
            <div class="devoops-modal-header">
                <div class="modal-header-name">
                    <span></span>
                </div>
                <div class="box-icons">
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <form class="form-horizontal" role="form" id="track_form" action="{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-tracks-manage">
            <div class="devoops-modal-inner">
                <div class="box">
                    <div class="box-content">
                            <!-- track name -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label col-sm-offset-1">{{ 'Title'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-6 no-padding">
                                    <div class=" col-xs-10 col-sm-10 ">
                                        <input type="hidden" name="id">
                                        <input type="text" name="name" data-validation='required' class='form-control'>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'You can use symbols from the list: ! @ # $ % ^ & * ( ) _ - + : ; , .'|trans }}</span>
                                    </span>
                                </div>
                            </div>

                            <!-- language -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label col-sm-offset-1">{{ 'Language'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-6 no-padding">
                                    <div class=" col-xs-10 col-sm-6 ">
                                        <select class="populate placeholder" data-validation='required' name="language_id" id="s2_track_lang">
                                            {% if attribute(app, 'allLanguages') is defined %}
                                                {% for s_item in app.allLanguages %}
                                                    <option value="{{s_item.id}}">{{s_item.name}}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- URL -->
                            <div class="form-group">
                                <label class="col-sm-2 control-label col-sm-offset-1">{{ 'URL'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-6 no-padding">
                                    <div class=" col-xs-10 col-sm-10">
                                        <input type="text" name="url" data-validation = 'custom' data-validation-regexp = '^(\w+\s)?\w+\:\/\/.+$' data-validation-error-msg = "{{ 'Invalid format links'|trans }}" class='form-control'>
                                    </div>
                                </div>
                            </div>
                    
                    </div>
                </div>
            </div>
            <div class="devoops-modal-bottom">
                <div class="box ">
                    <div class="box-content">
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 pull-right">
                                <button type="submit" class="btn btn-success pull-right">{{ 'Save'|trans }}</button>
                                <button type="reset" class="btn btn-default pull-right" >{{ 'Cancel'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">

        var conf = {
            lang : '{{ app.language }}',
            showHelpOnFocus : true,
            validateHiddenInputs: true,
            modules: 'jsconf',
            onSuccess: function () {
                if (this.form == '#track_form') {
                    var sendData = {};
                    $("#modalbox_ad input, #modalbox_ad select").each(function () {
                        sendData[this.name] = $(this).val();
                    });
                    sendData['album_id'] = {{ app['audioAlbumID'] }};
                    ajaxPostSend($("#modalbox_ad form").attr('action'), sendData, false, false);
                } else {
                    $("#form_").get(0).submit();
                }
                return false;
            },
            onError: function () {
                var _this = this;
                $(_this.form + " select").each(function(){
                    if ($(this).hasClass('error')) {
                        _this.highlight(this, _this.errorClass);
                    } else {
                        _this.unhighlight(this, _this.errorClass);
                    }
                });
                return false;
            },
            onkeyup: false,
            errorClass: "myErrorClass",

            errorPlacement: function (error, element) {
                var elem = $(element);
                error.insertAfter(element);
            },

            highlight: function (element, errorClass, validClass) {
                var elem = $(element);
                if (elem.hasClass("select2-offscreen")) {
                    $("#s2id_" + elem.attr("id") + " ul").addClass(errorClass);
                } else {
                    elem.addClass(errorClass);
                }
            },

            unhighlight: function (element, errorClass, validClass) {
                var elem = $(element);
                if (elem.hasClass("select2-offscreen")) {
                    $("#s2id_" + elem.attr("id") + " ul").removeClass(errorClass);
                    $("#s2id_" + elem.attr("id") + " a").removeClass(errorClass);
                } else {
                    elem.removeClass(errorClass).removeAttr('style');
                }
            }
        };

        function DemoSelect2() {
            $.getScript("{{ app.request.baseUrl }}/plugins/select2/i18n/{% if app["language"] %}{{ app["language"] }}{% else %}en{% endif %}.js", function () {
                $.fn.select2.defaults.set('dropdownAutoWidth', 'false');
                $.fn.select2.defaults.set('width', '100%');
                $('#form_performer_id').select2({minimumResultsForSearch: 1});
                $('#form_year_id').select2({minimumResultsForSearch: 1});
                $('#form_country_id').select2({minimumResultsForSearch: 1});
                $('#form_genre_ids').select2({minimumResultsForSearch: -1, maximumSelectionSize: 4});
                $('#s2_track_lang').select2({minimumResultsForSearch: 1});

            });
        }

        function TestTable1() {
            $('#datatable-1').on('xhr.dt', function (e, settings, json) {
                if (typeof (json.data) == 'object') {
                    for (var i in json.data) {
                        var id = json.data[i].id;
                        var status = json.data[i].status;
                        json.data[i].operations = "<div class='col-xs-3 col-sm-8'>\n\
                                                        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>\n\
                                                            <i class='pull-right fa fa-cog'></i>\n\
                                                        </a>\n\
                                                        <ul class='dropdown-menu pull-right'>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-albums-composition-list-json' data-trackid='" + id + "'>\n\
                                                                    <span>{{ 'Edit'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/toggle-audio-album-track' data-trackid='" + id + "' data-trackstatus='" + status + "'>\n\
                                                                    <span>" + (status != 0 ? "{{ 'Unpublish'|trans }}" : "{{ 'Publish'|trans }}") + "</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/remove-audio-album-track' data-trackid='" + id + "'>\n\
                                                                    <span>{{ 'Delete'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                        </ul>\n\
                                                    </div>";
                        json.data[i].status = status != 0 ? "<span class='txt-success'>{{ 'Published'|trans }}</span>" : "<span class='txt-danger'>{{ 'Unpublished'|trans }}</span>";

                        var name = json.data[i].name;

                        json.data[i].name = '<a class="main_ajax" href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-albums-composition-list-json" data-trackid="' + id + '" >' + name + '</a>';
                    }
                }
            }).dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-albums-composition-list-json",
                    "data": function (d) {
                        d['album_id'] = $("#datatable-1").data("album_id");
                    }
                },
                "deferLoading": [{{ app.recordsFiltered }}, {{ app.totalRecords }} ],
                "language": {
                    "url": "{{ app.datatable_lang_file }}"
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    nRow.setAttribute('id', aData.RowOrder);  //Initialize row id for every row
                },
                {% if attribute(app, 'dropdownAttribute') is defined %}
                {{ main_macro.get_datatable_column(app['dropdownAttribute']) }}
                {% endif %}
				
                "lengthMenu": [-1],
                "bFilter": true,
                "bPaginate": false,
                "bInfo": true,
                "ordering": false,
                "columnDefs": [
                    { className: "action-menu", "targets": [ -1 ] },
                    {"searchable": false, "targets": [-1]},
                    {"sortable": false, "targets": [-1]},
                    {className: "data-filter-status", "targets": [-2]}
                ]
            }).rowReordering({
                iIndexColumn: 0,
                sURL: "{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-track-reorder"
            }).prev('.dataTables_processing').hide('');
        }

        function initFileUploader(){
            $('#fileupload').fileupload({
                url: '{{ app.controller_alias }}/edit-audio-cover?cover=' + ($('#form_cover').val() ? $('#form_cover').val() : 'new'),
                type: 'POST',
                autoUpload: true,
                multipart: true,
                acceptFileTypes: /(\.|\/)(jpe?g|png)$/i,
                maxFileSize: 1000000,
                maxNumberOfFiles: 1
            }).bind('fileuploaddone', function (e, data) {
                var response;
                if (data && data.jqXHR && data.jqXHR.status && data.jqXHR.status == 200 && data.jqXHR.responseJSON) {
                    response = data.jqXHR.responseJSON;
                } else {
                    JSErrorModalBox();
                    return false;
                }
                var newSrc = "{{app.workHost}}" + response.path + '/' + response.name + '?ver=' + $.random(100000);
                $('#cover_container img').attr('src', newSrc).css('max-width', '100%');
                $('#form_cover').val(response.name);

                $('#cover_container a').data('file_name', (typeof (response.name) != 'undefined' && response.name != '' ? response.name : 'new'));

                var postUrl = '{{ app.controller_alias }}/edit-audio-cover?cover=' + (typeof (response.name) != 'undefined' && response.name != '' ? response.name : 'new');
                $(this).fileupload('option', {url: postUrl});
                return false;

            });
            return true;
        }

        function yelp() {

            $(document).ready(function () {

                $(document).on("select2-opening", function (arg) {
                    var elem = $(arg.target);

                    if ($("#s2id_" + elem.attr("id") + " a").hasClass("myErrorClass")) {
                        //jquery checks if the class exists before adding.
                        $(".select2-drop a").addClass("myErrorClass");
                    } else {
                        $(".select2-drop a").removeClass("myErrorClass");
                    }
                });

                $.validate(conf);

                if (typeof (loadFileUploadScripts) != 'function' || !loadFileUploadScripts(initFileUploader)){
                    JSErrorModalBox({msg: "{{ 'Cannot load File Upload plugin'|trans }}"})
                }


                $("#form_reset").on('click', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $(this).closest('form').get(0).reset();
                    return false;
                });

                $("#add_track").on("click", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var tmp_id = $('#datatable-1 tr:last').attr('id');
                    if (!tmp_id) {
                        tmp_id = "tr_" + $.randString();
                        $('#datatable-1 tr:last').attr('id', tmp_id);
                    }
                    $("#modalbox_ad").data('tr_id', tmp_id);

                    $("#modalbox_ad").find(".modal-header-name").children('span').text('{{ 'Add track'|trans }}');
                    $("#modalbox_ad input").prop("disabled", false).removeAttr('disabled').val('');
                    $("#modalbox_ad select").prop("disabled", false).removeAttr('disabled').find('option').removeAttr('selected');
                    $('#s2_track_lang').select2({minimumResultsForSearch: -1});
                    conf.form = '#track_form';
                    $("#track_form").validate();
                    $("#track_form").find('input, select').each(function(){
                        conf.unhighlight(this, conf.errorClass);
                    });
                    $("#modalbox_ad").show();

                    return false;
                });

                $(document).on('click', "a.main_ajax", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var sendData = $(this).data();
                    sendData['album_id'] = {{ app['audioAlbumID'] }};
                    ajaxPostSend($(this).attr('href'), sendData, false, false);
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });

                $("#modalbox_ad button[type='submit']").on('click', function (e) {
                    e.stopPropagation();
                    e.preventDefault();

                    conf.form = '#track_form';

                    if ($("#track_form").isValid({}, conf, true)) {
                        conf.onSuccess();
                    } else {
                        conf.onError();
                    }
                    return false;
                });

                $("#form_save").on('click', function (e) {
                    e.stopPropagation();
                    e.preventDefault();

                    var tracksId = [];
                    $("#datatable-1 tr:has(td)").each(function () {
                        if (typeof($(this).attr('id')) != "undefined") {
                            tracksId.push($(this).attr('id').replace(/[^\d]/ig, ''));
                        }
                    });

                    $("#form_").append("<input type='hidden' name='album_tracks' value='" + JSON.stringify(tracksId) + "'>");
                    conf.form = '#form_';

                    if ($("#form_").isValid({}, conf, true)) {
                        conf.onSuccess();
                    } else {
                        conf.onError();
                    }
                    return false;
                });

                $("#cover_container").on('click', 'a', function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    JSshowModalBox();
                    ajaxPostSend($(this).attr('href'), $(this).data());
                    return false;
                });

                LoadSelect2Script(DemoSelect2);
                LoadDataTablesScripts(TestTable1);
		
            });
        }

        document.addEventListener("DOMContentLoaded", yelp, false);

        var setCompositionModal = function (data) {
            $("#modalbox_ad").find(".modal-header-name").children('span').text('{{ 'Edit track'|trans }}');
            if (data.data.length == 1) {
                var row = data.data[0];
                for (var field_name in row) {
                    $("#modalbox_ad input[name='" + field_name + "']").val(row[field_name]);
                }
                $("#modalbox_ad select[name='language_id'] option").each(function () {
                    $(this).attr('selected', $(this).val().toString() == data.data[0]['language_id'].toString());
                })
            }
            $("#modalbox_ad input").removeAttr('disabled');
            $('#s2_track_lang').select2({minimumResultsForSearch: -1});
            conf.form = '#track_form';
            $("#track_form").validate();
            $("#track_form").find('input, select').each(function(){
                conf.unhighlight(this, conf.errorClass);
            });

            $("#modalbox_ad").show();
        };

        var setCompositionModalError = function (data) {
            alert('Error no data');
        };

        var audioTracksManage = function () {
            $("#modalbox_ad").click();
            $('#datatable-1').DataTable().ajax.reload();
        };

        var deleteCover = function(data){
            $('#form_cover').val('');
            $('#cover_container a').data('file_name', '');
            $('#cover_container img').attr('src', '');
            JSSuccessModalBox(data);
        };

        var deleteCoverError = function(data){
            JSErrorModalBox(data);
        };

        var closeModalBox = function(){
            JScloseModalBox();
        };
    </script>

    {% include "basic_templates/file-uploader-scripts.twig" %}
{% endblock %}