{% extends 'layout.twig' %}
{% import '/macro/iptw_macro.twig' as main_macro %}

{% set title = ('Audio club'|trans ~ ': ' ~ 'artists list'|trans) | trans %}

{% block content %}
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/add-audio-artists" class="btn btn-success pull-right" id="add_audio_artists">{{ 'Add artist'|trans }}</a>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="box-content">
                    <div class="box-content no-padding">
                        <div class="dataTables_processing"></div>
                        <table class="table  table-hover table-datatable" id="datatable-1">
                            {% if attribute(app, 'dropdownAttribute') is defined %}
                                {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                            {% endif %}
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" defer>

        function TestTable1() {
            $('#datatable-1').on('xhr.dt', function (e, settings, json) {
                if (typeof (json.data) == 'object') {
                    for (var i in json.data) {
                        var id = json.data[i].id;
                        json.data[i].operations = "<div class='col-xs-3 col-sm-8'>\n\
                                                        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>\n\
                                                            <i class='pull-right fa fa-cog'></i>\n\
                                                        </a>\n\
                                                        <ul class='dropdown-menu pull-right'>\n\
                                                            <li>\n\
                                                                <a href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/edit-audio-artists' data-artistsid='" + id + "' id='edit_audio_artists_" + id + "'>\n\
                                                                    <span>{{ 'Edit'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/remove-audio-artists' data-artistsid='" + id + "'>\n\
                                                                    <span>{{ 'Delete'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                        </ul>\n\
                                                    </div>";
                        var name = json.data[i].name;
                        json.data[i].name = '<a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/edit-audio-artists" data-artistsid="' + id + '" id="edit_audio_artists_' + id + '">' + name + '</a>';
                    }
                }
            }).dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ app.request.baseUrl }}/{{ app.controller_alias }}/audio-artists-list-json"
                },
                "deferLoading": [{{ app.recordsFiltered }}, {{ app.totalRecords }} ],
                "language": {
                    "url": "{{ app.datatable_lang_file }}"
                },
                {% if attribute(app, 'dropdownAttribute') is defined %}
                {{ main_macro.get_datatable_column(app['dropdownAttribute']) }}
                {% endif %}
                "bFilter": true,
                "bPaginate": true,
                "bInfo": true,
                "aoColumnDefs": [
                    { className: "action-menu", "targets": [ -1 ] },
                    {"searchable": false, "targets": [-1]},
                    {"sortable": false, "targets": [-1]}
                ]
            }).prev('.dataTables_processing').hide('');
            $('#datatable-1').DataTable().ajax.reload();
        }

        function yelp() {
            $(document).ready(function () {
                $(document).on('change keyup', '#audio_artists_name', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var _this = $(this);
                    _this.val(_this.val().replace(/^\s+/ig, '').replace(/\s{2}$/, ' '));
                    _this.next('div').removeClass('bg-danger').css('visibility', 'hidden').html('&nbsp;');
                    $('#modalbox button[type="submit"]').removeAttr("disabled");
                    $.ajax({
                        url: '{{app.request.baseUrl}}/{{app.controller_alias}}/check-audio-artists-name',
                        type: 'POST',
                        data: {name: _this.val()},
                        success: function (data) {
                            if (data.success) {
                                $('#modalbox button[type="submit"]').removeAttr("disabled");
                                _this.next('div').append('<i class="txt-success fa fa-check"></i> ' + data.chk_rezult).css('visibility', 'visible');
                            } else if (data.error) {
                                $('#modalbox button[type="submit"]').attr("disabled", "disabled");
                                console.log(data.error);
                            } else {
                                $('#modalbox button[type="submit"]').removeAttr("disabled");
                                console.log('{{ 'Some server error'|trans }}');
                            }
                        },
                        error: function (data) {
                            if (typeof (data.responseJSON) != 'undefined' && typeof (data.responseJSON.error) != 'undefined') {
                                $('#modalbox button[type="submit"]').attr("disabled", "disabled");
                                _this.next('div').append('<i class="txt-danger fa fa-ban"></i> ' + data.responseJSON.error).css('visibility', 'visible');
                            } else {
                                $('#modalbox button[type="submit"]').removeAttr("disabled");
                                console.log('{{ 'Some network error or access denied'|trans }}');
                            }
                        },
                        dataType: "json",
                        async: false
                    });
                    return false;
                });

                $(document).on('click', "a.main_ajax", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    ajaxPostSend($(this).attr('href'), $(this).data(), false);
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });

                $(document).on('click', '#add_audio_artists, a[id^="edit_audio_artists_"]', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    openModalBox($(this));
                    return false
                });

                $(document).on('click', "#modalbox button[type='reset'], #modalbox, #modalbox a.close-link, #modalbox a.close-link *", function (e) {
                    if (e.currentTarget != e.target) {
                        return;
                    }
                    e.stopPropagation();
                    e.preventDefault();
                    closeModalBox();
                    return false;
                });

                $(document).on('click submit', "#modalbox button[type='submit'], #modalbox form", function (e) {
			
                    if (e.currentTarget != e.target) {
                        return;
                    }
					if( !$('#audio_artists_name').val() ) {  $('#audio_artists_name').css('border','1px solid red');
					} else {
					$('#audio_artists_name').css('border','');
                    var sendData = {
                        id: $("#modalbox input[type='hidden']").val(),
                        name: $("#modalbox input[type='text']").val()
                    };

                    e.stopPropagation();
                    e.preventDefault();
                    ajaxPostSend($("#modalbox form").attr('action'), sendData, false);
                    closeModalBox();
					notty('<span>{{ 'Done'|trans }}!</span>','success');
                    return false;
					}
                });

                LoadDataTablesScripts(TestTable1);
            });
        }

        document.addEventListener("DOMContentLoaded", yelp, false);

        var addAudioArtist = function(data){
            $('#datatable-1').DataTable().draw();
        };
        
        var editAudioArtist = function(data){
            $('#datatable-1').DataTable().draw();
        };
        
        var removeAudioArtist = function (data) {
            $('#datatable-1').DataTable().draw();
        };
        
    function closeModalBox(){
        $("#modalbox").hide();
        $('#modalbox').find('.modal-header-name span').empty();
        $('#modalbox').find('.devoops-modal-inner').find('input').val('');
    }
    
    function openModalBox(obj){
        $('#modalbox').find('.modal-header-name span').text((obj.data('artistsid')? '{{ 'Edit'|trans }}': '{{ 'Add'|trans }}') + ' {{ 'artist'|trans }}');
        if ($('#modalbox').find('.devoops-modal-inner').find('input').length == 0) {
            $('#modalbox').find('.devoops-modal-inner').html('\n\
                <div class="box-content">\n\
                    <form class="form-horizontal" id="form" role="form">\n\
                        <div class="form-group">\n\
                            <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Artist'|trans }}<span class="icon-required">*</span></label>\n\
                            <div class="col-xs-10 col-sm-8">\n\
                                <span class="col-xs-8 col-sm-8">\n\
                                    <input type="hidden" name="id">\n\
                                    <input type="text"  data-validation="required"  class="form-control own_fields" name="name" id="audio_artists_name">\n\
                                    <div class="bg-danger"></div>\n\
                                </span>\n\
                            </div>\n\
                        </div>\n\
                   \n\
                </div>');
            $('#modalbox').find('.devoops-modal-bottom').html('<div class="pull-right no-padding">&nbsp;</div>\n\
                        <div class=" pull-right no-padding">\n\
                            <button type="submit" class="btn btn-success pull-right">{{ 'Save'|trans }}</button>\n\
                            <button type="reset" class="btn btn-default pull-right" >{{ 'Cancel'|trans }}</button>\n\
                        </div> </form>');
        }
        
        if (obj.data('artistsid')) {
            $('#modalbox').find('.devoops-modal-inner').find('input[type="hidden"]').val(obj.data('artistsid'));
            $('#modalbox').find('.devoops-modal-inner').find('input[type="text"]').val(obj.closest('tr').find('td:first a').text());
        }
        $('#modalbox button[type="submit"]').removeAttr("disabled");
        $('#audio_artists_name').next('div').removeClass('bg-danger').css('visibility', 'hidden').html('&nbsp;');
        $('#modalbox form').attr('action', obj.attr('href'));
        $("#modalbox").show();
        obj.closest('div.open').removeClass('open');
    }
    </script>
{% endblock %}