{% extends 'layout.twig' %}
{% set title = ('Advertising'|trans ~ ': ' ~ 'Campaign'|trans) | trans %}

{% block content %}

    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box">
                    <div class="box-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4><strong>{{ 'Set the audience for advertising'|trans }}</strong></h4>
                                <hr style="margin-top: 0;">
                            </div>
                            <div class="col-sm-5">
                                <p>
                                    {{ 'Select the source, used devices and display advertising format.'|trans }}
                                    {{ 'Do not forget to save your changes when you\'re done.'|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_start(app['form'], {'method': 'POST', 'action': (app.request.baseUrl ~ '/' ~ app.controller_alias  ~ '/' ~ app.action_alias) | trans, 'attr': {'class': 'form-horizontal', 'role': 'form', 'id': 'form_'}}) }}
        <div class="bg-danger">
            <div class="bg-danger">
                {{ form_errors(app['form']) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box">
                    <div class="box-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Title'|trans }}<span class="icon-required">*</span></label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-5">
                                    {{ form_widget(app['form'].id, {'attr': {}}) }}
                                    {{ form_widget(app['form'].name, {'attr': {'data-validation' : 'required', "data-validation-error-msg-container" : "#name_error"}}) }}
                                    <div class="bg-danger" id="name_error">
                                        {{ form_errors(app['form'].name) }}
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Name the audience of the ad campaign.'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Source'|trans }}<span class="icon-required">*</span></label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-5">
                                    {{ form_widget(app['form'].source, {'attr': {'class': 'form-control', 'data-validation': 'required', "data-validation-error-msg-container" : "#source_error"}}) }}
                                    <div class="bg-danger" id="source_error">
                                        {{ form_errors(app['form'].source) }}
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">
                                        {{ 'Select Source.'|trans }}
                                        {{ 'It identifies your subscribers in the system and allows you to count impressions advertising.'|trans }}
                                        <br>
                                        {{ 'You can have multiple Source.'|trans }}
                                        {{ 'This allows you to track your income for different audiences.'|trans }}
                                        <br>
                                        {{ 'You can request additional Source in the settings.'|trans }}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Platform'|trans }}<span class="icon-required">*</span></label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-5">
                                    {{ form_widget(app['form'].platform, {'attr': {'class': 'form-control', 'data-validation': 'required', "data-validation-error-msg-container" : "#platform_error"}}) }}
                                    <div class="bg-danger" id="platform_error">
                                        {{ form_errors(app['form'].platform) }}
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">
                                        {{ 'Select the platform for advertising clips.'|trans }}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Settings'|trans }}<span class="icon-required">*</span></label>
                            <div class="col-xs-10 col-sm-8" style="margin-top: 8px;">
                                <table class="table ext_ad_table table-striped table-bordered table-hover table-heading">
                                    <thead>
                                        <tr role="row">
                                            <th width="15%"><div class="col-sm-12"><strong>{{ 'System'|trans }}</strong></div></th>
                                            <th width="10%"><div class="col-sm-12"><strong>{{ 'Enable'|trans }}</strong></div></th>
                                            <th width="40%"><div class="col-sm-12"><strong>{{ 'Ad position'|trans }}</strong></div></th>
                                            <th width="12%"><div class="col-sm-12"><strong>{{ 'Ad blocks'|trans }}</strong></div></th>
                                            <th width="23%"><div class="col-sm-12"><strong>{{ '"Skip" button (after 7 sec)'|trans }}</strong></div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% set prefix = '' %}
                                    {% for platform_part, label_part in app['platform_list'] %}
                                        {% for code, label_part_part in label_part %}
                                            <tr id="{{ platform_part }}_part_{{ code }}" {% if platform_part != app['form'].platform.vars.value %}style="display: none;"{% endif %}>
                                                {% set prefix = label_part_part.prefix %}
                                                <td>
                                                    <div class="col-sm-12">
                                                        <strong>{{ label_part[code].label }}</strong>
                                                    </div>
                                                    <div class="col-sm-12"></div>
                                                </td>
                                                <td>
                                                    {% for key, addPositionField in app['form'][platform_part] if (key ~ '' | trans)|slice(0, 1) == prefix %}
                                                    <div class="col-sm-12">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input data-code="{{ key }}" type="checkbox" {% if addPositionField.vars.value %}checked="checked"{% endif %} >
                                                                <i class="fa fa-square-o small"></i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12"></div>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for key, addPositionField in app['form'][platform_part] if (key ~ '' | trans)|slice(0, 1) == prefix %}
                                                    <div class="col-sm-12">
                                                        {{ form_label(addPositionField, addPositionField.vars.label[key], {'label_attr': {'data-codereff': key}}) }}
                                                    </div>
                                                    <div class="col-sm-12">
                                                        {% if key == '205' %}
                                                        <label class='txt-danger' id="warning_label" {% if not(addPositionField.vars.value) %}style="visibility: hidden;" {% endif %} >{{ 'Attention! advertising block will be played instead of the content.' | trans }}</label>
                                                        {% endif %}
                                                    </div>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for key, addPositionField in app['form'][platform_part] if (key ~ '' | trans)|slice(0, 1) == prefix  %}
                                                        <div class="col-sm-12">
                                                        {{ form_widget(addPositionField, {'attr': {'class': 'populate placeholder', 'data-codereff': key } }) }}
                                                        </div>
                                                        <div class="col-sm-12"></div>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% set  platform_part_skip = (platform_part ~ '_skip') | trans %}
                                                    {% for key, addPositionField in app['form'][platform_part_skip] if (key ~ '' | trans)|slice(0, 1) == prefix %}
                                                    <div class="col-sm-12">
                                                        <div class="checkbox">
                                                            <label>
                                                                {{ form_widget(addPositionField, { 'attr': {'data-codereff': key, 'value': 7 } }) }}
                                                                <i class="fa fa-square-o small"></i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12"></div>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Activate the campaign'|trans }}</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-5">
                                    <span class="col-xs-12 col-sm-12 no-padding">
                                        <div class="mswitch">
                                            {{ form_widget(app['form'].status, {'attr': {}}) }}
                                            {{ form_label(app['form'].status) }}
                                        </div>
                                    </span>
                                </div>
                                <div>
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].status) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10 col-sm-9">
                                <div class=" col-xs-10 col-sm-8 col-sm-offset-2">
                                    {{ form_widget(app['form'].save, { 'label': 'Save'|trans , attr: {'class': 'btn btn-success green'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: none;">
            {{ form_rest(app['form']) }}
        </div>
        {{ form_end(app['form']) }}  
    </div>
    <script type="text/javascript" defer>

        var select2Opt = {minimumResultsForSearch: -1, dropdownAutoWidth: false, width: '100%'};

        var conf = {
            form: '#form_',
            lang : '{{ app.js_validator_language }}',
            showHelpOnFocus : true,
            validateHiddenInputs: true,
            modules: 'jsconf',
            onSuccess: function () {
                $('tr[id*="_part_"]').each(function(){
                    if (!$(this).is(':visible')) {
                        $(this).find('option').removeAttr('selected');
                        $(this).find('[data-code]').prop('checked', false);
                    }
                });

                $(conf.form).get(0).submit();
                return false;
            },
            onError: function () {
                return false;
            }
        };

        function DemoSelect2() {
            $('select').select2(select2Opt);
        }
        
        function yelp() {
            $(document).ready(function () {
                $.validate(conf);

                $("#form_save").on('click', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    if ($(conf.form).isValid({}, conf, true)) {
                        conf.onSuccess();
                    } else {
                        conf.onError();
                    }
                    return false;
                });

                LoadSelect2Script(DemoSelect2);

                $(document).on('change', "#form_platform", function(e){
                    var selectedVal = $(this).val();
                    $(this).find("option").each(function(){
                        var trId = '[id^="' + $(this).val() + '_part"]';
                        if($(this).val() != selectedVal) {
                            $(trId).hide().find("input:checkbox[data-code]").prop("checked", false).removeAttr("checked");
                            setDisabledRows($(trId).hide().find("input:checkbox[data-code]"));
                        } else {
                            $(trId).show();
                        }
                    });
                });
                setSelectWarning($('input:checkbox[data-code="205"]'));
                $(document).on('change', 'input:checkbox[data-code="205"]', function(e){
                    setSelectWarning($(this));
                });
                setDisabledRows($('input:checkbox[data-code]'));
                $(document).on('change', 'input:checkbox[data-code]', function(e){
                    setDisabledRows($(this));
                });
            });
        }
        document.addEventListener("DOMContentLoaded", yelp, false);

        function setSelectWarning(selectObj){
            $("#warning_label").css({visibility: $(selectObj).is(":checked") ? 'visible' : 'hidden'});
        }

        function setDisabledRows(objList){
            objList.each(function(){
                var codeReff = $(this).data('code');
                var reffObj = $(this).closest('tr').find('[data-codereff="'+ codeReff +'"]');
                reffObj[(!$(this).is(":checked")? 'add': 'remove')+'Class']('disabled')
                        .closest('label')[(!$(this).is(":checked")? 'add': 'remove')+'Class']('disabled')
                        .closest('div')[(!$(this).is(":checked")? 'add': 'remove')+'Class']('disabled_opacity');
                reffObj.prop('disabled', !$(this).is(":checked"));
                if ($(this).is(":checked")) {
                    reffObj.removeAttr('disabled');
                } else {
                    reffObj.attr('disabled', 'disabled');
                }
            });
        }
    </script>
{% endblock %}