{% extends 'layout.twig' %}
{% set title = ('Radio'|trans ~ ': ' ~ (app.radioEdit ? ('Edit radio'|trans ~ " '"~ app.radioName ~ "'"): 'Add radio'|trans)) | trans %}

{% block content %}

    <div id="add_channel">
        {{ form_start(app['form'], {'method': 'POST', 'action': (app.request.baseUrl ~ '/' ~ app.controller_alias  ~ '/' ~ app.action_alias) | trans, 'attr': {'class': 'form-horizontal', 'role': 'form', 'id': 'form_'}}) }}
        <div class="bg-danger">
            <div class="bg-danger">
                {{ form_errors(app['form']) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box">
                    <div class="box-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Order'|trans }}<span class="icon-required">*</span></label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].id, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(app['form'].number, {'attr': {'class': 'form-control', 'data-checkurl': 'radio-check-number', 'data-validation':'number'}}) }}
                                    <div></div>
								</div>
                                <div>
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].number) }}
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Should be unique, can contain only numbers'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Title'|trans }}<span class="icon-required">*</span></label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].name, {'attr': {'class': 'form-control', 'data-checkurl': 'radio-check-name', 'data-validation':'required'}}) }}
                                    <div></div>
                                </div>
                                <div>
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].name) }}
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Should be unique'|trans }}. {{ 'You can use letters, digits and symbols from the list: ! @ # $ % ^ & * ( ) _ - + : ; , .'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'URL'|trans }}<span class="icon-required">*</span></label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].cmd, {'attr': {'class': 'form-control',  'data-validation': 'custom',  'data-validation-regexp' : '^(\\w+\\s)?\\w+\\:\\/\\/.+$', 'data-validation-error-msg': 'Invalid format links'|trans }}) }}
                                </div>
                                <div>
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].cmd) }}
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Format:  solution+URL. Example: ifm http://radiotest.example:10040'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Volume'|trans }}</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].volume_correction, {'attr': {'class': 'populate placeholder'} }) }}
                                </div>
                                <div>
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].volume_correction) }}
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Stream volume adjustment'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Monitoring'|trans }}</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-6">
                                    <div class="checkbox">
                                        <label>
                                            {{ form_widget(app['form'].enable_monitoring) }}
                                            <i class="fa fa-square-o small"></i>
                                        </label>
                                        <div class="bg-danger">
                                            {{ form_errors(app['form'].enable_monitoring) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-content">
                        <div class="row">
                            <div class="pull-right">
                                {{ form_widget(app['form'].save, { 'label': 'Save'|trans , attr: {'class': 'btn btn-success pull-right'}}) }}
                                <a id="form_reset" href="{{app.request.baseUrl}}/{{app.controller_alias}}" class="btn btn-default pull-right">{{ 'Cancel'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="">
            {{ form_rest(app.form) }}
        </div>
        {{ form_end(app['form']) }}  
    </div>
    <script type="text/javascript" defer>

        var conf = {
            form: '#form_',
            lang : '{{ app.language }}',
            showHelpOnFocus : true,
            validateHiddenInputs: true,
            modules: 'jsconf',
            onSuccess: function () {
                $(conf.form).get(0).submit();
                return true;
            },
            onError: function () {
                return false;
            }
        };

        function DemoSelect2() {
            $.getScript("{{ app.request.baseUrl }}/plugins/select2/i18n/{% if app["language"] %}{{ app["language"] }}{% else %}en{% endif %}.js", function () {
                $.fn.select2.defaults.set('dropdownAutoWidth', 'false');
                $.fn.select2.defaults.set('width', '100%');
                $('#form_volume_correction').select2({minimumResultsForSearch: -1});
            });
        }
        
        function yelp() {
            $(document).ready(function () {
                $.validate(conf);
                $(document).on('change', '#form_number, #form_name', function(e){
                    var _this = $(this);
                    _this.next('div').removeClass('bg-danger').css('visibility', 'hidden').html('&nbsp;');
                                       
                   $.ajax({
                        url: 'radio/' + _this.data('checkurl'),
                        type: 'POST',
                        data: {param: _this.val(), radioid: $('#form_id').val()},
                        success: function (data) {
                            if (data.success) {
                                _this.next('div').append('<i class="txt-success fa fa-check"></i> ' + data.chk_rezult).css('visibility', 'visible');
                            } else{
                                JSErrorModalBox(data);
                            }
                        },
                        error: function (data) {
                            if (typeof(data.responseJSON) != 'undefined' && typeof(data.responseJSON.error) != 'undefined') {
                                _this.next('div').append('<i class="txt-danger fa fa-ban"></i> ' + data.responseJSON.error).css('visibility', 'visible');
                            } else {
                                console.log("{{ 'Some network error or access denied' }}");
                            }
                        },
                        dataType: "json",
                        async: false
                    });
                });

                $("#form_save").on('click', function (e) {
                    e.stopPropagation();
                    e.preventDefault();

                    if ($(conf.form).isValid({}, conf, true)) {
                        conf.onSuccess();
                    } else {
                        conf.onError();
                    }
                    return false;
                });


                LoadSelect2Script(DemoSelect2);
            });
        }
        document.addEventListener("DOMContentLoaded", yelp, false);

    </script>
{% endblock %}