{% extends 'layout.twig' %}
{% import '/macro/iptw_macro.twig' as main_macro %}
{% set active = 'settings' %}
{% set title = ('Settings'|trans ~ ': ' ~ 'firmware update'|trans) | trans %}

{% block content %}
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/add-common-item" class="btn btn-success pull-right" id="add_common_item">{{ 'Add update'|trans }}</a>
            </div>
        </div>

        <div class="row">
            <div class="box">
                {% if attribute(app, 'dropdownAttribute') is defined %}
                    {{ main_macro.get_dropdown_attribute(app['dropdownAttribute']) }}
                {% endif %}
                <div class="box-content">
                    <div class="box-content no-padding">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div class="dataTables_processing"></div>
                                <table class="table  table-hover table-datatable" id="datatable-1">
                                    {% if attribute(app, 'dropdownAttribute') is defined %}
                                        {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                    {% endif %}
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalbox_ad">
        <div class="devoops-modal save_storage">
            <div class="devoops-modal-header">
                <div class="modal-header-name">
                    <span></span>
                </div>
                <div class="box-icons">
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <form class="form-horizontal" role="form" action="{{app.request.baseUrl}}/{{app.controller_alias}}/save-common-item" id="karaoke_form">
                <div class="devoops-modal-inner">
                    <div class="box">
                        <a class="collapse-link">
                            <div class="box-header">
                                <div class="box-name">
                                    <div class="row">
                                        <div class="col-xs-10 col-sm-4">
                                            <span>{{ 'General information'|trans }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-icons">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                                <div class="no-move"></div>
                            </div>
                        </a>
                        <div class="box-content">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'STB model'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-10">
                                        <input class="form-control own_fields" type="hidden" title="" value="" name="id">
                                        <select name="stb_type" class="populate placeholder own_fields" data-validation=required id="s2_stb_type" required="required">
                                            <option value="MAG200">MAG200</option>
                                            <option value="MAG245">MAG245</option>
                                            <option value="MAG245D">MAG245D</option>
                                            <option value="MAG250">MAG250</option>
                                            <option value="MAG254">MAG254</option>
                                            <option value="MAG255">MAG255</option>
                                            <option value="MAG256">MAG256</option>
                                            <option value="MAG257">MAG257</option>
                                            <option value="MAG270">MAG270</option>
                                            <option value="MAG275">MAG275</option>
                                            <option value="WR320">WR320</option>
                                            <option value="IP_STB_HD">IP_STB_HD</option>
                                            <option value="AuraHD0">AuraHD0</option>
                                            <option value="AuraHD1">AuraHD1</option>
                                            <option value="AuraHD9">AuraHD9</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8 col-sm-8 col-xs-offset-2">
                                    <p class="bg-warning txt-default">
                                        {{ 'Number and date of image due to be updated. Taken from the image. For automatic search of firmware it is enough to fill in version or date of image (one of fields).Number must be numeric.'|trans }}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Image version'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-10">
                                        <input class="form-control own_fields" type="text" title="" value="" name="require_image_version">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Image date'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-10">
                                        <input class="form-control own_fields" type="text" title="" value="" name="require_image_date" id="require_image_date">
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Update type'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-10">
                                        <select name="update_type" id="s2_update_type" data-validation=required class="populate   placeholder own_fields" required="required">
                                            <option value="http_update">http update</option>
                                            <option value="reboot_dhcp">reboot dhcp</option>
                                        </select>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Update type: http update (load the image from HTTP) or reboot DHCP (reboot the STB to the DHCP boot mode)'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Automatic update'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="enable" value="1" class="own_fields">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Firmware is automatically updated is the version does not match to the current one.'|trans }}</span>
                                    </span>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="box">
                        <a class="collapse-link">
                            <div class="box-header">
                                <div class="box-name">
                                    <div class="row">
                                        <div class="col-xs-10 col-sm-4">
                                            <span>{{ 'Additional'|trans }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-icons">
                                    <i class="fa fa-chevron-up"></i>
                                </div>
                                <div class="no-move"></div>
                            </div>
                        </a>
                        <div class="box-content" id="Additional">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Prefix'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-10">
                                        <input class="form-control own_fields" type="text" title="" value="" name="prefix">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'If you have several firmware files in one catalogue, please specify the file prefix. For example: if you input tr_ prefix, file tr_imageupdate will be loaded'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8 col-sm-8 col-xs-offset-2">
                                    <p class="bg-warning txt-default">
                                        {{ "Filter the STB by set parameters. Update will be installed on STB matching the following parameters only. In 'Image descriptor, it is enough to specify the part of description or key word. Fill-in data can be found in the interface of user profile in the corresponding fields."|trans }}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Image descriptor'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class="col-xs-10 col-sm-8">
                                        <div class=" col-xs-10 col-sm-12">
                                            <input class="form-control own_fields" type="text" title="" value="" name="image_description_contains">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Required version of STB API'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class="col-xs-10 col-sm-8">
                                        <div class=" col-xs-10 col-sm-12">
                                            <input class="form-control own_fields" type="text" title="" value="" name="image_version_contains">
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Hardware version'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class="col-xs-10 col-sm-8">
                                        <div class=" col-xs-10 col-sm-12">
                                            <input class="form-control own_fields" type="text" title="" value="" name="hardware_version_contains">
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="devoops-modal-bottom">
                    <div class="box">
                        <div class="box-content">
                            <div class="row">
                                <div class=" pull-right">
                                    <button type="submit" class="btn btn-success  pull-right" id="save_button">{{ 'Save'|trans }}</button>
                                    <button type="reset" class="btn btn-default pull-right" > {{ 'Cancel'|trans }} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
                                                                           
    <script type="text/javascript" defer>

        var conf = {
            form: '#karaoke_form',
            lang : '{{ app.language }}',
            showHelpOnFocus : true,
            validateHiddenInputs: true,
            ignore: ['.ignore'],
            modules: 'jsconf',
            onSuccess: function () {
                var sendData = new Object();
                var form_fields = $("#modalbox_ad input.own_fields:not(:disabled), #s2_stb_type,  #s2_update_type");
                form_fields.each(function () {
                    if (typeof($(this).attr('type')) != 'undefined' && $(this).attr('type').toLowerCase() == 'checkbox') {
                        sendData[this.name] = $(this).prop('checked') ? 1: 0;
                    } else {
                        sendData[this.name] = $(this).val();
                    }
                });
                showModalBox();
                ajaxPostSend($("#modalbox_ad form").attr('action'), sendData, false, false);
                return false;
            },
            onError: function () {
                return false;
            }
        };

        function DemoSelect2() {
            $.getScript("{{ app.request.baseUrl }}/plugins/select2/i18n/{% if app["language"] %}{{ app["language"] }}{% else %}en{% endif %}.js", function () {
                $.fn.select2.defaults.set('dropdownAutoWidth', 'false');
                $.fn.select2.defaults.set('width', '100%');
                $('select[id^="s2_"]').select2({minimumResultsForSearch: -1});
            });
        }

        function TestTable1() {
            $('#datatable-1').on('xhr.dt', function (e, settings, json) {
                if (typeof (json.data) == 'object') {
                    var date;
                    for (var i in json.data) {
                        var id = json.data[i].id;
                        var enable = json.data[i].enable;
                        json.data[i].enable = (enable == 1 ?"<span class='txt-success'>{{ 'on'|trans }}</span>":"<span>{{ 'off'|trans }}</span>");

                        date = json.data[i]['require_image_date'];
                        if (date > 0) {
                            date = new Date(date * 1000);
                            json.data[i]['require_image_date'] = date.toLocaleFormat("%b %d, %Y");
                        }

                        json.data[i].operations = "<div class='col-xs-3 col-sm-8'>\n\
                                                        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>\n\
                                                            <i class='pull-right fa fa-cog'></i>\n\
                                                        </a>\n\
                                                        <ul class='dropdown-menu pull-right'>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/common-list-json' data-id='" + id + "'>\n\
                                                                    <span>{{ 'Edit'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/toggle-common-item-status' data-id='" + id + "' data-enable='" + enable + "'>\n\
                                                                    <span>"+ (enable == 1? '<span>{{ 'Switch off'|trans }}</span>':'<span>{{ 'Switch on'|trans }}</span>') + "</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/remove-common-item' data-id='" + id + "'>\n\
                                                                    <span> {{ 'Delete'|trans }} </span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                        </ul>\n\
                                                    </div>";
                    }
                }
            }).dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ app.request.baseUrl }}/{{ app.controller_alias }}/common-list-json"
                },
                "deferLoading": [ {{ app.recordsFiltered }}, {{ app.totalRecords }} ],
                "language": {
                    "url": "{{ app.datatable_lang_file }}"
                },
                {% if attribute(app, 'dropdownAttribute') is defined %}
                {{ main_macro.get_datatable_column(app['dropdownAttribute']) }}
                {% endif %}
                "bFilter": true,
                "bPaginate": true,
                "bInfo": true,
                "columnDefs": [
                    { className: "action-menu", "targets": [ -1 ] },
                    {"searchable": false, "targets": [-1]},
                    {"sortable": false, "targets": [-1]}
                ]
            }).prev('.dataTables_processing').hide('');
            $('#datatable-1').DataTable().ajax.reload();
        }

        function yelp() {
            $(document).ready(function () {
                $.validate(conf);
                $(document).on('click', "a.main_ajax[disabled!='disabled']", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $("#modalbox").data('complete', 0);
                    showModalBox();
                    var sendData = $(this).data();
                    ajaxPostSend($(this).attr('href'), sendData, false, false);
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });

                $("#form_reset").on('click', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $(this).closest('form').get(0).reset();
                    return false;
                });
                
                $("#modalbox_ad button[type='submit']").on('click', function (e) {
                    e.stopPropagation();
                    e.preventDefault();

                    if ($(conf.form).isValid({}, conf, true)) {
                        conf.onSuccess();
                    } else {
                        conf.onError();
                    }
                    return false;
                });
                $("#Additional").hide('fast');
                $(document).on('click', "#modalbox, #modalbox a.close-link, #modalbox a.close-link *", function(e){
                    if (e.currentTarget != e.target) {
                        return;
                    }
                    e.stopPropagation();
                    e.preventDefault();
                    if ($("#modalbox").data('complete') && $("#modalbox").data('complete') == 1) {
                        closeModalBox();
                    } else {
                        for(i=0;i<3;i++) {
                            $('#modalbox > div').fadeTo('slow', 0.5).fadeTo('slow', 1.0);
                        }
                    }
                    return false;
                });
                
                $("#add_common_item").on("click", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    closeModalBox();
                    $.validate();
                    $(conf.form).get(0).reset();
                    $("#modalbox_ad").find(".modal-header-name").children('span').text('{{ 'Add update'|trans }}');
                    $("#modalbox_ad .own_fields").prop("disabled", false).removeAttr('disabled').val('');
                    $("#modalbox_ad input[type='hidden']").attr('disabled', 'disabled').val('');
                    $("select[id^='s2_']").select2({minimumResultsForSearch: -1});
                    $("#modalbox_ad").show();
                    return false;
                });
                               
                LoadDataTablesScripts(TestTable1);
                LoadSelect2Script(DemoSelect2);
            });
        }

        document.addEventListener("DOMContentLoaded", yelp, false);
        
        var setCommonModal = function (data) {
            closeModalBox();
            $.validate();
            $(conf.form).get(0).reset();
            $("#modalbox_ad").find(".modal-header-name").children('span').text('{{ 'Edit update'|trans }}');
            if (data.data.length == 1) {
                var row = data.data[0];
                for (var field_name in row) {
                    if ($("#modalbox_ad .own_fields[name='" + field_name + "']").attr('type') != 'checkbox') {
                        $("#modalbox_ad .own_fields[name='" + field_name + "']").val(row[field_name]);
                    } else {
                        $("#modalbox_ad .own_fields[name='" + field_name + "']").prop('checked', row[field_name] == 1).attr('checked', row[field_name] == 1);
                    }
                }
            }
            $("#modalbox_ad input").removeAttr('disabled');
            $("select[id^='s2_']").select2({minimumResultsForSearch: -1});
            $("#modalbox_ad").show();
        };
        
        var manageCommon = function (obj) {
            if (typeof(obj.nothing_to_do) == 'undefined' || !obj.nothing_to_do) {
                notty('<span>{{ 'Finish'|trans }}!</span>', 'success');
                var msg_type = typeof(obj.msg);
                msg_type = msg_type.toLowerCase();
                if (msg_type != 'undefined') {
                    if (msg_type == 'string') {
                        notty('<span>' + obj.msg + '</span>');
                    } else if (msg_type == 'array' || msg_type == 'object') {
                        for (var i in obj.msg) {
                            notty('<br><span>' + obj.msg[i] + '</span>');
                        }
                    }
                }
                $('#datatable-1').DataTable().ajax.reload();
            }
            $("#modalbox_ad").hide();
        };
        
        function closeModalBox(){
            $("#modalbox").hide();
            $('#modalbox').find('.modal-header-name span').empty();
            $('#modalbox').find('.devoops-modal-inner').empty();
            $('#modalbox').find('.devoops-modal-bottom').empty();
        }
        
        function showModalBox(){
			notty('<span>{{ 'Request is being processed'|trans }}...</span>','notification');
          
        }
        
        var errAction = function(){
            notty('<span>{{ 'Failed'|trans }}!</span>','error');            
        };
        
    </script>
{% endblock %}