{% extends 'layout.twig' %}
{% import '/macro/iptw_macro.twig' as main_macro %}
{% set active = 'settings' %}
{% set title = ('Settings'|trans ~ ': ' ~ 'appearance'|trans) | trans %}

{% block content %}
    <div id="iptv_list">
        <div class="row row_no_padding">
            {% if attribute(app, 'allData') is defined %}
                {% for row in app['allData'] %}
                    <div class="col-xs-4 col-sm-4 "><h4>{{ row['title'] }}</h4>
                        <div class="col-sm-12 simple_gallery no-padding">
                            {% if attribute(row, 'previews') is defined %}
                                {% for key, preview in row['previews'] %}
                                    <div class="col-xs-12 col-sm-12">
                                        <a class="fancybox" rel="theme_{{ row['name'] }}" href="{{ preview }}" title="{{ row['title'] }} {{ key + 1 }}">
                                            <img src="{{ preview }}" alt=""/>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-12 pull-right no-padding">
                            <div class="col-xs-12 col-sm-12 pull-right">
                                <button data-href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/set-current-theme" data-themename="{{ row['name'] }}" class="pull-right main_ajax btn btn-{% if row['name'] == app['current_theme']['name'] %}yaly" disabled="disabled">{{ 'Current'|trans }}{% else %}yal">{{ 'Apply'|trans }}{% endif %}</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <script type="text/javascript" defer>
        function DemoGallery(){
            $('.fancybox').fancybox({
                openEffect	: 'none',
                closeEffect	: 'none'
            });
        }
        function yelp() {
            $(document).ready(function () {
                $(document).on('click', ".main_ajax[disabled!='disabled']", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var objHref = ($(this).attr('href'))? $(this).attr('href'): $(this).data('href');
                    $("#modalbox").data('complete', 0);
                    showModalBox();
                    var sendData = $(this).data();
                    ajaxPostSend(objHref, sendData, false, false);
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });
                
                $(document).on('click', "#modalbox, #modalbox a.close-link, #modalbox a.close-link *", function(e){
                    if (e.currentTarget != e.target) {
                        return;
                    }
                    e.stopPropagation();
                    e.preventDefault();
                    if ($("#modalbox").data('complete') && $("#modalbox").data('complete') == 1) {
                        closeModalBox();
                    } else {
                        for(i=0;i<3;i++) {
                            $('#modalbox > div').fadeTo('slow', 0.5).fadeTo('slow', 1.0);
                        }
                    }
                    return false;
                });
                
                // Load Fancybox2 and make gallery in callback
                LoadFancyboxScript(DemoGallery);

            });
        }

        document.addEventListener("DOMContentLoaded", yelp, false);
        
        
        var manageTheme = function (obj) {
            changeTheme(obj);
            notty('<span>{{ 'Finish'|trans }}!</span>','success');
            var msg_type = typeof(obj.msg);
            msg_type = msg_type.toLowerCase();
            if (msg_type != 'undefined'){
                if (msg_type == 'string') {
                     notty('<span>' + obj.msg + '</span>');
                } else if (msg_type == 'array' || msg_type == 'object') {
                    for (var i in obj.msg){
                         notty('<br><span>' + obj.msg[i] + '</span>');
                    }
                }
            }
        };
        
        var changeTheme = function(obj){
            $("button[data-themename]").each(function(){
                if ($(this).data('themename') == obj.name) {
                    $(this).prop('disabled', 'disabled').attr('disabled', 'disabled');
                    if(!$(this).hasClass('btn-yaly')) {
                        $(this).removeClass('btn-yal').addClass('btn-yaly');
                    }
                    $(this).text('{{ 'Current'|trans }}');
                } else {
                    $(this).prop('disabled', false).removeAttr('disabled');
                    if(!$(this).hasClass('btn-yal')) {
                        $(this).removeClass('btn-yaly').addClass('btn-yal');
                    }
                    $(this).text('{{ 'Apply'|trans }}');
                }
            });
        };
        
        var errAction = function(){
            notty('<span>{{ 'Failed'|trans }}!</span>','error'); 
        };
        
        function closeModalBox(){
            $("#modalbox").hide();
            $('#modalbox').find('.modal-header-name span').empty();
            $('#modalbox').find('.devoops-modal-inner').empty();
            $('#modalbox').find('.devoops-modal-bottom').empty();
        }
        
        function showModalBox(){
			notty('<span>{{ 'Request is being processed'|trans }}...</span>','notification');
        }
        
    </script>
{% endblock %}