{% extends 'layout.twig' %}
{% import '/macro/iptw_macro.twig' as main_macro %}
{% set title = ('Storage'|trans ~ ': ' ~ 'storages list'|trans) | trans %}

{% block content %}
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class=" pull-right">
                    <a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/add-storage" class="btn btn-success pull-right" id="add_storage">{{ 'Add storage'|trans }}</a>
                </div>
                <div class="pull-right">
                    <a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/reset-cache" class="btn btn-default  pull-right main_ajax" data-id="all">{{ 'Clean the cache'|trans }}</a>
                </div>
                <div class="pull-right">
                    <a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/refresh-cache" class="btn btn-default pull-right main_ajax" data-id="all">{{ 'Update the cache'|trans }}</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="auto-height">
                    <div class="box-name">
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 col-sm-offset-2 text-center bg-warning">
                                <span class="text_black">{{ 'Clean the cache – remove all content from cache'|trans }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 col-sm-offset-2 text-center bg-warning">
                                <span class="text_black">{{ 'Update the cache – receive new information about all content in the storage'|trans }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="no-move"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                {% if attribute(app, 'dropdownAttribute') is defined %}
                    {{ main_macro.get_dropdown_attribute(app['dropdownAttribute']) }}
                {% endif %}
                <div class="box-content">
                    <div class="box-content no-padding">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div class="dataTables_processing"></div>
                                <table class="table  table-hover table-datatable" id="datatable-1">
                                    {% if attribute(app, 'dropdownAttribute') is defined %}
                                        {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                    {% endif %}
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                        
    <div id="modalbox_ad">
        <div class="devoops-modal save_storage">
            <div class="devoops-modal-header">
                <div class="modal-header-name">
                    <span></span>
                </div>
                <div class="box-icons">
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <form class="form-horizontal" role="form" action="{{ app.request.baseUrl }}/{{ app.controller_alias }}/save-storage" id="karaoke_form">
                <div class="devoops-modal-inner">
                    <div class="box">
                        <a class="collapse-link">
                            <div class="box-header">
                                <div class="box-name">
                                    <div class="row">
                                        <div class="col-xs-10 col-sm-4">
                                            <span>{{ 'General information'|trans }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-icons">
                                    <i class="fa fa-chevron-up"></i>
                                </div>
                                <div class="no-move"></div>
                            </div>
                        </a>
                        <div class="box-content">
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Title'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="hidden" title="" value="" name="form[id]">
                                        <input class="form-control" type="text" title="" data-validation=required value="" name="form[storage_name]">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small default">{{ 'You can use letters, digits and symbols from the list: ! @ # $ % ^ & * ( ) _ - + : ; , .'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'IP'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" data-validation=required value="" name="form[storage_ip]">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'IP-address of the storage. Example : http://127.0.0.1'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Apache port'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" data-validation=required value="" name="form[apache_port]">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Number of the port, accessing to the Apache server'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Home directory'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" value="" name="form[nfs_home_path]">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Home directory where the catalogues and symbol links will be created Example: /home/username/slash_folder'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Maximum of the users'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" value="" name="form[max_online]">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Maximum quantity of the users, which can watching the content from the storage at the same time'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <a class="collapse-link">
                            <div class="box-header">
                                <div class="box-name">
                                    <div class="row">
                                        <div class="col-xs-10 col-sm-4">
                                            <span>{{ 'Additional information'|trans }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-icons">
                                    <i class="fa fa-chevron-up"></i>
                                </div>
                                <div class="no-move"></div>
                            </div>
                        </a>
                        <div class="box-content" id="Additional_information">
                            <div class="row"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Content storage'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[for_simple_storage]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Allow content storage'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'TV recording'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[for_records]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Allow TV recording'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Flussonic DVR'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[flussonic_dvr]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Wowza DVR'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[wowza_dvr]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Emulation'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[fake_tv_archive]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'The emulation mode is used in case when two portals are attached to a single storage of TV archive. It is necessary to set the recording of TV archive at the first portal, and TV archive recording with the option of emulation at the second one. Thus, there will be two portals with the archive, though in fact it is recorded once.'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Filter'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" value="" name="form[user_agent_filter]">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'You can filter the STBs according to their connection type (Wi-Fi, Ethernet) and to the models (250,275…). Field is case sensitive'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Access restriction'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-2">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[for_moderator]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Only moderators can watch the content from the storage'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Not available for the MAG100'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-2">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[not_for_mag100]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Storage is not available on the MAG100'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="devoops-modal-bottom">
                    <div class="box">
                        <div class="box-content">
                            <div class="row">
                                <div class="col-xs-10 col-sm-6 pull-right">
                                    <button type="submit" class="btn btn-success col-sm-5 pull-right" id="save_button">{{ 'Save'|trans }}</button>
                                    <button type="reset" class="btn btn-default col-sm-5 pull-left"> {{ 'Cancel'|trans }} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

                                    
    <script type="text/javascript" defer>

        var conf = {
            form: '#karaoke_form',
            lang : '{{ app.language }}',
            showHelpOnFocus : true,
            validateHiddenInputs: true,
            ignore: ['.ignore'],
            modules: 'jsconf',
            onSuccess: function () {
                var sendData = {};

                $("#modalbox_ad form input").each(function () {
                    sendData[$(this).attr('name')] = $(this).is(':checkbox') ? ($(this).is(':checked') ? 1 : 0) : $(this).val();
                });
                hideAdModalBox();
                $("#modalbox").data('complete', 0);
                JSshowModalBox();
                ajaxPostSend($('#modalbox_ad form').attr('action'), sendData, false, false, true);
                return false;
            },
            onError: function () {
                return false;
            }
        };

        function TestTable1() {
            $('#datatable-1').on('xhr.dt', function (e, settings, json) {
                if (typeof (json.data) == 'object') {
                    for (var i in json.data) {
                        var id = json.data[i].id;

                        json.data[i].operations = "<div class='col-xs-3 col-sm-8'>\n\
                                                        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>\n\
                                                            <i class='pull-right fa fa-cog'></i>\n\
                                                        </a>\n\
                                                        <ul class='dropdown-menu pull-right'>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/toggle-storages-status' data-id='"+ id +"' data-status='"+ json.data[i].status +"'>\n\
                                                                    <span>" + (json.data[i].status == 1? "{{ 'Switch off'|trans }}": "{{ 'Switch on'|trans }}") + "</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/reset-cache' data-id='"+ id +"'>\n\
                                                                    <span>{{ 'Clean the cache'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/get-storage' data-id='"+ id +"'>\n\
                                                                    <span>{{ 'Edit'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/remove-storage' data-id='" + id + "'>\n\
                                                                    <span> {{ 'Delete'|trans }} </span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                        </ul>\n\
                                                    </div>";
                        if (json.data[i].status == 1) {
                            json.data[i].status = '<span class="">{{ 'status on'|trans }}</span>';
                        } else {
                            json.data[i].status = '<span>{{ 'status off'|trans }}</span>';
                        }
                        json.data[i].storage_name = "<a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/get-storage' data-id='"+ id +"'><span>"+json.data[i].storage_name+"</span></a>";
                    }
                }
            }).dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ app.request.baseUrl }}/{{ app.controller_alias }}/storages-list-json",
                    "data": function (d) {
{#                        var params = $.parseParams(window.location.href.split('?')[1] || ''); //window.location.href.split('?')[1] || '' 
                        for (var i in params) {
                            d[i] = params[i];
                        }#}
                    }
                },
                "deferLoading": [ {{ app.recordsFiltered }}, {{ app.totalRecords }} ],
                "language": {
                    "url": "{{ app.datatable_lang_file }}"
                },
                {% if attribute(app, 'dropdownAttribute') is defined %}
                {{ main_macro.get_datatable_column(app['dropdownAttribute']) }}
                {% endif %}
                "bFilter": true,
                "bPaginate": true,
                "bInfo": true,
                "columnDefs": [
                    { className: "action-menu", "targets": [ -1 ] },
                    {"searchable": false, "targets": [-1]},
                    {"sortable": false, "targets": [-1]}
                ]
            }).prev('.dataTables_processing').hide('');
            $('#datatable-1').DataTable().ajax.reload();
        }

        function yelp() {
            $(document).ready(function () {
                $.validate(conf);
                $(document).on('click', "a.main_ajax[disabled!='disabled']", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $("#modalbox").data('complete', 0);
                    JSshowModalBox();
                    var sendData = $(this).data();
                    ajaxPostSend($(this).attr('href'), sendData, false, false, true);
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });
                
                        
                $(document).on('click', "#modalbox, #modalbox a.close-link, #modalbox a.close-link *", function(e){
                    if (e.currentTarget != e.target) {
                        return;
                    }
                    e.stopPropagation();
                    e.preventDefault();
                    if ($("#modalbox").data('complete') && $("#modalbox").data('complete') == 1) {
                        closeModalBox();
                    } else {
                        for(i=0;i<3;i++) {
                            $('#modalbox > div').fadeTo('slow', 0.5).fadeTo('slow', 1.0);
                        }
                    }
                    return false;
                });
                        
                $(document).on('click', '#add_storage', function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    showAdModalBox('{{ 'Add storage'|trans }}');
                    return false;
                });
                $("#Additional_information").hide('fast');
                $(":checkbox[name*='fake_tv_archive'], :checkbox[name*='flussonic_dvr'], :checkbox[name*='wowza_dvr']").closest('.form-group').hide();
                
                $(document).on('change', ":checkbox[name*='for_records']", function(e){
                    if ($(this).is(':checked')) {
                        $(":checkbox[name*='fake_tv_archive'], :checkbox[name*='flussonic_dvr'], :checkbox[name*='wowza_dvr']").closest('.form-group').show('fast').find('input').prop("disabled", false).removeAttr('disabled');
                    } else {
                        $(":checkbox[name*='fake_tv_archive'], :checkbox[name*='flussonic_dvr'], :checkbox[name*='wowza_dvr']").closest('.form-group').hide('fast').find('input').prop("disabled", 'disabled').attr('disabled', 'disabled');
                    }
                });

                $(document).on('change', ":checkbox[name*='flussonic_dvr'], :checkbox[name*='wowza_dvr']", function(){
                    var checkedChk = $(this);
                    var uncheckChk = $(this).attr('name').search('flussonic_dvr') !== -1 ? $(":checkbox[name*='wowza_dvr']"): $(":checkbox[name*='flussonic_dvr']");
                    if (checkedChk.is(":checked")) {
                        uncheckChk.prop('checked', false).removeAttr('checked');
                    }
                });

                $(document).on('submit', '#modalbox_ad form', function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    return false;
                });
                $(document).off('click', '#modalbox_ad .save_storage button[type="submit"]');
                $(document).on('click', '#modalbox_ad .save_storage button[type="submit"]', function(e){
                    e.stopPropagation();
                    e.preventDefault();

                    if ($(conf.form).isValid({}, conf, true)) {
                        conf.onSuccess();
                    } else {
                        conf.onError();
                    }
                    return false;
                });
                LoadDataTablesScripts(TestTable1);
            });
        }

        document.addEventListener("DOMContentLoaded", yelp, false);

        var listMsg = function(data){
            JSSuccessModalBox(data);
            $('#datatable-1').DataTable().ajax.reload();
        };
        
        var listMsgError = function(data){
            JSErrorModalBox(data);
        };
        
        function closeModalBox(){
            $("#modalbox").hide();
            $('#modalbox').find('.modal-header-name span').empty();
            $('#modalbox').find('.devoops-modal-inner').empty();
            $('#modalbox').find('.devoops-modal-bottom').empty();
        }

        function showAdModalBox(title){
            $("#modalbox_ad").find(".modal-header-name").children('span').text(title);
            $("#modalbox_ad").find("input, select").prop("disabled", false).removeAttr('disabled').val('').prop("checked", false).removeAttr('checked');
            $(":checkbox[name*='fake_tv_archive']").closest('.form-group').hide('fast');
            $.validate();
            $(conf.form).get(0).reset();
            $("#modalbox_ad").show();
        }
        
        function hideAdModalBox(reset){
            if (typeof(reset) != 'undefined' && reset) {
                $("#modalbox_ad").find(".modal-header-name").children('span').text(title);
                $("#modalbox_ad").find("input, select").prop("disabled", false).removeAttr('disabled');
                $.validate();
                $(conf.form).get(0).reset();
            }
            $("#modalbox_ad").hide();
        }

        var fillModalAd = function(data){
            if (typeof(data.storage) != 'undefined') {
                $("#modalbox").data('complete') == 1
                showAdModalBox('{{ 'Edit storage'|trans }}');
                $.validate();
                $(conf.form).get(0).reset();
                $("#modalbox_ad form input").each(function(){
                   var name = $(this).attr('name').replace('form[', '').replace(']', ''); 
                   if (typeof(data.storage[name]) != 'undefined') {
                       $(this).val(data.storage[name]);
                       if($(this).is('[type=checkbox]')){
                           $(this).prop('checked', parseInt(data.storage[name], 10));
                       } 
                   }
                });
                if ($(":checkbox[name*='for_records']").is(':checked')) {
                    $(":checkbox[name*='fake_tv_archive'], :checkbox[name*='flussonic_dvr'], :checkbox[name*='wowza_dvr']").closest('.form-group').show('fast').find('input').prop("disabled", false).removeAttr('disabled');
                } else {
                    $(":checkbox[name*='fake_tv_archive'], :checkbox[name*='flussonic_dvr'], :checkbox[name*='wowza_dvr']").closest('.form-group').hide('fast').find('input').prop("disabled", 'disabled').attr('disabled', 'disabled');
                }
            }
        }
        
    </script>
{% endblock %}