{% extends 'layout.twig' %}
{% set title = ('Service packages'|trans ~ ': ' ~ (app.servicePackageEdit ? ('Edit package'|trans ~ " '"~ app.packageName ~ "'"): 'Add package'|trans)) | trans %}
{% set active_alias = 'service-packages' %}

{% block content %}
    <div id="add_channel">
        {{ form_start(app['form'], {'method': 'POST', 'action': (app.request.baseUrl ~ '/' ~ app.controller_alias  ~ '/' ~ app.action_alias) | trans, 'attr': {'class': 'form-horizontal', 'role': 'form', 'id': 'form_'}}) }}
        <div class="bg-danger">
            <div class="bg-danger">
                {{ form_errors(app['form']) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box">
                    <div class="box-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'External ID'|trans }}<span class="icon-required">*</span></label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].id, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(app['form'].external_id, {'attr': {'class': 'form-control', 'data-validation':'required'}}) }}
                                </div>
                                <div>
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].external_id) }}
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Must be unique'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Package'|trans }}<span class="icon-required">*</span></label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].name, {'attr': {'class': 'form-control', 'data-validation':'required'}}) }}
                                </div>
                                <div>
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].name) }}
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'You can use letters, digits and symbols from the list: ! @ # $ % ^ & * ( ) _ - + : ; , .'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Description'|trans }}</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].description, {'attr': {'class': 'form-control'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].description) }}
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Service'|trans }}</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {% if attribute(app['form'].type, 'vars') is defined %}
                                        {% set type_val = app['form'].type.vars.value %}
                                    {% else %}
                                        {% set type_val = '' %}
                                    {% endif %}
                                    {{ form_widget(app['form'].type, {'attr': {'class': 'populate placeholder', 'data-currtype': type_val }}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].type) }}
                                    </div>

                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">{{ 'Category of content to which this package is belongs'|trans }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Access'|trans }}</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].service_type, {'attr': {'class': 'populate placeholder'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].service_type) }}
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">{{ 'Type of access to the service: regular or one-off - with the terms and the price of rent'|trans }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Duration of rent'|trans }}</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].rent_duration, {'attr': {'class': 'form-control'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].rent_duration) }}
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">{{ 'The duration of the specified service hours'|trans }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Price'|trans }}</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].price, {'attr': {'class': 'form-control'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].price) }}
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">{{ 'Price for rent services'|trans }}</span>
                                </span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Full package'|trans }}</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    <div class="checkbox">
                                        <label>
                                            {{ form_widget(app['form'].all_services) }}      
                                            <i class="fa fa-square-o small"></i>
                                        </label>
                                        <div class="bg-danger">
                                            {{ form_errors(app['form'].all_services) }}
                                        </div>
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">{{ 'Gives access to all content of the selected service'|trans }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <fieldset id="letters" class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label class="col-sm-12 control-label">{{ 'Available'|trans }}</label>
                                        {{ form_widget(app['form'].disabled_services, {'attr': {'class': 'left populate placeholder col-sm-12', "multiple": "multiple"}}) }}
                                        <div class="bg-danger">
                                            {{ form_errors(app['form'].disabled_services) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <br><br><br><br><br>
                                        <button type="button" class="add all btn btn-block btn-default"> {{ 'all'|trans }} &gt;&gt; </button>
                                        <button type="button" class="add btn btn-block btn-default"> &gt; </button>
                                        <button type="button" class="remove btn btn-block btn-default"> &lt; </button>
                                        <button type="button" class="remove all btn btn-block btn-default"> &lt;&lt; {{ 'all'|trans }}</button>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="col-sm-12 control-label">{{ 'Selected'|trans }}</label>
                                        {{ form_widget(app['form'].services, {'attr': {'class': 'right populate placeholder col-sm-12', "multiple": "multiple"}}) }}
                                        <div class="bg-danger">
                                            {{ form_errors(app['form'].services) }}
                                        </div>
                                    </div>
                                </fieldset>
                                {{ form_widget(app['form'].disabled_services_json, {'attr': {'class': 'form-control'}}) }}
                                {{ form_widget(app['form'].services_json, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="box">
                    <div class="box-content">
                        <div class="row">
                            <div class="pull-right">
                                {{ form_widget(app['form'].save, { 'label': 'Save'|trans , attr: {'class': 'btn btn-success  pull-right'}}) }}
                                <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/service-packages" class="btn btn-default pull-right">{{ 'Cancel'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="">
            {{ form_rest(app.form) }}
        </div>
        {{ form_end(app['form']) }}  
    </div>
    <script type="text/javascript" defer>

        var conf = {
            form: '#form_',
            lang : '{{ app.language }}',
            showHelpOnFocus : true,
            validateHiddenInputs: true,
            ignore: ['.ignore'],
            modules: 'jsconf',
            onSuccess: function () {
                $(conf.form).get(0).submit();
                return true;
            },
            onError: function () {
                return false;
            }
        };

        function DemoSelect2() {
            $.getScript("{{ app.request.baseUrl }}/plugins/select2/i18n/{% if app["language"] %}{{ app["language"] }}{% else %}en{% endif %}.js", function(){
                $.fn.select2.defaults.set('dropdownAutoWidth', 'false');
                $.fn.select2.defaults.set('width', '100%');
                $('#form_service_type, #form_type').select2({minimumResultsForSearch: -1});
            });
        }
        
        function yelp() {
            $(document).ready(function () {
                $.validate(conf);
                $( "#form_price" ).spinner({step: 0.01, numberFormat: "C", min: 0, value: $( "#form_price" ).val()});
                LoadSelect2Script(DemoSelect2);
                $('head').append('<link href="{{ app.request.baseUrl }}/plugins/multiselect_transfer/style.css" type="text/css" rel="stylesheet" />');

                $(document).on('change', '#form_external_id', function (e) {
                    var _this = $(this);
                    _this.next('div').removeClass('bg-danger').css('visibility', 'hidden').html('&nbsp;');
                    ajaxPostSend('{{app.request.baseUrl}}/{{app.controller_alias}}/check-external-id', {externalid: _this.val(), selfid: $('#form_id').val()}, false);
                });

                $(document).on('change', '#form_all_services', function(e){
                    if (typeof(this.checked) && this.checked){
                        $('#form_disabled_services').attr('disabled', 'disabled');
                        $('#form_services').attr('disabled', 'disabled');
                        $('#form_services').closest('fieldset').find('button').attr('disabled', 'disabled').closest('.form-group').hide();
                    } else{
                        $('#form_disabled_services').removeAttr('disabled');
                        $('#form_services').removeAttr('disabled');
                        $('#form_services').closest('fieldset').find('button').removeAttr('disabled').closest('.form-group').show();
                    }
                });

                if ($('#form_all_services').val() == 1){
                    $('#form_all_services').attr('checked', 'checked');
                    $('#form_all_services').trigger('change');
                } 
                
                $(document).on('change', '#form_service_type', function(eventObj){
                    var type = $(this).val();

                    if (type == 'single'){
                        $('#form_rent_duration').closest('.form-group').show();
                        $('#form_price').closest('.form-group').show();
                    } else {
                        $('#form_rent_duration').closest('.form-group').hide();
                        $('#form_price').closest('.form-group').hide();
                    }
                });
                
                if ($('#form_service_type option:selected').length == 0 || !$('#form_service_type option:selected').val()){
                    $('#form_service_type option[value="periodic"]').attr('selected', 'selected');
                }
                $('#form_service_type').trigger('change');

                $(document).on('change', '#form_type', function(eventObj){
                    
                    var type = $(this).val();

                    if (type == 'module' || type == ''){
                        $('#form_all_services').attr('disabled', 'disabled').closest('.form-group').hide();
                    }else{
                        $('#form_all_services').removeAttr('disabled').closest('.form-group').show();
                    }


                    if (type == 'video'){
                        $('#form_service_type').removeAttr('disabled').closest('.form-group').show();
                        $('#form_rent_duration').removeAttr('disabled').closest('.form-group').show();
                        $('#form_price').removeAttr('disabled').closest('.form-group').show();
                        $('#form_service_type').trigger('change');
                    } else {
                        $('#form_service_type').attr('disabled', 'disabled').closest('.form-group').hide();
                        $('#form_rent_duration').attr('disabled', 'disabled').closest('.form-group').hide();
                        $('#form_price').attr('disabled', 'disabled').closest('.form-group').hide();
                    }
                    
                    /*if ($(this).data('currtype') == type) {
                        return;
                    }*/
                    
                    $(this).data('currtype', type);
                    
                    $('#form_services').empty();

                    if (type != 0){
                        ajaxPostSend('{{app.request.baseUrl}}/{{app.controller_alias}}/get-services', {type: type}, false);
                    }
                });
                
                if ($('#form_type option:selected').length == 0){
                    $('#form_type option[value="tv"]').attr('selected', 'selected');
                }
                $('#form_type').trigger('change');

                $('#form_disabled_services, #form_services').find('option[value="0"]').remove();

                $(document).on('click', '#form_save', function(e){
                    var sendData =[];
                    $('#form_disabled_services').find('option').each(function(index, val){
                        var _val = $(this);
                        if (_val.val()) {
                            sendData.push(_val.val());
                        }
                    });
                    $('#form_disabled_services').empty().append("<option value='0'></option>");
                    $('#form_disabled_services option').attr('selected', 'selected');

                    $('#form_disabled_services_json').val(JSON.stringify(sendData));
                    var sendData =[];
                    $('#form_services').find('option').each(function(index, val){
                        var _val = $(this);
                        if (_val.val()) {
                            sendData.push(_val.val());
                        }
                    });

                    $('#form_services').empty().append("<option value='0'></option>");
                    $('#form_services option').attr('selected', 'selected');

                    $('#form_services_json').val(JSON.stringify(sendData));

                    e.stopPropagation();
                    e.preventDefault();

                    if ($(conf.form).isValid({}, conf, true)) {
                        conf.onSuccess();
                    } else {
                        conf.onError();
                    }
                    return false;
                });
            });
        }
        document.addEventListener("DOMContentLoaded", yelp, false);

        var updateService = function (data){
            if (typeof (data.services) !== 'undefined') {
                $('#form_disabled_services').empty();
                var disabled_services_json = $("#form_disabled_services_json").val() ? JSON.parse($("#form_disabled_services_json").val()) : new Array();
                for (var key in disabled_services_json) {
                    if (!isNaN(parseInt(disabled_services_json[key], 10))) {
                        disabled_services_json[key] = parseInt(disabled_services_json[key], 10);
                    } else {

                    }
                }
                $.each(data.services, function(index, item){
                    var id = !isNaN(parseInt(item.id, 10)) ? parseInt(item.id, 10) : item.id;
                    if (disabled_services_json.indexOf(id) !== -1 || !$("#form_disabled_services_json").val()) {
                        $('#form_disabled_services').append('<option class="new" value='+item.id+'>'+ item.name + (item.external ? ' (external)' : '') + '</option>');
                    } else {
                        $('#form_services').append('<option class="new" value='+item.id+'>'+ item.name + (item.external ? ' (external)' : '') + '</option>');
                    }
                })
            }

            if ($('#form_all_services:checked').length){
                $('#form_disabled_services').attr('disabled', 'disabled');
                $('#form_services').attr('disabled', 'disabled');
            }
        };
        
        var checkExternalId = function(data){
            $('#form_external_id').next('div').append('<i class="txt-success fa fa-check"></i> ' + data.chk_rezult).css('visibility', 'visible');
        };
        
        var checkExternalIdError = function(data){
            var msg = '';
            msg = (typeof(data.responseJSON) != 'undefined') ? data.responseJSON.error: data.chk_rezult;
            $('#form_external_id').next('div').append('<i class="txt-danger fa fa-ban"></i> ' + msg).css('visibility', 'visible');
        }
    </script>
{% endblock %}