{# empty Twig template #}
{% extends 'layout.twig' %}
{% import '/macro/iptw_macro.twig' as main_macro %}

{% set title = ('IPTV channels'|trans ~ ': ' ~ (app.channelEdit ? ('edit channel "'|trans ~ app.editChannelName ~ '"') | trans : 'add'|trans)) | trans %}
{% set active_alias = 'iptv-list' %}

{% block content %}
    {% if attribute(app, 'not_found') is defined and app.not_found %}
    <div class="row ">
        <div class="box">
            <div class="box-content">
                <h3 class="text-danger">{{ 'Requested channel not found'|trans }}. {{ 'Add a channel'|trans }}?</h3>
            </div>
        </div>
    </div>
    {% endif %}
    <div id="add_channel">
        {{ form_start(app['form'], {'method': 'POST', 'action': (app.request.baseUrl ~ '/' ~ app.controller_alias  ~ '/' ~ app.action_alias) | trans, 'attr': {'class': 'form-horizontal', 'role': 'form', 'id': 'form_' }}) }}
        <div class="bg-danger">
            <div class="bg-danger">
                {{ form_errors(app['form']) }}
            </div>
        </div>
        <div class="row">
            <div class="box">
                <a class="collapse-link">
                    <div class="box-header">
                        <div class="box-name">
                            <div class="row">
                                <div class="col-xs-10 col-sm-2">
                                    <span>{{ 'Basic'|trans }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="box-icons">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                    </div>
                </a>
                <div class="box-content" id="add_channel_base">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Channel number'|trans }}<span class="icon-required">*</span></label>
                        <div class="col-xs-10 col-sm-6">
                            <div class=" col-xs-10 col-sm-6">
                                {{ form_widget(app['form'].id) }}
                                {{ form_widget(app['form'].number, {'attr': {'class': 'form-control ignore', 'data-validation':'number', 'data-validation-allowing':'range[0;9999]'}}) }}
                                <div class="bg-danger">
                                    {{ form_errors(app['form'].number) }}
                                    {% if attribute(app, 'error_local') is defined and attribute(app['error_local'], 'number') is defined %}<span> {{ app['error_local']['number'] }}</span> {% endif %}
                                </div>
                            </div>
                            <span class="help-inline col-xs-12 col-sm-12">
                                <span class="small txt-default">{{ 'Number in channel list must contain only numbers from 0 to 999'|trans }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Channel name'|trans }}<span class="icon-required">*</span></label>
                        <div class="col-xs-10 col-sm-6">
                            <div class=" col-xs-10 col-sm-6">
                                {{ form_widget(app['form'].name, {'attr': {'class': 'form-control', 'data-validation':'required'}}) }}
                                <div class="bg-danger">
                                    {{ form_errors(app['form'].name) }}
                                    {% if attribute(app, 'error_local') is defined and attribute(app['error_local'], 'name') is defined %}<span> {{ app['error_local']['name'] }}</span> {% endif %}
                                </div>
                            </div>
                            <span class="help-inline col-xs-12 col-sm-12">
                                <span class="small txt-default">{{ 'You can use Latin letters, digits and symbols from the list ! @ # $ % ^ & * ( ) _ - + : ; , .'|trans }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Genre'|trans }}<span class="icon-required">*</span></label>
                        <div class="col-xs-10 col-sm-6">
                            <div class=" col-xs-10 col-sm-6">
                                {{ form_widget(app['form'].tv_genre_id, {'attr': {'class': 'populate placeholder'} }) }}
                                <div class="bg-danger">
                                    {{ form_errors(app['form'].tv_genre_id) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Volume correction'|trans }}</label>
                        <div class="col-xs-10 col-sm-6">
                            <div class=" col-xs-10 col-sm-3">
                                {{ form_widget(app['form'].volume_correction, {'attr': {'class': 'populate placeholder'} }) }}
                                <div class="bg-danger">
                                    {{ form_errors(app['form'].volume_correction) }}
                                </div>
                            </div>
                            <span class="help-inline col-xs-12 col-sm-12">
                                <span class="small txt-default">{{ 'Sets compulsory volume level for this channel'|trans }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Channel logo'|trans }}:</label>
                        <div class="col-xs-10 col-sm-8">
                            <div class=" col-xs-12 col-sm-8 pull-right" id="cover_container">
                                {{form_widget(app['form'].logo) }}
                                <img class="channel-logo" src="{% if app['form'].logo.vars.value %}{{ app.baseHost }}{{app['form'].logo.vars.value }}?{{ random(100000) }}{% endif %}" alt="" style="max-width: 100%;">
                                <div class="col-xs-2 col-sm-1 no-padding" id="deletelogolink">
                                    <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/delete-logo" data-logo_id="{% if app['form'].id.vars.value %}{{app['form'].id.vars.value}}{% endif %}"><span class="txt-primary">{{ 'Delete logo'|trans }}</span></a>
                                </div>
                            </div>

                            <!-- The file upload form used as target for the file upload widget -->
                            <div id="fileupload" class="pull-left">
                                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                <div class="fileupload-buttonbar">
                                    <div class="fileupload-buttons">
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="fileinput-button btn btn-success">
                                            <span>{{ 'Add a picture'|trans }}</span>
                                            <input type="file" name="files" style="opacity: 0;">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <span class="help-inline col-xs-12 col-sm-12">
                                <span class="small txt-default">{{ 'Recommended format – png, no smaller than 96*96 pixels, maximum size of the file – 1 MB.'|trans }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Streaming links'|trans }}:</label>
                        <div class="col-xs-10 col-sm-8">
                            <div class=" col-xs-10 col-sm-12">
                                <table class="table  table-hover" id="cmd_data">
                                    <thead>
                                    <tr>
                                        <th>{{ 'Adress'|trans }}</th>
                                        <th>{{ 'Priority'|trans }}</th>
                                        <th>{{ 'Temporary HTTP–link'|trans }}</th>
                                        <th>{{ 'Monitoring'|trans }}</th>
                                        <th>{{ 'Monitoring status'|trans }}</th>
                                        <th>{{ 'Loading balance'|trans }}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Start: list_row -->
                                    {% if attribute(app['form'], 'cmd') is defined and app['form']['cmd']|length >= 1 %}
                                        {% for key in app['form'].cmd|keys %}
                                            {% if attribute(app['form']['cmd'][key].vars, 'value') is defined %}
                                                <tr>
                                                    <td>
                                                        {{ main_macro.input_hidden(app['form']['cmd'], 'cmd', key, 1) }}
                                                        {{ main_macro.input_hidden(app['form']['user_agent_filter'], 'user_agent_filter', key, 0) }}
                                                    </td>
                                                    <td>
                                                        {{ main_macro.input_hidden(app['form']['priority'], 'priority', key, 1) }}
                                                    </td>
                                                    <td>
                                                        <div class="col-sm-12">
                                                            {{ main_macro.input_checkbox(app['form']['use_http_tmp_link'], 'use_http_tmp_link', key) }}
                                                            {{ main_macro.input_hidden(app['form']['wowza_tmp_link'], 'wowza_tmp_link', key, 0) }}
                                                            {{ main_macro.input_hidden(app['form']['nginx_secure_link'], 'nginx_secure_link', key, 0) }}
                                                            {{ main_macro.input_hidden(app['form']['flussonic_tmp_link'], 'flussonic_tmp_link', key, 0) }}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-sm-12">
                                                            {{ main_macro.input_checkbox(app['form']['enable_monitoring'], 'enable_monitoring', key) }}
                                                            {{ main_macro.input_hidden(app['form']['enable_balancer_monitoring'], 'enable_balancer_monitoring', key, 0) }}
                                                            {{ main_macro.input_hidden(app['form']['monitoring_url'], 'monitoring_url', key, 0) }}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-sm-12">
                                                            {% if attribute(app['form']['monitoring_status'], key) is defined and attribute(app['form']['enable_monitoring'], key) is defined %}
                                                                {{ main_macro.set_monitoring_status(app['form']['monitoring_status'], key, app['form']['enable_monitoring'][key].vars.data) }}
                                                            {% else %}
                                                                <div>
                                                                    <label> - </label>
                                                                </div>
                                                            {% endif %}
                                                            {% if attribute(app['form']['monitoring_status'], key) is defined %}
                                                                {{ main_macro.input_hidden(app['form']['monitoring_status'], 'monitoring_status', key, 0) }}
                                                            {% endif %}
                                                            {% if attribute(app['form']['enable_monitoring'], key) is defined %}
                                                                {{ main_macro.input_hidden(app['form']['enable_monitoring'], 'enable_monitoring', key, 0) }}
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-sm-12">
                                                            {{ main_macro.input_checkbox(app['form']['use_load_balancing'], 'use_load_balancing', key) }}
                                                            {{ main_macro.input_hidden(app['form']['stream_server'], 'stream_server', key, 0) }}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-xs-3 col-sm-8">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                                <i class="pull-right fa fa-cog"></i>
                                                            </a>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li>
                                                                    <a href="#" class="channel_url_change_data">
                                                                        <span>{{ 'Edit'|trans }}</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="channel_url_remove_data">
                                                                        <span>{{ 'Delete'|trans }}</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <tr>
                                        <td>
                                            <label data-field="form[cmd]"></label>
                                            <input type="hidden" disabled="disabled" name="form[cmd][0]" id="form_cmd_0">
                                            <input type="hidden" disabled="disabled" name="form[user_agent_filter][0]" id="form_user_agent_filter_0">
                                        </td>
                                        <td>
                                            <label data-field="form[priority]"></label>
                                            <input type="hidden" disabled="disabled" name="form[priority][0]" id="form_priority_0">
                                        </td>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="toggle-switch toggle-switch-success">
                                                    <label>
                                                        <input type="checkbox" value="1" disabled="disabled" name="form[use_http_tmp_link][0]" id="form_use_http_tmp_link_0">
                                                        <div class="toggle-switch-inner"></div>
                                                        <div class="toggle-switch-switch"></div>
                                                    </label>
                                                </div>
                                                <input type="hidden" disabled="disabled" name="form[wowza_tmp_link][0]" id="form_wowza_tmp_link_0">
                                                <input type="hidden" disabled="disabled" name="form[nginx_secure_link][0]" id="form_nginx_secure_link_0">
                                                <input type="hidden" disabled="disabled" name="form[flussonic_tmp_link][0]" id="form_flussonic_tmp_link_0">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="toggle-switch toggle-switch-success">
                                                    <label>
                                                        <input type="checkbox" value="1" disabled="disabled" name="form[enable_monitoring][0]" id="form_enable_monitoring_0">
                                                        <div class="toggle-switch-inner"></div>
                                                        <div class="toggle-switch-switch"></div>
                                                    </label>
                                                    <input type="hidden" disabled="disabled" name="form[enable_balancer_monitoring][0]" id="form_enable_balancer_monitoring_0">
                                                    <input type="hidden" disabled="disabled" name="form[monitoring_url][0]" id="form_monitoring_url_0">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-sm-12">
                                                <div >
                                                    <label>-</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-sm-12">
                                                <div class="toggle-switch toggle-switch-success">
                                                    <label>
                                                        <input type="checkbox" value="1" disabled="disabled" name="form[use_load_balancing][0]" id="form_use_load_balancing_0">
                                                        <div class="toggle-switch-inner"></div>
                                                        <div class="toggle-switch-switch"></div>
                                                    </label>
                                                    <input type="hidden" disabled="disabled" name="form[stream_server][0]" id="form_stream_server_0">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-xs-3 col-sm-8">
                                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                                    <i class="pull-right fa fa-cog"></i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        <a class="channel_url_change_data" href="#">
                                                            <span>{{ 'Edit'|trans }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="channel_url_remove_data" href="#">
                                                            <span>{{ 'Delete'|trans }}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- End: list_row -->
                                    </tbody>
                                </table>
                            </div>
                            {% if attribute(app, 'error_local') is defined and attribute(app['error_local'], 'cmd') is defined %}
                                <div class=" col-xs-10 col-sm-12">
                                    <div class="bg-danger lead">
                                        <span> {{ app['error_local']['cmd'] }}</span>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="pull-left">
                                <a class="btn btn-success btn-block" id="add_broadcasting_link"><span>{{ 'Add link'|trans }}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <a class="collapse-link">
                    <div class="box-header">
                        <div class="box-name">
                            <div class="row">
                                <div class="col-xs-10 col-sm-2">
                                    <span>{{ 'TV archive'|trans }}</span>
                                </div>
                                <div class="col-xs-10 col-sm-2 header_check_info">
                                    <div class="toggle-switch toggle-switch-success">
                                        <label>
                                            <input type="checkbox">
                                            <div class="toggle-switch-inner"></div>
                                            <div class="toggle-switch-switch"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-icons">
                            <i class="fa fa-chevron-up"></i>
                        </div>
                        <div class="no-move"></div>
                    </div>
                </a>
                <div class="box-content" id="add_channel_storage_save">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Enable TV archive'|trans }}</label>
                        <div class="col-xs-10 col-sm-6">
                            <div class=" col-xs-10 col-sm-1">
                                <div class="checkbox">
                                    <label>
                                        {{ form_widget(app['form'].enable_tv_archive) }}
                                        <i class="fa fa-square-o small"></i>
                                    </label>
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].enable_tv_archive) }}
                                    </div>
                                </div>
                            </div>
                            <div class=" col-xs-10 col-sm-3" id="wowza_dvr">
                                <label class="col-sm-8 control-label">{{ 'Wowza DVR'|trans }}</label>
                                <div class="checkbox">
                                    <label>
                                        {{ form_widget(app['form'].wowza_dvr) }}
                                        <i class="fa fa-square-o small"></i>
                                    </label>
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].wowza_dvr) }}
                                    </div>
                                </div>
                            </div>
                            <div class=" col-xs-10 col-sm-3" id="flussonic_dvr">
                                <label class="col-sm-8 control-label">{{ 'Flussonic DVR'|trans }}</label>
                                <div class="checkbox">
                                    <label>
                                        {{ form_widget(app['form'].flussonic_dvr) }}
                                        <i class="fa fa-square-o small"></i>
                                    </label>
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].flussonic_dvr) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Archive servers'|trans }}</label>
                        <div class="col-xs-10 col-sm-6">
                            <div class=" col-xs-10 col-sm-6">
                                {{ form_widget(app['form'].storage_names, {'attr': {'class': 'populate placeholder'}}) }}
                                <div class="bg-danger">
                                    {{ form_errors(app['form'].storage_names) }}
                                </div>
                                {{ form_widget(app['form'].wowza_storage_names, {'attr': {'class': 'populate placeholder'}}) }}
                                <div class="bg-danger">
                                    {{ form_errors(app['form'].wowza_storage_names) }}
                                </div>
                                {{ form_widget(app['form'].flussonic_storage_names, {'attr': {'class': 'populate placeholder'}}) }}
                                <div class="bg-danger">
                                    {{ form_errors(app['form'].flussonic_storage_names) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'TV archive address'|trans }}</label>
                        <div class="col-xs-10 col-sm-6">
                            <div class=" col-xs-10 col-sm-6">
                                {{ form_widget(app['form'].mc_cmd, {'attr': {'class': 'form-control', 'data-validation': 'custom', 'data-validation-regexp': '^(http|udp|rtp)\\:\\/\\/', 'data-validation-error-msg': "Valid protocols are http://, rtp:// and udp://." | trans }}) }}
                                <div class="bg-danger">
                                    {{ form_errors(app['form'].mc_cmd) }}
                                    {% if attribute(app, 'error_local') is defined and attribute(app['error_local'], 'mc_cmd') is defined %}<span> {{ app['error_local']['mc_cmd'] }}</span> {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'TV archive length'|trans }}</label>
                        <div class="col-xs-10 col-sm-6">
                            <div class=" col-xs-10 col-sm-6">
                                {{ form_widget(app['form'].tv_archive_duration, {'attr': {'class': 'form-control populate placeholder', 'data-validation':'number', 'data-validation-allowing':'range[0;999]', 'data-validation-error-msg': "Allowed values from 0 to 999" | trans }}) }}
                                <div class="bg-danger">
                                    {{ form_errors(app['form'].tv_archive_duration) }}
                                </div>
                            </div>
                            <span class="help-inline col-xs-12 col-sm-12">
                                <span class="small txt-default">{{ 'Measured in hours'|trans }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Allow nPVR'|trans }}</label>
                        <div class="col-xs-10 col-sm-6">
                            <div class=" col-xs-10 col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        {{ form_widget(app['form'].allow_pvr) }}
                                        <i class="fa fa-square-o small"></i>
                                    </label>
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].allow_pvr) }}
                                    </div>
                                </div>
                            </div>
                            <span class="help-inline col-xs-12 col-sm-12">
                                <span class="small txt-default">{{ 'Allow the user to record selected programs on the server repository'|trans }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'nPVR servers'|trans }}</label>
                        <div class="col-xs-10 col-sm-6">
                            <div class=" col-xs-10 col-sm-6">
                                {{ form_widget(app['form'].pvr_storage_names, {'attr': {'class': 'populate placeholder' }}) }}
                                <div class="bg-danger">
                                    {{ form_errors(app['form'].pvr_storage_names) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <a class="collapse-link">
                    <div class="box-header">
                        <div class="box-name">
                            <div class="row">
                                <div class="col-xs-10 col-sm-2">
                                    <span>{{ 'EPG'|trans }}</span>
                                </div>
                                <div class="col-xs-10 col-sm-2 header_check_info">
                                    <div class="toggle-switch toggle-switch-success">
                                        <label>
                                            <input type="checkbox">
                                            <div class="toggle-switch-inner"></div>
                                            <div class="toggle-switch-switch"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-icons">
                            <i class="fa fa-chevron-up"></i>
                        </div>
                        <div class="no-move"></div>
                    </div>
                </a>
                <div class="box-content" id="add_channel_EPG">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'XMLTV ID'|trans }}</label>
                        <div class="col-xs-10 col-sm-6">
                            <div class=" col-xs-10 col-sm-6">
                                {{ form_widget(app['form'].xmltv_id, {'attr': {'class': 'form-control' }}) }}
                                <div class="bg-danger">
                                    {{ form_errors(app['form'].xmltv_id) }}
                                </div>
                            </div>
                            <span class="help-inline col-xs-12 col-sm-12">
                                <span class="small txt-default">{{ 'XMLTV ID of channel in EPG file. If the EPG source has the prefix state it in &lt;prefix&gt;_XMLTV ID format'|trans }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Time correction for EPG'|trans }}</label>
                        <div class="col-xs-10 col-sm-6">
                            <div class=" col-xs-10 col-sm-6">
                                {{ form_widget(app['form'].correct_time, {'attr': {'class': 'form-control', 'data-validation':'number', 'data-validation-allowing':'range[-720;840],negative', 'data-validation-error-msg': "Allowed values from -720 to 840" | trans}}) }} {# {'attr': {'class': 'form-control populate placeholder', 'data-validation': 'number', 'data-validation-allowing': 'range[-720;840],negative' }}) }}#}
                                <div class="bg-danger">
                                    {{ form_errors(app['form'].correct_time) }}
                                </div>
                            </div>
                            <span class="help-inline col-xs-12 col-sm-12">
                                <span class="small txt-default">{{ 'Measured in minutes'|trans }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <a class="collapse-link">
                    <div class="box-header">
                        <div class="box-name">
                            <div class="row">
                                <div class="col-xs-10 col-sm-2">
                                    <span>{{ 'Parental control'|trans }}</span>
                                </div>
                                <div class="col-xs-10 col-sm-2 header_check_info">
                                    <div class="toggle-switch toggle-switch-success">
                                        <label>
                                            <input type="checkbox">
                                            <div class="toggle-switch-inner"></div>
                                            <div class="toggle-switch-switch"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-icons">
                            <i class="fa fa-chevron-up"></i>
                        </div>
                        <div class="no-move"></div>
                    </div>
                </a>
                <div class="box-content" id="add_channel_safety">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Age restriction'|trans }}</label>
                        <div class="col-xs-10 col-sm-6">
                            <div class=" col-xs-10 col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        {{ form_widget(app['form'].censored) }}
                                        <i class="fa fa-square-o small"></i>
                                    </label>
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].censored) }}
                                    </div>
                                </div>
                            </div>
                            <span class="help-inline col-xs-12 col-sm-12">
                                <span class="small txt-default">{{ 'Sets the password restriction on the channel Default password 0000'|trans }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <a class="collapse-link">
                    <div class="box-header">
                        <div class="box-name">
                            <div class="row">
                                <div class="col-xs-10 col-sm-2">
                                    <span>{{ 'Channel type'|trans }}</span>
                                </div>
                                <div class="col-xs-10 col-sm-2 header_check_info">
                                    <div class="toggle-switch toggle-switch-success">
                                        <label>
                                            <input type="checkbox">
                                            <div class="toggle-switch-inner"></div>
                                            <div class="toggle-switch-switch"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-icons">
                            <i class="fa fa-chevron-up"></i>
                        </div>
                        <div class="no-move"></div>
                    </div>
                </a>
                <div class="box-content" id="add_channel_type">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Basic channel'|trans }}</label>
                        <div class="col-xs-10 col-sm-6">
                            <div class=" col-xs-10 col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        {{ form_widget(app['form'].base_ch) }}
                                        <i class="fa fa-square-o small"></i>
                                    </label>
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].base_ch) }}
                                    </div>
                                </div>
                            </div>
                            <span class="help-inline col-xs-12 col-sm-12">
                                <span class="small txt-default">{{ 'Ignore is Tariff plan functional is used'|trans }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <a class="collapse-link">
                    <div class="box-header">
                        <div class="box-name">
                            <div class="row">
                                <div class="col-xs-10 col-sm-2">
                                    <span>{{ 'USB recordings'|trans }}</span>
                                </div>
                                <div class="col-xs-10 col-sm-2 header_check_info">
                                    <div class="toggle-switch toggle-switch-success">
                                        <label>
                                            <input type="checkbox">
                                            <div class="toggle-switch-inner"></div>
                                            <div class="toggle-switch-switch"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-icons">
                            <i class="fa fa-chevron-up"></i>
                        </div>
                        <div class="no-move"></div>
                    </div>
                </a>
                <div class="box-content" id="add_channel_usb_store">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'TimeShift via USB devices'|trans }}</label>
                        <div class="col-xs-10 col-sm-7">
                            <div class=" col-xs-10 col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        {{ form_widget(app['form'].allow_local_timeshift) }}
                                        <i class="fa fa-square-o small"></i>
                                    </label>
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].allow_local_timeshift) }}
                                    </div>
                                </div>
                            </div>
                            <span class="help-inline col-xs-12 col-sm-12">
                                <span class="small txt-default">{{ 'User can perform TimeShift function using Flash drive.'|trans }}</span>
                                <span class="small txt-default">{{ 'TimeShift only works with solutions rtp and ffrt.'|trans }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'PVR to the USB-driver'|trans }}</label>
                        <div class="col-xs-10 col-sm-7">
                            <div class=" col-xs-10 col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        {{ form_widget(app['form'].allow_local_pvr) }}
                                        <i class="fa fa-square-o small"></i>
                                    </label>
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].allow_local_pvr) }}
                                    </div>
                                </div>
                            </div>
                            <span class="help-inline col-xs-12 col-sm-12">
                                <span class="small txt-default">{{ 'User can record selected shows and programs to the Flash drive.'|trans }}</span>
                                <span class="small txt-default">{{ 'Can record only the channels, which is broadcasted in the transport stream (mpeg-ts),  from multicast and also from http-server.'|trans }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box">
                <div class="box-content">
                    <div class="row">
                        <div class="pull-right">
                            {{ form_widget(app['form'].save, { 'label': 'Save'|trans , attr: {'class': 'btn btn-success   pull-right' }}) }}
                            <a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/iptv-list" class="btn btn-default  pull-right">{{ 'Cancel'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none;">
        {{ form_row(app['form'].cmd) }}
        {{ form_row(app['form'].user_agent_filter) }}
        {{ form_row(app['form'].priority) }}
        {{ form_row(app['form'].use_http_tmp_link) }}
        {{ form_row(app['form'].wowza_tmp_link) }}
        {{ form_row(app['form'].nginx_secure_link) }}
        {{ form_row(app['form'].flussonic_tmp_link) }}
        {{ form_row(app['form'].enable_monitoring) }}
        {{ form_row(app['form'].enable_balancer_monitoring) }}
        {{ form_row(app['form'].monitoring_url) }}
        {{ form_row(app['form'].use_load_balancing) }}
        {{ form_row(app['form'].stream_server) }}
        {{ form_row(app['form'].monitoring_status) }}
    </div>
        {{ form_end(app['form']) }}
    <div id="modalbox_ad">
        <div class="devoops-modal channel-form">
            <div class="devoops-modal-header">
                <div class="modal-header-name">
                    <span>{{ 'Add streaming link'|trans }}</span>
                </div>
                <div class="box-icons">
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <form class="form-horizontal" role="form" id="add_channel_link_form">
                <div class="devoops-modal-inner">
                    <div class="box">
                        <a class="collapse-link">
                            <div class="box-header">
                                <div class="box-name">
                                    <div class="row">
                                        <div class="col-xs-10 col-sm-4">
                                            <span>{{ 'Basic'|trans }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-icons">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                                <div class="no-move"></div>
                            </div>
                        </a>
                        <div class="box-content" id="add_channel_url_base">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Channel URL'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" data-validation = 'custom' data-validation-regexp = '^(\w+\s)?\w+\:\/\/.+$' title="" value="" name="form[cmd][]">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Format: solution+URL Example ffrt http://5.39.70.216/live/88.ts'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Filter'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" value="" name="form[user_agent_filter][]">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Filter by user-agent. Ability to set the filter by the connection type (WiFi, Ethernet), by STB model (250, 275, ...), by country (UA, RU, ...). Field is case sensitive'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Priority'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <select class="populate placeholder" name="form[priority][]" id="s2_priority">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Priority for channel URL, 0 – the highest priority'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <a class="collapse-link">
                            <div class="box-header">
                                <div class="box-name">
                                    <div class="row">
                                        <div class="col-xs-10 col-sm-4">
                                            <span>{{ 'Temporary URL'|trans }}</span>
                                        </div>
                                        <div class="col-xs-10 col-sm-6 header_check_info">
                                            <div class="toggle-switch toggle-switch-success">
                                                <label>
                                                    <input type="checkbox">
                                                    <div class="toggle-switch-inner"></div>
                                                    <div class="toggle-switch-switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-icons">
                                    <i class="fa fa-chevron-up"></i>
                                </div>
                                <div class="no-move"></div>
                            </div>
                        </a>
                        <div class="box-content" id="add_channel_temp_http_link">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Enable Temporary URL'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[use_http_tmp_link][]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Protect channel from unauthorized access'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'WOWZA support'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[wowza_tmp_link][]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'NGINX secure link'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[nginx_secure_link][]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Flussonic support'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[flussonic_tmp_link][]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <a class="collapse-link">
                            <div class="box-header">
                                <div class="box-name">
                                    <div class="row">
                                        <div class="col-xs-10 col-sm-4">
                                            <span>{{ 'Monitoring'|trans }}</span>
                                        </div>
                                        <div class="col-xs-10 col-sm-6 header_check_info">
                                            <div class="toggle-switch toggle-switch-success">
                                                <label>
                                                    <input type="checkbox">
                                                    <div class="toggle-switch-inner"></div>
                                                    <div class="toggle-switch-switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-icons">
                                    <i class="fa fa-chevron-up"></i>
                                </div>
                                <div class="no-move"></div>
                            </div>
                        </a>
                        <div class="box-content" id="add_channel_link_monitoring">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Enable monitoring'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[enable_monitoring][]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'URL availability check'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Channel URL for monitoring'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" value="" name="form[monitoring_url][]" data-validation = 'custom' data-validation-regexp = '^\w+\:\/\/.+$'>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Format: URL (without solution). Example: http://lpOfStream/test.js'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <a class="collapse-link">
                            <div class="box-header">
                                <div class="box-name">
                                    <div class="row">
                                        <div class="col-xs-10 col-sm-4">
                                            <span>{{ 'Load balancing'|trans }}</span>
                                        </div>
                                        <div class="col-xs-10 col-sm-6 header_check_info">
                                            <div class="toggle-switch toggle-switch-success">
                                                <label>
                                                    <input type="checkbox">
                                                    <div class="toggle-switch-inner"></div>
                                                    <div class="toggle-switch-switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-icons">
                                    <i class="fa fa-chevron-up"></i>
                                </div>
                                <div class="no-move"></div>
                            </div>
                        </a>
                        <div class="box-content" id="add_channel_load_balancing">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Enable load balancing'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[use_load_balancing][]" id="use_load_balancing_chk">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Switching between streaming servers depending on the load'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Streaming servers'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-10">
                                        <select class="populate placeholder" multiple name="form[stream_server][]" id="s2_stream_server" data-validation = "required" disabled="disabled">
                                            {% if app['streamServers'] %}
                                                {% for s_item in app.streamServers %}
                                                    <option value="{{ s_item.id }}">{{ s_item.name }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Servers which are going to be balanced'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Balancer monitoring'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="form[enable_balancer_monitoring][]">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="devoops-modal-bottom">
                    <div class="box">
                        <div class="box-content">
                            <div class="row">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success  pull-right">{{ 'Save'|trans }}</button>
                                    <button type="reset" class="btn btn-default  pull-right">{{ 'Cancel'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="./plugins/scrollTo/jquery.scrollTo.min.js" defer=""></script>
    <script type="text/javascript">

        var conf = {
            form: '#form_',
            formContainer: '#add_channel',
            lang : '{{ app.language }}',
            showHelpOnFocus : true,
            validateHiddenInputs: true,
            ignore: ['.ignore'],
            modules: 'jsconf',
            onSuccess: function () {
                if (this.form == '#form_') {
                    $(this.form).get(0).submit();
                }
                return false;
            },
            onError: function () {
                $(this.formContainer).find('span.form-error, div.bg-danger').each(function(){
                    if ($.trim($(this).text()) && !$(this).is(":visible")) {
                        $(this).closest('div.box').find('a.collapse-link').trigger('click');
                    }
                });
                return false;
            }
        };

        function DemoSelect2() {
            $.getScript("{{ app.request.baseUrl }}/plugins/select2/i18n/{% if app["language"] %}{{ app["language"] }}{% else %}en{% endif %}.js", function() {
                $.fn.select2.defaults.set('dropdownAutoWidth', 'false');
                $.fn.select2.defaults.set('width', '100%');
                $('#form_tv_genre_id').select2({minimumResultsForSearch: -1});
                $('#form_volume_correction').select2({minimumResultsForSearch: -1});
                $('#s2_priority').select2({minimumResultsForSearch: -1});
                $('#s2_stream_server').select2({minimumResultsForSearch: -1});
                $('#form_pvr_storage_names').select2({minimumResultsForSearch: -1});
                $('#form_storage_names').select2({minimumResultsForSearch: -1});
                $('#form_flussonic_storage_names').select2({minimumResultsForSearch: -1});
                $('#form_wowza_storage_names').select2({minimumResultsForSearch: -1});
                $("#form_enable_tv_archive, #form_allow_pvr").each(function () {
                    checkEnableChkBox($(this).attr('id'));
                });
            });
        }

        function initFileUploader(){
            $('#fileupload').fileupload({
                url: 'tv-channels/edit-logo?id=' + ($(this).prev('div').children('input').val() ? $(this).prev('div').children('input').val() : 'new'),
                type: 'POST',
                autoUpload: true,
                multipart: true,
                acceptFileTypes: /(\.|\/)(jpe?g|png)$/i,
                maxFileSize: 1000000,
                maxNumberOfFiles: 1
            }).bind('fileuploaddone', function (e, data) {
                var response;
                if (data && data.jqXHR && data.jqXHR.status && data.jqXHR.status == 200 && data.jqXHR.responseJSON) {
                    response = data.jqXHR.responseJSON;
                } else {
                    JSErrorModalBox();
                    return false;
                }
                $(this).prev('div').children('img').attr('src', response.pic + '?' + $.random(100000)).css('max-width', '100%');
                var val = response.pic.split('/');
                val = val[val.length - 1];
                $(this).prev('div').children('input').val(val);
                var imageName = val.split('.');
                if (imageName.length > 1) {
                    imageName.length -= 1;
                }
                imageName = imageName.join('.');
                var postUrl = 'tv-channels/edit-logo?id=' + (typeof (imageName) != 'undefined' && imageName != '' ? imageName : 'new');
                $(this).fileupload('option', {url: postUrl});

                $("#deletelogolink a").data("logo_id", (imageName.search('new') != -1 ? val: imageName));

                return false;
            });
            return true;
        }

        function yelp() {
            $(document).ready(function () {
                if (typeof (channelListRender) == 'function') {
                    LoadSelect2Script(DemoSelect2);
                }

                $("#form_enable_tv_archive, #form_allow_pvr").on('change', function () {
                    checkEnableChkBox($(this).attr('id'));
                });

                $("#form_wowza_dvr, #form_flussonic_dvr").on('change, click', function () {
                    var _this = $(this);
                    if (_this.is(':visible') && _this.is(':checked')) {
                        $("#" + (_this.attr('id') == 'form_wowza_dvr' ? 'form_flussonic_dvr': 'form_wowza_dvr')).prop("checked", false).removeAttr('checked');
                        toggleChkSelect(_this.attr('id'));
                    } else {
                        toggleChkSelect('form_enable_tv_archive');
                    }
                });

                $(document).on('click', '#fileupload input[type="file"]', function(e){
                    var imgItem = $(this).closest('.form-group').find('img');
                    if (imgItem.attr('src') && !confirm('{{ 'Do you really want to delete or replace this image?'|trans }}')) {
                        e.stopPropagation();
                        e.preventDefault();
                        return false;
                    }
                });

                if (typeof (loadFileUploadScripts) != 'function' || !loadFileUploadScripts(initFileUploader)){
                    JSErrorModalBox({msg: "{{ 'Cannot load File Upload plugin'|trans }}"})
                }

                $.validate(conf);
                $("#form_save").on('click', function (e) {

                    e.stopPropagation();
                    e.preventDefault();
                    var ignore = new Array();
                    if (!$("#form_enable_tv_archive").prop('checked')) {
                        ignore.push($("#form_tv_archive_duration").prop('name'));
                        if (!$("#form_allow_pvr").prop('checked')) {
                            ignore.push($("#form_mc_cmd").prop('name'));
                        }
                    }

                    if($("#form_correct_time").val().length == 0) {
                        $("#form_correct_time").val(0);
                    }

                    conf.ignore = ignore;
                    conf.form = '#form_';
                    conf.formContainer = '#add_channel';
                    if ($(conf.form).isValid({}, conf, true)) {
                        conf.onSuccess();
                    } else {
                        conf.onError();
                    }
                    return false;
                });
                $("#form_reset").on('click', function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    $(this).closest('form').get(0).reset();
{#                    $("#cmd_data").find("tr:visible").remove();#}
                    return false;
                });
                
                $("#add_channel > form> .row > .box:not(:first-of-type), #modalbox_ad > div > form>.devoops-modal-inner > .box:not(:first-of-type)").children('div.box-content').hide('fast');
                
                $("#modalbox_ad > .channel-form .box-header .box-name .toggle-switch, #add_channel_base #cmd_data .toggle-switch").off('click');
                $("#modalbox_ad > .channel-form .box-header .box-name .toggle-switch, #add_channel_base #cmd_data .toggle-switch").on('click', function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    return false;
                });

                $(document).on('click', "#add_channel #add_broadcasting_link", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var tmp_id = $('#cmd_data tr:last').attr('id');
                    if (!tmp_id) {
                        tmp_id = "tr_" + $.randString();
                        $('#cmd_data tr:last').attr('id', tmp_id);
                    }
                    $("#modalbox_ad").data('tr_id', tmp_id);

                    $("#modalbox_ad").find(".modal-header-name").children('span').text('{{ 'Add streaming link'|trans }}');
                    $("#modalbox_ad").find("input, select").prop("disabled", false).removeAttr('disabled');
                    $("#modalbox_ad").find('form').each(function(){
                        this.reset();
                    });
                    $("#s2_stream_server option").prop('selected', false).removeAttr('selected');
                    $("#s2_stream_server").prop('disabled', 'disabled');
                    $("#s2_stream_server").closest(".form-group").hide();
                    $("#add_channel_load_balancing input[type='checkbox'][name*='enable_balancer_monitoring']").prop('checked', false).closest(".form-group").hide();
                    $("#add_channel_link_monitoring input[type='checkbox'][name*='enable_monitoring']").prop('checked', false);
                    $("#add_channel_link_monitoring input[type='text'][name*='monitoring_url']").prop('disabled', 'disabled').closest(".form-group").hide();
                    $("#modalbox_ad").show();
                    return false;
                });

                $(document).on("click", "#cmd_data .channel_url_remove_data", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var parentTable = $(this).closest('tbody');
                    $(this).closest('tr').remove();
                    parentTable.find('tr:visible').each(function(i){
                        $(this).find('input').each(function(){
                            $(this).attr('name', $(this).attr('name').replace(/\d+?/ig, i+1));
                            $(this).attr('id', $(this).attr('id').replace(/\d+?/ig, i+1));
                        })
                    });

                    return false;
                });

                $(document).on("click", "#cmd_data .channel_url_change_data", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $("#modalbox_ad #add_channel_url_base input[name*='cmd']").closest('div').next('span.duplicate').remove();
                    var data = channelUrlDataGet($(this).closest('tr'));
                    var tmp_id = $(this).closest('tr').attr('id');
                    if (!tmp_id) {
                        tmp_id = "tr_" + $.randString();
                        $(this).closest('tr').attr('id', tmp_id);
                    }
                    $("#modalbox_ad").data('tr_id', tmp_id);
                    $("#modalbox_ad").find('input, select').each(function () {
                        var name = (typeof ($(this).attr('name')) != 'undefined') ? $(this).attr('name').replace(/\[\d*?\]/ig, '') : false;
                        if (typeof (data[name]) == 'undefined') {
                            return true;
                        }
                        $(this).prop("disabled", false).removeAttr("disabled");
                        var type = typeof ($(this).attr('type')) != 'undefined' ? $(this).attr('type') : $(this).get(0).tagName.toLowerCase();
                        if (type == 'select') {
                            var lSelect = $(this);
                            lSelect.find('option').prop('selected', false).removeAttr('selected');
                            $.each(data[name].value.split(';'), function (i, lValue) {
                                lSelect.find("option[value='" + lValue + "']").prop('selected', 'selected');
                            });
                            if (lSelect.attr('id').search('s2') != -1) {
                                lSelect.select2({minimumResultsForSearch: -1});
                            }
                        } else if (type == 'checkbox') {
                            $(this).prop('checked', (data[name].value == 'on' || data[name].value == '1'));
                        } else if (type == 'radio') {
                            if ($(this).val() == data[name].value) {
                                $(this).prop('checked', 'checked');
                            } else {
                                $(this).prop('checked', false).removeAttr('checked');
                            }
                        } else {
                            $(this).val(data[name].value);
                        }
                    });

                    if ($("#modalbox_ad input[name*='use_http_tmp_link']").prop("checked")) {
                        linkTypeFields.closest(".form-group").show();
                    } else {
                        linkTypeFields.val('off').prop('checked', false).closest(".form-group").hide();
                    }

                    if (!$("#add_channel_load_balancing input[type='checkbox'][name*='use_load_balancing']").is(':checked')) {
                        $("#s2_stream_server option").prop('selected', false).removeAttr('selected');
                        $("#s2_stream_server").prop('disabled', 'disabled');
                        $("#s2_stream_server").closest(".form-group").hide();
                        $("#add_channel_load_balancing input[type='checkbox'][name*='enable_balancer_monitoring']").prop('checked', false).closest(".form-group").hide();
                    } else {
                        $("#s2_stream_server").prop('disabled', false).removeAttr('disabled');
                        $('#s2_stream_server').select2({minimumResultsForSearch: -1});
                        $("#s2_stream_server").closest(".form-group").show();
                        $("#add_channel_load_balancing input[type='checkbox'][name*='enable_balancer_monitoring']").closest(".form-group").show();
                    }

                    if (!$("#add_channel_link_monitoring input[type='checkbox'][name*='enable_monitoring']").is(':checked')) {
                        $("#add_channel_link_monitoring input[type='text'][name*='monitoring_url']").prop('disabled', 'disabled').closest(".form-group").hide();
                    } else {
                        $("#add_channel_link_monitoring input[type='text'][name*='monitoring_url']").prop('disabled', false).closest(".form-group").show();
                    }

                    $("#modalbox_ad").find(".modal-header-name").children('span').text('{{ 'Edit streaming link'|trans }}');
                    $("#modalbox_ad").show();
                    $(this).closest('.open').removeClass('open');
                    return false;
                });

                $("#cover_container").on('click', 'a', function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    JSshowModalBox();
                    ajaxPostSend($(this).attr('href'), {logo_id: $(this).data('logo_id')});
                    return false;
                });

                $("#modalbox_ad").on('change', "input[name*='enable_balancer_monitoring']", function(e){
                    var enable_monitoring = $("#modalbox_ad input[name*='enable_monitoring']:checked");
                    if ( this.checked && (enable_monitoring.length == 0 || enable_monitoring.val() == 'off') ){
                        e.stopPropagation();
                        e.preventDefault();
                        $(this).prop('checked', false);
                        showModalBox();
                        return false;
                    }
                });

                var linkTypeFields = $("#modalbox_ad input[name*='wowza_tmp_link'], #modalbox_ad input[name*='nginx_secure_link'], #modalbox_ad input[name*='flussonic_tmp_link']");

                $("#modalbox_ad").on('change', "input[name*='use_http_tmp_link']", function(e){
                    if ($(this).prop("checked")) {
                        linkTypeFields.closest(".form-group").show();
                    } else {
                        linkTypeFields.val('off').prop('checked', false).closest(".form-group").hide();
                    }
                });

                $("#modalbox_ad").on('click', "input[name*='wowza_tmp_link'] + i, input[name*='nginx_secure_link'] + i, input[name*='flussonic_tmp_link'] + i", function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    var checkBox = $(this).prev('input');
                    var currState = !checkBox.prop("checked");
                    if (currState) {
                        linkTypeFields.val('off').prop('checked', false);
                        checkBox.val('on');
                    } else {
                        checkBox.val('off');
                    }
                    checkBox.prop("checked", currState);
                });

                $("#add_channel .form-group").each(function(i){
                    var errorDiv = $(this).find('.bg-danger, .form-error');
                    if (errorDiv.length && errorDiv.is(":visible") && $.trim(errorDiv.text()) != '') {
                        $(this).closest('div.box').find('a.collapse-link').trigger('click');
                    }
                });

                $("#add_channel_load_balancing").on("change", "input[type='checkbox'][name*='use_load_balancing']", function(e){
                    if (!$(this).is(':checked')) {
                        $("#s2_stream_server option").prop('selected', false).removeAttr('selected');
                        $("#s2_stream_server").prop('disabled', 'disabled');
                        $("#s2_stream_server").closest(".form-group").hide();
                        $("#add_channel_load_balancing input[type='checkbox'][name*='enable_balancer_monitoring']").prop('checked', false).closest(".form-group").hide();
                    } else {
                        $("#s2_stream_server").prop('disabled', false).removeAttr('disabled');
                        $('#s2_stream_server').select2({minimumResultsForSearch: -1});
                        $("#s2_stream_server").closest(".form-group").show();
                        $("#add_channel_load_balancing input[type='checkbox'][name*='enable_balancer_monitoring']").closest(".form-group").show();
                    }
                });

                $("#add_channel_link_monitoring").on('change',  "input[type='checkbox'][name*='enable_monitoring']", function(e){
                    if (!$(this).is(':checked')) {
                        $("#add_channel_link_monitoring input[type='text'][name*='monitoring_url']").prop('disabled', 'disabled').closest(".form-group").hide();
                    } else {
                        $("#add_channel_link_monitoring input[type='text'][name*='monitoring_url']").prop('disabled', false).closest(".form-group").show();
                    }
                });

            });
        }

        document.addEventListener("DOMContentLoaded", yelp, false);

        function toggleChkSelect(objId){
            var relations = {
                'form_enable_tv_archive': 'form_storage_names',
                'form_wowza_dvr': 'form_wowza_storage_names',
                'form_flussonic_dvr': 'form_flussonic_storage_names'
            };
            $.each(relations, function(key, val){
                var currObj = $("#" + val);
                if (key !== objId) {
                    currObj.next('span').hide();
                    currObj.prop("disabled", 'disabled').attr('disabled', "disabled");
                    /*currObj.prev('div[id*="' + val + '"]').hide('fast').find('input').prop("disabled", "disabled").attr('disabled', "disabled");*/
                } else {
                    currObj.next('span').show();
                    currObj.select2({minimumResultsForSearch: -1});
                    currObj.prop("disabled", false).removeAttr('disabled');
                    /*currObj.prev('div[id*="' + val + '"]').show('fast').find('input').prop("disabled", false).removeAttr('disabled');*/
                }
            });
        }

        function checkEnableChkBox(chkBoxId){
            var _this = $("#" + chkBoxId);
            var parent = _this.closest('div.form-group');
            if (_this.prop("checked")) {
                parent.next().show().find('input select').prop("disabled", false).removeAttr('disabled');
            } else {
                parent.next().hide().find('input select').prop("disabled", "disabled").attr('disabled', "disabled");
            }
            if (_this.attr('id') == 'form_enable_tv_archive') {
                if (_this.prop("checked")) {
                    $("#wowza_dvr, #flussonic_dvr").show('fast').find('input').prop("disabled", false).removeAttr('disabled');
                    var checkID = $("#form_wowza_dvr, #form_flussonic_dvr").filter(':checked').attr('id');
                    toggleChkSelect(checkID ? checkID: 'form_enable_tv_archive');
                } else {
                    $("#wowza_dvr, #flussonic_dvr").hide('fast').find('input').prop("disabled", 'disabled').attr('disabled', 'disabled').prop("checked", false).removeAttr('checked');
                    toggleChkSelect('');
                }
            }
        }

        var closeModalBox = function(){
            $("#modalbox").hide();
            $('#modalbox').find('.modal-header-name span').empty();
            $('#modalbox').find('.devoops-modal-inner').empty();
            $('#modalbox').find('.devoops-modal-bottom').empty();
        };

        function showModalBox(){
            $('#modalbox').find('.modal-header-name span').text('{{ 'Pay attention.'|trans }}');
            $('#modalbox').find('.devoops-modal-inner').html('<span>{{ 'For activating this option, you must enable "Enable monitoring" in the "Monitoring" section'|trans }}</span>');
            $("#modalbox").show();
        }

        var deleteLogo = function(data){
            $('#form_logo').val('');
            $('#cover_container img').attr('src', '');
            JSSuccessModalBox(data);
        };

        var deleteLogoError = function(data){
            JSErrorModalBox(data);
        };

    </script>

    {% include "basic_templates/file-uploader-scripts.twig" %}

{% endblock %}