{% extends 'layout.twig' %}
{% import '/macro/iptw_macro.twig' as main_macro %}
{% set active = 'settings' %}
{% set title = ('IPTV channels'|trans ~ ': ' ~ 'EPG'|trans) | trans %}

{% block content %}
    <div id="iptv_list">
        <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="pull-right">
                    <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/add-epg-item" class="btn btn-success  pull-right" id="add_epg_item">{{ 'Add EPG'|trans }}</a>
                </div>
                <div class="pull-right">
                    <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/update-epg" class="btn btn-default pull-right main_ajax" data-id="all">{{ 'Update EPG'|trans }}</a>
                </div>
                <div class="pull-right">
                    <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/update-epg" class="btn btn-default pull-right main_ajax" data-id="all" data-force="1">{{ 'Force update of EPG'|trans }}</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class=" auto-height">
                    <div class="box-name">
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 col-sm-offset-2 text-center bg-warning">
                                <span class="text_black">{{ 'Force update of EPG - complete EPG update for all channels'|trans }}.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 col-sm-offset-2 text-center bg-warning">
                                <span class="text_black">{{ 'Update EPG – consider only the new/last changes'|trans }}.</span>
                            </div>
                        </div>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box">
                    {% if attribute(app, 'dropdownAttribute') is defined %}
                    {{ main_macro.get_dropdown_attribute(app['dropdownAttribute']) }}
                    {% endif %}
                    <div class="box-content">
                        <div class="box-content no-padding">
                            <div class="row">
                                <div class="dataTables_processing"></div>
                                <table class="table  table-hover table-datatable" id="datatable-1">
                                    {% if attribute(app, 'dropdownAttribute') is defined %}
                                        {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                    {% endif %}
                                    <tbody>
                                    {% if attribute(app, 'allData') is defined %}
                                        <!-- Start: list_row -->
                                        {% for item in app.allData %}
                                            <tr>
                                                <td>{{ item.id }}</td>
                                                <td>{{ item.id_prefix }}</td>
                                                <td>{{ item.uri }}</td>
                                                <td>{{ item.etag }}</td>
                                                <td>{{ item.updated|date('M d, Y H:i') }}</td>
                                                <td>{% if item.status == 1 %}<span class="txt-success">{{ 'Published'|trans }}</span>{% else %}<span>{{ 'Unpublished'|trans }}</span>{% endif %}</td>
                                                <td>
                                                    <div class="col-xs-3 col-sm-8">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                            <i class="pull-right fa fa-cog"></i>
                                                        </a>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li>
                                                                <a class="main_ajax" href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/epg-list-json" data-id="{{ item.id }}">
                                                                    <span>{{ 'Edit'|trans }}</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="main_ajax" href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/toggle-epg-item-status" data-id="{{ item.id }}" data-status="{{ item.status }}">
                                                                    <span>{% if item.status == 1 %}<span>{{ 'Unpublish'|trans }}</span>{% else %}<span>{{ 'Publish'|trans }}</span>{% endif %}</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="main_ajax" href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/remove-epg-item" data-id="{{ item.id }}">
                                                                    <span> {{ 'Delete'|trans }} </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <!-- End: list_row -->
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalbox_ad">
        <div class="devoops-modal">
            <div class="devoops-modal-header">
                <div class="modal-header-name">
                    <span></span>
                </div>
                <div class="box-icons">
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <form class="form-horizontal" role="form" id="epg_form" action="{{ app.request.baseUrl }}/{{ app.controller_alias }}/save-epg-item">
                <div class="devoops-modal-inner">
                    <div class="box">
                        <div class="box-content">
                            <!-- name -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-xs-offset-1">{{ 'URL'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8 no-padding">
                                    <div class=" col-xs-10 col-sm-10 ">
                                        <input type="hidden" name="id" id="form_id" class="own_fields" required="required">
                                        <input type="text" name="uri" id="form_uri" data-validation=required   class='form-control own_fields' data-validation="required">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">http://www.vserv.com/export/infomir/export.xml</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-xs-offset-1">{{ 'Prefix'|trans }}</label>
                                <div class="col-xs-10 col-sm-8 no-padding">
                                    <div class=" col-xs-10 col-sm-10 ">
                                        <input type="text" name="id_prefix" id="form_id_prefix" class='form-control own_fields'>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Prefix is necessary to distinguish the EPG source in case, if the following XNLTV ID is stated in several sources'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-xs-offset-1">{{ 'Initial state'|trans }}<span class="icon-required">*</span></label>
                                <div class="col-xs-10 col-sm-8 no-padding">
                                    <div class=" col-xs-10 col-sm-10 ">
                                        <select class="populate placeholder own_fields" data-validation=required   name="status" id="s2_status" >
                                            <option value="0">{{ 'Unpublished'|trans }}</option>
                                            <option value="1">{{ 'Published'|trans }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                <label class="col-sm-3 control-label col-xs-offset-1">{{ 'Languages by priority'|trans }}</label>
                                    <input type="hidden" class="own_fields" name="lang_code" value="">
                                    <fieldset id="letters" class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="col-sm-10 control-label">{{ 'Available'|trans }}</label>
                                            <select size="9" class="left populate placeholder col-sm-10" multiple="multiple" name="s2_lang_code_available" id="s2_lang_code_available" >
                                                {% if attribute(app, 'allLanguages') is defined %}
                                                    {% for code, lang in app.allLanguages %}
                                                        <option id="opt_{{ code }}" value="{{ code }}">{{ lang }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                        <div class="col-sm-2 ">
                                            <br><br><br>
                                            <button type="button" class="add btn btn-block btn-default"> &gt; </button>
                                            <button type="button" class="remove btn btn-block btn-default"> &lt; </button>
                                            <button type="button" class="remove all btn btn-block btn-default"> &lt;&lt; {{ 'all'|trans }}</button>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="col-sm-10 control-label">{{ 'Selected'|trans }}</label>
                                            <select size="9" class="right populate placeholder col-sm-10" multiple="multiple" name="s2_lang_code" id="s2_lang_code" >
                                            </select>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="devoops-modal-bottom">
                    <div class="box">
                        <div class="box-content">
                            <div class="row">
                                <div class="col-xs-10 col-sm-6 pull-right">
                                    <button type="submit" class="btn btn-success col-sm-5 pull-right">{{ 'Save'|trans }}</button>
                                    <button type="reset" class="btn btn-default col-sm-5 pull-left" > {{ 'Cancel'|trans }} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" defer>

        function DemoSelect2() {
            $.getScript("{{ app.request.baseUrl }}/plugins/select2/select2_locale_ru.js", function () {
                $('#s2_status').select2({minimumResultsForSearch: -1});
            });
        }

        function TestTable1() {
            $('#datatable-1').on('xhr.dt', function (e, settings, json) {
                if (typeof (json.data) == 'object' && json.data.length >0) {
                    var date;
                    for (var i in json.data) {
                        var id = json.data[i].id;
                        var status = json.data[i].status;
                        json.data[i].status = (status == 1 ?"<span class='txt-success'>{{ 'Published'|trans }}</span>":"<span>{{ 'Unpublished'|trans }}</span>");
                        json.data[i].operations = "<div class='col-xs-3 col-sm-8'>\n\
                                                        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>\n\
                                                            <i class='pull-right fa fa-cog'></i>\n\
                                                        </a>\n\
                                                        <ul class='dropdown-menu pull-right'>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/epg-list-json' data-id='" + id + "'>\n\
                                                                    <span>{{ 'Edit'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/toggle-epg-item-status' data-id='" + id + "' data-status='" + status + "'>\n\
                                                                    <span>" + (status == 1? '<span>{{ 'Unpublish'|trans }}</span>':'<span>{{ 'Publish'|trans }}</span>') + "</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/remove-epg-item' data-id='" + id + "'>\n\
                                                                    <span> {{ 'Delete'|trans }} </span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                        </ul>\n\
                                                    </div>";
                        date = json.data[i]['updated'];
                        if (date > 0) {
                            date = new Date(date * 1000);
                            json.data[i]['updated'] = date.toLocaleFormat("%b %d, %Y %H:%M");
                        }
                    }
                }
            }).dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ app.request.baseUrl }}/{{ app.controller_alias }}/epg-list-json",
                    "data": function (d) {
{#                        var params = $.parseParams(window.location.href.split('?')[1] || ''); //window.location.href.split('?')[1] || '' 
                        for (var i in params) {
                            d[i] = params[i];
                        }#}
                    }
                },
                "deferLoading": [ {{ app.recordsFiltered }}, {{ app.totalRecords }} ],
                "language": {
                    "url": "{{ app.datatable_lang_file }}"
                },
                "columns": [
                    {% if attribute(app, 'dropdownAttribute') is defined%}
                    {% for item in app.dropdownAttribute %}    
                    {"data": "{{ item.name }}"},
                    {% endfor %}
                    {% endif %}
                ],
                "bFilter": true,
                "bPaginate": true,
				"fnDrawCallback": function() {  
					var paginateRow = $(this).parent().prev().children('div.dataTables_paginate');
					var pageCount = Math.ceil((this.fnSettings().fnRecordsDisplay()) / this.fnSettings()._iDisplayLength);
					if (pageCount > 1)  {$("#datatable-1_paginate").css("display", "block");} else { $("#datatable-1_paginate").css("display", "none");  }
				},
                "bInfo": true,
                "columnDefs": [
                    { className: "action-menu", "targets": [ -1 ] },
                    {"searchable": false, "targets": [-1]},
					  { "width": "16px", "targets": [  -1] },
                    {"sortable": false, "targets": [-1]}
                ]
            }).prev('.dataTables_processing').hide('');
            $("#attribute_set input[type='checkbox']").each(function(index){
                $("#datatable-1").dataTable().fnSetColumnVis( index - 1, $(this).prop('checked') );
            });
        }

        function yelp() {
            $(document).ready(function () {
			$.validate();
                $(document).on('click', "a.main_ajax[disabled!='disabled']", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $("#modalbox").data('complete', 0);
                    showModalBox();
                    var sendData = $(this).data();
                    ajaxPostSend($(this).attr('href'), sendData, false, false);
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });

                $("#form_reset").on('click', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $(this).closest('form').get(0).reset();
    {#                    $("#cmd_data").find("tr:visible").remove();#}
                    return false;
                });
                
                $("#modalbox_ad button[type='submit']").on('click', function (e) {

                    $.validate({
                        onSuccess: function () {
                            e.stopPropagation();
                            e.preventDefault();
                            var sendData = new Object();
                            var lengthObj = 0;
                            var arr = [];
                            $("#s2_lang_code option").each(function(){
                                arr.push($(this).val());
                            });
                            $("input[name='lang_code']").val(arr.join(','));
                            var form_fields = $("#modalbox_ad input.own_fields:not(:disabled), #s2_status");
                            form_fields.each(function () {
                                sendData[this.name] = $(this).val();
                                if ($(this).val() || !$(this).is("[required]")) {
                                    lengthObj++;
                                }
                            });
                            if (lengthObj < form_fields.length) {
                                alert('{{ 'Fill in the required fields'|trans }}');
                                return false;
                            }
                            showModalBox();
                            ajaxPostSend($("#modalbox_ad form").attr('action'), sendData, false, false);
                            return false;
                        }
                    });
                });
                
                $(document).on('click', "#modalbox, #modalbox a.close-link, #modalbox a.close-link *", function(e){
                    if (e.currentTarget != e.target) {
                        return;
                    }
                    e.stopPropagation();
                    e.preventDefault();
                    if ($("#modalbox").data('complete') && $("#modalbox").data('complete') == 1) {
                        closeModalBox();
                    } else {
                        for(i=0;i<3;i++) {
                            $('#modalbox > div').fadeTo('slow', 0.5).fadeTo('slow', 1.0);
                        }
                    }
                    return false;
                });
                
                $("#add_epg_item").on("click", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    closeModalBox();
                    $("#modalbox_ad").find(".modal-header-name").children('span').text('{{ 'Add EPG'|trans }}');
                    $("#modalbox_ad .own_fields").prop("disabled", false).removeAttr('disabled').val('');
                    $("#modalbox_ad input[type='hidden']:not(.not_disabled)").attr('disabled', 'disabled').val('');
                    $('#s2_status').select2("destroy").select2({minimumResultsForSearch: -1});
                    $('button.remove.all').click();
                    $('#s2_lang_code_available option.old').removeClass('old').addClass('new');
                    $("#modalbox_ad").show();
                    //        $(this).closest('.form-group').find('tbody tr:hidden').show();
                    return false;
                });
                
                $(document).on('change keyup', '#form_uri', function(e){
                    var _this = $(this);
                    _this.next('div').removeClass('bg-danger').css('visibility', 'hidden').html('&nbsp;');
                                       
                   $.ajax({
                        url: "{{ app.request.baseUrl }}/{{ app.controller_alias }}/epg-check-uri",
                        type: 'POST',
                        data: {param: _this.val(), epgid: $('#form_id').val()},
                        success: function (data) {
                            if (data.success) {
                                _this.next('div').append('<i class="txt-success fa fa-check"></i> ' + data.chk_rezult).css('visibility', 'visible');
                            } else if (data.error){
                                console.log(data.error);
                            } else {
                                console.log("{{ 'Some server error'|trans }}");
                            }
                        },
                        error: function (data) {
                            if (typeof(data.responseJSON) != 'undefined' && typeof(data.responseJSON.error) != 'undefined') {
                                _this.next('div').append('<i class="txt-danger fa fa-ban"></i> ' + data.responseJSON.error).css('visibility', 'visible');
                            } else {
                                console.log("{{ 'Some network error or access denied'|trans }}");
                            }
                        },
                        dataType: "json",
                        async: false
                    });
                });

                $('button.add').click(resetAddOption);
                $(document).on('dblclick', '#s2_lang_code_available option', resetAddOption);

                LoadDataTablesScripts(TestTable1);
                LoadSelect2Script(DemoSelect2);
            });
        }

        document.addEventListener("DOMContentLoaded", yelp, false);

        var resetAddOption = function(){
            if ( $('#s2_lang_code option').length > 5) {
                alert("{{ 'Max count of languages 5'|trans }}");
                var lastOption = $('#s2_lang_code option:last-of-type');
                $('#s2_lang_code_available').append(lastOption);
                $('#s2_lang_code_available').sortBoxes();
            }
        };

        var setEPGModal = function (data) {
            closeModalBox();
            $("#modalbox_ad").find(".modal-header-name").children('span').text('{{ 'Edit EPG'|trans }}');
            if (data.data.length == 1) {
                var row = data.data[0];
                for (var field_name in row) {
                    $("#modalbox_ad .own_fields[name='" + field_name + "']").val(row[field_name]);
                }
            }
            $("#modalbox_ad input").removeAttr('disabled');
            $('#s2_status').select2("destroy").select2({minimumResultsForSearch: -1});
            $('#s2_lang_code_available').append($('#s2_lang_code option'));
            $('#s2_lang_code').empty();
            $('#s2_lang_code_available').sortBoxes();
            if (data.data[0]['lang_code']) {

                $('#s2_lang_code_available option.old').removeClass('old').addClass('new');
                $(data.data[0]['lang_code'].split(',')).each(function (num, item) {
                    /*$('#s2_lang_code option[value="' + item + '"]');*/
                    $('#s2_lang_code').append($('#s2_lang_code_available option[value="' + item + '"]'));
                    $('#s2_lang_code_available option[value="' + item + '"]').remove();
                });
            }
            $('#s2_lang_code_available').sortBoxes();
            $("#modalbox_ad").show();
        };

        var removeEPG = function (obj) {
            var cRow = $(obj).closest('tr');
            $('#datatable-1').DataTable().row(cRow).remove().draw(false);
        };
        
        var manageEPG = function (obj) {
            $("#modalbox_ad").click();
            $("#modalbox").data('complete', 1);
            $('#modalbox').find('.devoops-modal-inner').html('<span>{{ 'Finish'|trans }}!</span>');
            var msg_type = typeof(obj.msg);
            msg_type = msg_type.toLowerCase();
            if (msg_type != 'undefined'){
                if (msg_type == 'string') {
                    $('#modalbox').find('.devoops-modal-inner').append('<span>' + obj.msg + '</span>');
                } else if (msg_type == 'array' || msg_type == 'object') {
                    for (var i in obj.msg){
                        $('#modalbox').find('.devoops-modal-inner').append('<br><span>' + obj.msg[i] + '</span>');
                    }
                }
            }
            $('#datatable-1').DataTable().ajax.reload();
        };
        
        function closeModalBox(){
            $("#modalbox").hide();
            $('#modalbox').find('.modal-header-name span').empty();
            $('#modalbox').find('.devoops-modal-inner').empty();
            $('#modalbox').find('.devoops-modal-bottom').empty();
        }
        
        function showModalBox(){
            $('#modalbox').find('.modal-header-name span').text('{{ 'Wait'|trans }}...');
            $('#modalbox').find('.devoops-modal-inner').html('<span>{{ 'Request is being processed'|trans }}...</span>');
			$('#modalbox').find('.devoops-modal-bottom').html('<div class="pull-right no-padding">&nbsp;</div>\n\
                        <div class=" pull-right no-padding">\n\
                            <a type="reset" class="close-link btn btn-default pull-right" >{{ 'Close'|trans }}</a>\n\
                        </div> </form>');
            $("#modalbox").show();
        }
        
        var errAction = function(){
            $('#modalbox').find('.devoops-modal-inner').html('<span>{{ 'Failed'|trans }}!</span>');
            $("#modalbox").data('complete', 1);
        };
    </script>
{% endblock %}