{# empty Twig template #}
{% extends 'layout.twig' %}
{% set active = 'tv-channels' %}
{% set title = 'tv-channels' %}

{% block content %}
<div class="row header_title">
    <div class="col-xs-10 col-sm-3">
        <h3>Редактирование канала</h3>
    </div>
</div>
<div id="add_channel">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <div class="row">
                            <div class="col-xs-10 col-sm-3">
                                <span>Основное</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content" id="add_channel_base">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">*Номер канала</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    <input type="hidden" name="channel_id" value="{{ app.oneChannel.id }}">
                                    <input class="form-control" type="text" title="" name="channel_number" value="{{ app.oneChannel.number }}">
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Номер в списке каналов. Должен Содержать только цифры: 0-999 </span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">*Имя канала</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    <input class="form-control" type="text" title="" name="channel_name" value="{{ app.oneChannel.name }}">
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Можно использовать латинские буквы, цифры и символы из списка: ! @ # $ % ^ & * ( ) _ - + : ; , .</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">*Жанр</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    <select class="populate placeholder" name="channel_genre" id="s2_genre">
                                        <option value="0"></option>
                                        {% if app['allGenres'] %}
                                            {% for item in app.allGenres %}
                                                <option value="{{item.id}}" {% if item.id == app.oneChannel.tv_genre_id %}selected="selected"{% endif %}>{{item.title}}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">Громкость</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-2">
                                    <select class="populate placeholder" name="channel_volume" id="s2_volume">
                                        {% for i in range(-20, 20) %}
                                        <option value="{{ i }}" {% if i==app.oneChannel.volume_correction %}selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Принудительно выставляет значение громкости для данного канала.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">Логотип канала:</label>
                            <div class="col-xs-10 col-sm-8">
                                
                                <div class=" col-xs-10 col-sm-2">
                                    {% set logo_path = app.oneChannel.logo|split('/') %}
                                    {% if logo_path and logo_path[1] %}
                                    {% set logo_length = logo_path|length - 1 %}
                                    {% endif %}
                                    <input type="hidden" name="logo" value="{{ logo_path[logo_length] }}">
                                    <img class="img-rounded channel-logo" src="{{app.oneChannel.logo}}" alt="" style="max-width: 100%;">
                                </div>
                                
                                <div class=" col-xs-10 col-sm-3" id="bootstrapped-fine-uploader">
                                    <a class="btn btn-success file-btn"><span>{% if app.oneChannel.logo %}Изменить{% else %}Добавить{% endif %} картинку</span><input type="file" name="channel_logo" ></a>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Логотип канала для отображения в списке IPTV-каналов. Рекомендуемый формат - png, не менее 96*96 pixels, максимальный размер файла - 1Мбайт.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">Ссылки для вещания:</label>
                            <div class="col-xs-10 col-sm-9">
                                <div class=" col-xs-10 col-sm-12">
                                    <table class="table table-striped table-hover" id="channel_url_data">
                                        <thead>
                                            <tr>
                                                <th>Адрес</th>
                                                <th>Приоритет</th>
                                                <th>Временная HTTP-ссылка</th>
                                                <th>Вести мониторинг</th>
                                                <th>Балансировка загрузки</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Start: list_row -->
                                            {% if app.oneChannel['links'] %}
                                                {% for item in app.oneChannel.links %}
                                            <tr>
                                                <td>
                                                    <label data-field="channel_url">{{item.url}}</label>
                                                    <input type="hidden" value="{{item.url}}" name="channel_url[]">
                                                    <input type="hidden" value="{{item.user_agent_filter}}" name="channel_filter[]">
                                                </td>                                                
                                                <td>
                                                    <label data-field="channel_priority">{{item.priority}}</label>
                                                    <input type="hidden" value="{{item.priority}}" name="channel_priority[]">
                                                </td>
                                                <td>
                                                    <div class="col-sm-12">
                                                        <div class="toggle-switch toggle-switch-success">
                                                            <label>
                                                                <input type="checkbox" name="channel_temp_http_link_sate[]" {% if item.use_http_tmp_link %}checked="checked"{% endif %}>
                                                                <div class="toggle-switch-inner"></div>
                                                                <div class="toggle-switch-switch"></div>
                                                            </label>
                                                        </div>
                                                        <input type="hidden" name="channel_wowza_support[]" value="{% if item.wowza_tmp_link %}on{% else %}off{% endif %}">
                                                        <input type="hidden" name="channel_nginx_support[]" value="{% if item.nginx_secure_link %}on{% else %}off{% endif %}">
                                                        <input type="hidden" name="channel_flussonic_support[]" value="{% if item.flussonic_tmp_link %}on{% else %}off{% endif %}">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-12">
                                                        <div class="toggle-switch toggle-switch-success">
                                                            <label>
                                                                <input type="checkbox"  name="channel_link_monitoring[]" {% if item.enable_monitoring %}checked="checked"{% endif %}>
                                                                <div class="toggle-switch-inner"></div>
                                                                <div class="toggle-switch-switch"></div>
                                                            </label>
                                                            <input type="hidden" name="channel_link_balanser_monitoring[]" value="{% if item.enable_monitoring %}on{% else %}off{%  endif %}">
                                                            <input type="hidden" name="channel_link_balanser_url[]" value="{{item.monitoring_url}}">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-12">
                                                        <div class="toggle-switch toggle-switch-success">
                                                            <label>
                                                                <input type="checkbox" name="channel_load_balancing[]" {% if item.enable_balancer_monitoring %}checked="checked"{% endif %}>
                                                                <div class="toggle-switch-inner"></div>
                                                                <div class="toggle-switch-switch"></div>
                                                            </label>
                                                                {% set stream_server = [] %}
                                                                {% if item['stream_servers'] %}
                                                                    {% for s_item in item.stream_servers %}
                                                                        {% if s_item.selected == 1 %}
                                                                            {% set stream_server = stream_server|merge([s_item.id]) %}     
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                                <input type="hidden" name="channel_load_balancing_servers[]" value="{{stream_server|join(';')}}">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-xs-3 col-sm-8">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">                    
                                                            <i class="pull-right fa fa-cog"></i>
                                                        </a>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li>
                                                                <a href="#" class="channel_url_change_data">
                                                                    <span>Изменить</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="channel_url_remove_data">
                                                                    <span>Удалить</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                                {% endfor %}
                                            {% endif %}
                                            <tr>
                                                <td>
                                                    <label data-field="channel_url"></label>
                                                    <input type="hidden" value="" name="channel_url[]" disabled="disabled">
                                                    <input type="hidden" value="" name="channel_filter[]" disabled="disabled">
                                                </td>                                                
                                                <td>
                                                    <label data-field="channel_priority"></label>
                                                    <input type="hidden" value="" name="channel_priority[]" disabled="disabled">
                                                </td>
                                                <td>
                                                    <div class="col-sm-12">
                                                        <div class="toggle-switch toggle-switch-success">
                                                            <label>
                                                                <input type="checkbox" name="channel_temp_http_link_sate[]" disabled="disabled">
                                                                <div class="toggle-switch-inner"></div>
                                                                <div class="toggle-switch-switch"></div>
                                                            </label>
                                                        </div>
                                                        <input type="hidden" name="channel_wowza_support[]" value="" disabled="disabled">
                                                        <input type="hidden" name="channel_nginx_support[]" value="" disabled="disabled">
                                                        <input type="hidden" name="channel_flussonic_support[]" value="" disabled="disabled">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-12">
                                                        <div class="toggle-switch toggle-switch-success">
                                                            <label>
                                                                <input type="checkbox"  name="channel_link_monitoring[]" disabled="disabled">
                                                                <div class="toggle-switch-inner"></div>
                                                                <div class="toggle-switch-switch"></div>
                                                            </label>
                                                            <input type="hidden" name="channel_link_balanser_monitoring[]" value="" disabled="disabled">
                                                            <input type="hidden" name="channel_link_balanser_url[]" value="" disabled="disabled">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-sm-12">
                                                        <div class="toggle-switch toggle-switch-success">
                                                            <label>
                                                                <input type="checkbox" checked="checked" name="channel_load_balancing[]" disabled="disabled">
                                                                <div class="toggle-switch-inner"></div>
                                                                <div class="toggle-switch-switch"></div>
                                                            </label>
                                                            <input type="hidden" name="channel_load_balancing_servers[]" value="" disabled="disabled">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-xs-3 col-sm-8">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">                    
                                                            <i class="pull-right fa fa-cog"></i>
                                                        </a>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li>
                                                                <a href="#" class="channel_url_change_data">
                                                                    <span>Изменить</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="channel_url_remove_data">
                                                                    <span>Удалить</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- End: list_row -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class=" col-xs-10 col-sm-3">
                                    <a class="btn btn-success" id="add_broadcasting_link"><span>Добавить ссылку</span></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <div class="row">
                            <div class="col-xs-10 col-sm-3">
                                <span>Запись на сервер хранилище</span>
                            </div>
                            <div class="col-xs-10 col-sm-2 header_check_info">
                                <div class="toggle-switch toggle-switch-success">
                                    <label>
                                        <input type="checkbox">
                                        <div class="toggle-switch-inner"></div>
                                        <div class="toggle-switch-switch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                
                <div class="box-content" id="add_channel_storage_save">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">Вести ТВ архив</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="storage_save" {% if app.oneChannel.enable_tv_archive == '1' %}checked="checked"{% endif %} value="on"> Включено
                                            <i class="fa fa-circle-o small"></i>
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="storage_save" {% if app.oneChannel.enable_tv_archive == '0' %}checked="checked"{% endif %} value="off"> Выключено
                                            <i class="fa fa-circle-o small"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">Адрес для записи ТВ архива</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    <input class="form-control" type="text" title="" value="{{app.oneChannel.mc_cmd}}">
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Возможна запись только мультикаст протоколов. Формат rtp://239.1.1.1:1234 либо udp://239.1.1.1:1234</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">Длительность ТВ архива</label>
                            <div class="col-xs-10 col-sm-5">
                                <div class=" col-xs-10 col-sm-2">
                                    <select class="populate placeholder" name="country" id="s2_tv_archive_length">
                                        {% for i in range(0, 100) %}
                                        <option value="{{ i }}" {% if i==app.oneChannel.tv_archive_duration %}selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Измеряется в часах</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">Разрешить nPVR</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="on" {% if app.oneChannel.enable_tv_archive == '1' %}checked="checked"{% endif %}>
                                            <i class="fa fa-square-o small"></i>
                                        </label>
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Возможность пользователю осуществлять запись выбранных программ/передач на сервер хранилище</span>
                                    <span class="small txt-default">Возможна запись только мультикаст протоколов.</span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <div class="row">
                            <div class="col-xs-10 col-sm-3">
                                <span>EPG</span>
                            </div>
                            <div class="col-xs-10 col-sm-2 header_check_info">
                                <div class="toggle-switch toggle-switch-success">
                                    <label>
                                        <input type="checkbox">
                                        <div class="toggle-switch-inner"></div>
                                        <div class="toggle-switch-switch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content" id="add_channel_EPG">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">XMLTV ID</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-2">
                                    <input class="form-control" value="{{app.oneChannel.xmltv_id}}" type="text" title="" name="epg_xmltv_id">
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">XMLTV ID канала из источника EPG</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">Коррекция времени для EPG</label>
                            <div class="col-xs-10 col-sm-8">correct_time
                                <div class=" col-xs-10 col-sm-1">
                                    <select class="populate placeholder" name="time_correction_EPG" id="s2_time_correction_EPG">
                                        {% for i in range(0, 60) %}
                                        <option value="{{ i }}" {% if i==app.oneChannel.correct_time %}selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Измеряется в минутах</span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                                
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <div class="row">
                            <div class="col-xs-10 col-sm-3">
                                <span>Безопасность</span>
                            </div>
                            <div class="col-xs-10 col-sm-2 header_check_info">
                                <div class="toggle-switch toggle-switch-success">
                                    <label>
                                        <input type="checkbox">
                                        <div class="toggle-switch-inner"></div>
                                        <div class="toggle-switch-switch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content" id="add_channel_safety">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">Ограничение по возрасту</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="age_restriction" {% if app.oneChannel.censored == '1' %}checked="checked"{% endif %}>
                                            <i class="fa fa-square-o small"></i>
                                        </label>
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Устанавливает парольное ограничение на просмотр канала. По умолчанию 0000</span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <div class="row">
                            <div class="col-xs-10 col-sm-3">
                                <span>Тип канала</span>
                            </div>
                            <div class="col-xs-10 col-sm-2 header_check_info">
                                <div class="toggle-switch toggle-switch-success">
                                    <label>
                                        <input type="checkbox">
                                        <div class="toggle-switch-inner"></div>
                                        <div class="toggle-switch-switch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content" id="add_channel_type">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">Базовый канал</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="base_channel" {% if app.oneChannel.base_ch == '1' %}checked="checked"{% endif %}>
                                            <i class="fa fa-square-o small"></i>
                                        </label>
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Игнорируется, если используется функционал Тарифных планов</span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <div class="row">
                            <div class="col-xs-10 col-sm-3">
                                <span>Запись на USB-носитель</span>
                            </div>
                            <div class="col-xs-10 col-sm-2 header_check_info">
                                <div class="toggle-switch toggle-switch-success">
                                    <label>
                                        <input type="checkbox">
                                        <div class="toggle-switch-inner"></div>
                                        <div class="toggle-switch-switch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content" id="add_channel_usb_store">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">TimeShift на USB-носитель</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="usb_store" value="timeshift" {% if app.oneChannel.allow_local_timeshift == '1' %}checked="checked"{% endif %}>
                                            <i class="fa fa-square-o small"></i>
                                        </label>
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Возможность пользователю осуществлять функцию TimeShift при помощи USB-носителя</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-xs-offset-1">PVR на USB-носитель</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="usb_store" value="pvr_recording" {% if app.oneChannel.allow_local_pvr == '1' %}checked="checked"{% endif %}>
                                            <i class="fa fa-square-o small"></i>
                                        </label>
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default"> Возможность пользователю осуществлять запись выбраных программ/передач на USB-носитель</span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <div class="row">
                        <div class="col-xs-10 col-sm-4 pull-right">
                            <button type="submit" class="btn btn-success col-sm-5 pull-right">Сохранить</button>
                            <button type="reset" class="btn btn-default col-sm-5 pull-left" >Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalbox_ad">
    <div class="devoops-modal">
        <div class="devoops-modal-header">
            <div class="modal-header-name">
                <span></span>
            </div>
            <div class="box-icons">
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="devoops-modal-inner">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <div class="row">
                            <div class="col-xs-10 col-sm-4">
                                <span>Базовая информация</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content" id="add_channel_url_base">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label col-sm-offset-1">URL канала</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-12">
                                    <input class="form-control" type="text" title="" value="" name="channel_url[]">
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Адрес канала в сети. Формат: solution+URL. Пример: ffrt http://lpOfStream/test.js </span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label col-sm-offset-1">Фильтр</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-12">
                                    <input class="form-control" type="text" title="" value="" name="channel_filter[]">
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Фильтр по user-agent, возможно настроить фильтрацию по типу подключения(WiFi, Ethernet), по модели приставки(250, 275, ...), стране (UA, RU, ...). Поле регистрозависимое</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label col-sm-offset-1">Приоритет</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-4">
                                    <select class="populate placeholder" name="channel_priority[]" id="s2_channel_priority">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Приоритет для URL канала, 0 - наивысший приоритет</span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <div class="row">
                            <div class="col-xs-10 col-sm-4">
                                <span>Временные HTTP-ссылки</span>
                            </div>
                            <div class="col-xs-10 col-sm-2 header_check_info">
                                <div class="toggle-switch toggle-switch-success">
                                    <label>
                                        <input type="checkbox">
                                        <div class="toggle-switch-inner"></div>
                                        <div class="toggle-switch-switch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content" id="add_channel_temp_http_link">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label col-sm-offset-1">Состояние</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-12">
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="channel_temp_http_link_sate[]" checked value="on"> Включено
                                            <i class="fa fa-circle-o small"></i>
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="channel_temp_http_link_sate[]" value="off"> Выключено
                                            <i class="fa fa-circle-o small"></i>
                                        </label>
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Функция защиты каналов от несанкционированного доступа</span>
                                </span>
                            </div>
                        </div>                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label col-sm-offset-1">Поддержка WOWZA</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="channel_wowza_support[]">
                                            <i class="fa fa-square-o small"></i>
                                        </label>
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Добавляет тип поддерживаемых серверов</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label col-sm-offset-1">NGINX secure link</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="channel_nginx_support[]">
                                            <i class="fa fa-square-o small"></i>
                                        </label>
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Добавляет тип поддерживаемых серверов</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label col-sm-offset-1">Flussonic support</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="channel_flussonic_support[]">
                                            <i class="fa fa-square-o small"></i>
                                        </label>
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Добавляет тип поддерживаемых серверов</span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <div class="row">
                            <div class="col-xs-10 col-sm-4">
                                <span>Мониторинг ссылок</span>
                            </div>
                            <div class="col-xs-10 col-sm-2 header_check_info">
                                <div class="toggle-switch toggle-switch-success">
                                    <label>
                                        <input type="checkbox">
                                        <div class="toggle-switch-inner"></div>
                                        <div class="toggle-switch-switch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content" id="add_channel_link_monitoring">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label col-sm-offset-1">Вести мониторинг</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-12">
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="channel_link_monitoring[]" checked value="on"> Включено
                                            <i class="fa fa-circle-o small"></i>
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="channel_link_monitoring[]" value="off"> Выключено
                                            <i class="fa fa-circle-o small"></i>
                                        </label>
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Функционал проверки доступности URL</span>
                                </span>
                            </div>
                        </div>                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label col-sm-offset-1">Мониторинг балансера</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="channel_link_balanser_monitoring[]">
                                            <i class="fa fa-square-o small"></i>
                                        </label>
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Не доступен при активном поле мониторинга</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label col-sm-offset-1">URL канала для мониторинга</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-12">
                                    <input class="form-control" type="text" title="" value="" name="channel_link_balanser_url[]">
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Формат: solution+URL. Пример: ffrt http://lpOfStream/test.js</span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <div class="row">
                            <div class="col-xs-10 col-sm-4">
                                <span>Балансировка нагрузки</span>
                            </div>
                            <div class="col-xs-10 col-sm-2 header_check_info">
                                <div class="toggle-switch toggle-switch-success">
                                    <label>
                                        <input type="checkbox">
                                        <div class="toggle-switch-inner"></div>
                                        <div class="toggle-switch-switch"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content" id="add_channel_load_balancing">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label col-sm-offset-1">Включить балансировку</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-8">
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="channel_load_balancing[]" checked value="on"> Включено
                                            <i class="fa fa-circle-o small"></i>
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="channel_load_balancing[]" value="off"> Выключено
                                            <i class="fa fa-circle-o small"></i>
                                        </label>
                                    </div>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Функционал переключения между серверами вещания каналов в зависимости от нагрузки</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label col-sm-offset-1">Сервера вещания</label>
                            <div class="col-xs-10 col-sm-8">
                                <div class=" col-xs-10 col-sm-10">
                                    <select class="populate placeholder" multiple name="channel_load_balancing_servers" id="s2_channel_load_balancing_servers">
                                        {% if app['streamServers'] %}
                                            {% for s_item in app.streamServers %}
                                            <option value="{{s_item.id}}">{{s_item.name}}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">Сервера вещания между которыми будект осуществляться балансировка</span>
                                </span>
                            </div>
                            <!--<div class=" col-xs-10 col-sm-8 col-sm-offset-4">
                                <button class="btn btn-primary btn-label-left" type="button">
                                    <span>
                                        <i class="fa fa-times"></i>
                                    </span>
                                    Сервер А
                                </button>
                            </div>-->
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="devoops-modal-bottom">
            <div class="box">
                <div class="box-content">
                    <div class="row">
                        <div class="col-xs-10 col-sm-6 pull-right">
                            <button type="submit" class="btn btn-success col-sm-5 pull-right">Сохранить</button>
                            <button type="reset" class="btn btn-default col-sm-5 pull-left" >Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function DemoSelect2() {
        $('#s2_genre').select2({minimumResultsForSearch: -1});
        $('#s2_volume').select2({minimumResultsForSearch: -1});
        $('#s2_tv_archive_length').select2({minimumResultsForSearch: -1});
        $('#s2_time_correction_EPG').select2({minimumResultsForSearch: -1});
        $('#s2_channel_priority').select2({minimumResultsForSearch: -1});
        $('#s2_channel_load_balancing_servers').select2({minimumResultsForSearch: -1});
    }
    function yelp() {
        $(document).ready(function () {
            if (typeof (channelListRender) == 'function') {
                LoadSelect2Script(DemoSelect2);
            }

        var uploader = $("#bootstrapped-fine-uploader").fineUploader({
            element: $('#bootstrapped-fine-uploader'),
            autoUpload: true,
            debug: true,
            multiple: false,
            text: {
                formatProgress: "{percent}% из {total_size}",
                failUpload: "Сбой при загрузке",
                waitingForResponse: "Обработка...",
                paused: "Пауза"
            },
            request: {
                    endpoint: 'tv-channels/edit-logo?id={{ app.oneChannel.id }}'
                },
            template: 'qq-template-bootstrap',
            classes: {
                    success: 'alert alert-success',
                    fail: 'alert alert-error'
                }
               
            }).on('complete', function(event, id, name, response) {
                $(this).prev('div').children('img').attr('src', response.pic + '?'+$.random(10)).css('max-width', '100%');
                var val = response.pic.split('/');
                val = val[val.length - 1];
                $(this).prev('div').children('input').val(val);
                return false;
            });
            $("#bootstrapped-fine-uploader").on('click', ".qq-upload-cancel", function(e) {
                e.stopPropagation();
                e.preventDefault();
                $.ajax({
                    url: 'tv-channels/delete-logo',
                    data: {id: '{{ app.oneChannel.id }}'},
                    success: function(data){
                        if (data.success) {
                            $(this).prev('div').children('img').attr('src', '');
                            $(this).prev('div').children('input').val('');
                        } else {
                            console.log(data.error);
                        }
                    },
                    error: function(){
                        alert('Ошибка');
                    }
                });
                return false;
            });
        });
        
    }

    document.addEventListener( "DOMContentLoaded", yelp, false );
</script>
    
    <script type="text/template" id="qq-template-bootstrap">
  <div class="qq-uploader-selector qq-uploader span12">
    <div class="qq-upload-drop-area-selector qq-upload-drop-area span12" qq-hide-dropzone>
      <!--<span>Drop files here to upload</span>-->
    </div>
    <div class="qq-upload-button-selector qq-upload-button btn btn-success" style="width: auto; margin: 0 auto; float: none; display: block;">
      <div><i class="icon-upload icon-white"></i>{% if app.oneChannel.logo %}Изменить{% else %}Добавить{% endif %} картинку</div>
    </div>
    <span class="qq-drop-processing-selector qq-drop-processing">
      <!--<span>Processing dropped files...</span>-->
      <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list" style="margin-top: 10px; text-align: center;">
      <li>
        <div class="qq-progress-bar-container-selector">
          <div class="qq-progress-bar-selector qq-progress-bar"></div>
        </div>
        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
        <span class="qq-upload-file-selector qq-upload-file"></span>
        <span class="qq-upload-size-selector qq-upload-size"></span>
        <!--<a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Удалить</a>-->
        <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
      </li>
    </ul>
  </div>
</script>
    
{% endblock %}