{% extends 'layout.twig' %}
{% set title = ('Users'|trans ~ ': ' ~ 'users log'|trans ~ (app.currentUser != '' ? ": " ~ "user"|trans ~ " - " ~ app.currentUser: '')) | trans %}

{% block content %}
    <div id="iptv_list">       
        <div class="row row_no_padding">
            <div class="box">
                <div class="box-content">
                    <div class="box-content no-padding">
                        <div class="dataTables_processing"></div>
                        <table class="table dataTable table-hover table-datatable"  id="datatable-1">
                            <thead>
                            <tr>
                                <th data-filter="time">{{ 'Time'|trans }}</th>
                                <th data-filter="mac">MAC</th>
                                <th data-filter="action">{{ 'Actions'|trans }}</th>
                                <th data-filter="object">{{ 'Object'|trans }}</th>
                                <th data-filter="type">{{ 'Type'|trans }}</th>
                                <th data-filter="param">{{ 'Parameter'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if attribute(app, 'logList') is defined %}
                                <!-- Start: list_row -->
                                {% for item in app.logList %}
                                    <tr>
                                        <td>{{ item.time|date('M d, Y H:i') }}</td>
                                        <td>
                                            <a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/edit-users?id={{ item.uid }}">{{ item.mac }}</a>
                                        </td>
                                        <td>{{ item.action }}</td>
                                        <td>{{ item.object }}</td>
                                        <td>{{ item.type }}</td>
                                        <td>{{ item.param }}</td>
                                    </tr>
                                {% endfor %}
                                <!-- End: list_row -->
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" defer>

        function TestTable1() {
            $('#datatable-1').on('xhr.dt', function (e, settings, json) {
                if (typeof (json.data) == 'object' && json.data.length >0) {
                    var date;
                    for (var i in json.data) {
                        var uid = json.data[i].uid;
                        var mac = json.data[i].mac;
                        json.data[i].mac = '<a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/edit-users?id='+uid+'" >'+mac+'</a>';
                        date = json.data[i]['time'];
                        if (date > 0) {
                            date = new Date(date * 1000);
                            json.data[i]['time'] = date.toLocaleFormat("%b %d, %Y %H:%M");
                        }
                    }
                }
            }).dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ app.request.baseUrl }}/{{ app.controller_alias }}/users-consoles-logs-json",
                    "data": function (d) {
                        var params = $.parseParams(window.location.href.split('?')[1] || ''); //window.location.href.split('?')[1] || '' 
                        for (var i in params) {
                            d[i] = params[i];
                        }
                    }
                },
                "deferLoading": [ {{ app.recordsFiltered }}, {{ app.totalRecords }} ],
                "language": {
                    "url": "{{ app.datatable_lang_file }}"
                },
                "columns": [
                    {"data": "time"},
                    {"data": "mac"},
                    {"data": "action"},
                    {"data": "object"},
                    {"data": "type"},
                    {"data": "param"}
                ],
                "bFilter": true,
                "bPaginate": true,
				"columnDefs": [     ],
				"fnDrawCallback": function() {  
					var paginateRow = $(this).parent().prev().children('div.dataTables_paginate');
					var pageCount = Math.ceil((this.fnSettings().fnRecordsDisplay()) / this.fnSettings()._iDisplayLength);
					if (pageCount > 1)  {$("#datatable-1_paginate").css("display", "block");} else { $("#datatable-1_paginate").css("display", "none");  }
				},
                "bInfo": true
            }).prev('.dataTables_processing').hide('');
            $('#datatable-1').DataTable().ajax.reload();
        }

        function yelp() {
            $(document).ready(function () {
                LoadDataTablesScripts(TestTable1);
            });
        }
        document.addEventListener("DOMContentLoaded", yelp, false);

    </script>
{% endblock %}