{% extends 'layout.twig' %}
{% set title = ('Users'|trans ~ ': ' ~ (app.userEdit ? ('Edit user'|trans ~ " '"~ app.userName ~ "'"): 'Add user'|trans)) | trans %}
{% set active_alias = 'users-list' %}

{% block content %}
    {% if app.resellerUserLimit %}
    <div id="add_channel">
        {{ form_start(app['form'], {'method': 'POST', 'action': (app.request.baseUrl ~ '/' ~ app.controller_alias  ~ '/' ~ app.action_alias) | trans, 'attr': {'class': 'form-horizontal', 'role': 'form', 'id': 'form_'}}) }}
        <div class="bg-danger">
            <div class="bg-danger">
                {{ form_errors(app['form']) }}
            </div>
        </div>
        <div class="row">
                <div class="box">
                    <a class="collapse-link">
                        <div class="box-header">
                            <div class="box-name">
                                <div class="row">
                                    <div class="col-xs-10 col-sm-3">
                                        <span>{{ 'Profile'|trans }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-icons">
                                <i class="fa fa-chevron-up"></i>
                            </div>
                            <div class="no-move"></div>
                        </div>
                    </a>
                    <div class="box-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Name'|trans }}</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].id, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(app['form'].fname, {'attr': {'class': 'form-control'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].fname) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Login'|trans }}<span class="icon-required">*</span></label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].login, {'attr': {'class': 'form-control', 'data-validation':'required'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].login) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Password'|trans }}{#<span class="icon-required">*</span>#}</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].password, {'attr': {'class': 'form-control'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].password) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Phone number'|trans }}</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].phone, {'attr': {'class': 'form-control'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].phone) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Account number'|trans }}</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].ls, {'attr': {'class': 'form-control'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].ls) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if app['userEdit'] %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">{{ 'User group'|trans }}</label>
                                <div class="col-xs-10 col-sm-6">
                                    <div class=" col-xs-10 col-sm-6">
                                        {{ form_widget(app['form'].group_id, {'attr': {'class': 'populate placeholder'}}) }}
                                        <div class="bg-danger">
                                            {{ form_errors(app['form'].group_id) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">MAC</label>
                                <div class="col-xs-10 col-sm-6">
                                    <div class=" col-xs-10 col-sm-6">
                                        {{ form_widget(app['form'].mac, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            {% if app['tarifPlanFlag'] and attribute(app, 'tariff_and_service_control') is defined and app['tariff_and_service_control'] > 0 %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">{{ 'Tariff plan'|trans }}</label>
                                    <div class="col-xs-10 col-sm-6">
                                        <div class=" col-xs-10 col-sm-4">
                                            {% if app['tariff_and_service_control'] > 1 %}
                                            {{ form_widget(app['form'].tariff_plan_id, {'attr': {'class': 'populate placeholder'}}) }}
                                            <div class="bg-danger">
                                                {{ form_errors(app['form'].tariff_plan_id) }}
                                            </div>
                                            {% else %}
                                            <label class="control-label ">{% if app['form'].tariff_plan_id.vars.value and attribute(app, 'allTariffPlans') is defined and app['allTariffPlans'][app['form'].tariff_plan_id.vars.value] %}{{ app['allTariffPlans'][app['form'].tariff_plan_id.vars.value] }}{% else %}{{ 'None'|trans }}{% endif %}</label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if not app['tarifPlanFlag'] and attribute(app, 'tariff_and_service_control') is defined and app['tariff_and_service_control'] > 0 %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">{{ 'Additional services'|trans }}</label>
                                <div class="col-xs-10 col-sm-6">
                                    <div class=" col-xs-10 col-sm-4">
                                        {% if app['tariff_and_service_control'] > 1 %}
                                        {{ form_widget(app['form'].additional_services_on, {'attr': {'class': 'populate placeholder'}}) }}
                                        <div class="bg-danger">
                                            {{ form_errors(app['form'].additional_services_on) }}
                                        </div>
                                        {% else %}
                                            <label class="control-label ">{% if app['form'].additional_services_on.vars.value and attribute(app, 'additionalServices') is defined and app['additionalServices'][app['form'].additional_services_on.vars.value] %}{{ app['additionalServices'][app['form'].additional_services_on.vars.value] }}{% else %}{{ 'None'|trans }}{% endif %}</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Status'|trans }}</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-4">
                                    {{ form_widget(app['form'].status, {'attr': {'class': 'populate placeholder'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].status) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if attribute(app, 'enableBilling') is defined and app.enableBilling and attribute(app, 'billing_date_control') is defined and app['billing_date_control'] > 0 %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Expire billing date'|trans }}</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {% if app['billing_date_control'] == 1 %}
                                    <label class="control-label ">{% if app['form'].expire_billing_date.vars.value %}{{ app['form'].expire_billing_date.vars.value }}{% else %}{{ 'Unlimited'|trans }}{% endif %}</label>
                                    {% else %}
                                    {{ form_widget(app['form'].expire_billing_date, {'attr': {'class': 'form-control'}}) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if attribute(app, 'reseller') is defined and not app['reseller'] and attribute(app, 'user_reseller_control') is defined and app['user_reseller_control'] > 0 %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Reseller'|trans }}</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-4">
                                    {% if app['user_reseller_control'] == 1 %}
                                        <label class="control-label ">{% if app['form'].reseller_id.vars.value and attribute(app, 'allResellers') is defined and app['allResellers'][app['form'].reseller_id.vars.value] %}{{ app['allResellers'][app['form'].reseller_id.vars.value] }}{% else %}{{ 'Empty'|trans }}{% endif %}</label>
                                    {% else %}
                                    {{ form_widget(app['form'].reseller_id, {'attr': {'class': 'populate placeholder'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].reseller_id) }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ "User's theme"|trans }}</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-4">
                                    {{ form_widget(app['form'].theme, {'attr': {'class': 'populate placeholder'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].theme) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if app.userEdit %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'State'|trans }}</label>
                            <div class="col-xs-10 col-sm-6">
                                <span class="help-inline col-xs-12 col-sm-12">
                                    {% if attribute(app, 'state') is defined and app.state %}
                                        <span class="txt-success">Online</span>
                                    {% else %}
                                        <span class="txt-danger">Offline</span>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">{{ 'Comments'|trans }}:</label>
                            <div class="col-xs-10 col-sm-6">
                                <div class=" col-xs-10 col-sm-6">
                                    {{ form_widget(app['form'].comment, {'attr': {'class': 'form-control'}}) }}
                                    <div class="bg-danger">
                                        {{ form_errors(app['form'].comment) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if app.userEdit %}
                    <div class="box">
                        <a class="collapse-link">
                            <div class="box-header">
                                <div class="box-name">
                                    <div class="row">
                                        <div class="col-xs-10 col-sm-3">
                                            <span>{{ 'Device info'|trans }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-icons">
                                    <i class="fa fa-chevron-up"></i>
                                </div>
                                <div class="no-move"></div>
                            </div>
                        </a>
                        <div class="box-content" id="Additional">
                            {% if app['userEdit'] %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">MAC</label>
                                    <div class="col-xs-10 col-sm-6">
                                        <div class=" col-xs-10 col-sm-6">
                                            {{ form_widget(app['form'].mac, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">IP</label>
                                <div class="col-xs-10 col-sm-6">
                                    <div class=" col-xs-10 col-sm-6">
                                        {{ form_widget(app['form'].ip, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">{{ 'Account balance'|trans }}</label>
                                <div class="col-xs-10 col-sm-6">
                                    <div class=" col-xs-10 col-sm-6">
                                        {{ form_widget(app['form'].account_balance, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">{{ 'Video out'|trans }}</label>
                                <div class="col-xs-10 col-sm-6">
                                    <div class=" col-xs-10 col-sm-6">
                                        {{ form_widget(app['form'].video_out, {'attr': {'class': 'form-control', 'style' : 'text-transform: uppercase'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">{{ 'Parental control'|trans }}</label>
                                <div class="col-xs-10 col-sm-6">
                                    <div class=" col-xs-10 col-sm-6">
                                        {{ form_widget(app['form'].parent_password, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class=" col-xs-10 col-sm-6">
                                        <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/reset-users-parent-password" data-userid = "{{ app.userID }}" class="btn btn-info pull-left main_ajax">{{ 'Reset'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">{{ 'Access control'|trans }}</label>
                                <div class="col-xs-10 col-sm-6">
                                    <div class=" col-xs-10 col-sm-6">
                                        {{ form_widget(app['form'].settings_password, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class=" col-xs-10 col-sm-6">
                                        <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/reset-users-settings-password" data-userid = "{{ app.userID }}" class="btn btn-info pull-left main_ajax">{{ 'Reset'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">{{ 'Favorite'|trans }}</label>
                                <div class="col-xs-10 col-sm-6">
                                    <div class=" col-xs-10 col-sm-6">
                                        {{ form_widget(app['form'].fav_itv, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class=" col-xs-10 col-sm-6">
                                        <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/reset-user-fav-tv" class="btn btn-info pull-left main_ajax" data-userid = "{{ app.userID }}">{{ 'Reset'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">{{ 'Version'|trans }}</label>
                                <div class="col-xs-10 col-sm-6">
                                    <div class=" col-xs-10 col-sm-6">
                                        {{ form_widget(app['form'].version, {'attr': {'class': 'form-control', 'rows': '6'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif%}
                {% if app['userEdit'] and attribute(app['form'], 'tariff_plan_id') is defined  and attribute(app, 'tariff_and_service_control') is defined and app['tariff_and_service_control'] > 0 %}
                    <div class="box">
                        <a class="collapse-link">
                            <div class="box-header">
                                <div class="box-name">
                                    <div class="row">
                                        <div class="col-xs-10 col-sm-3">
                                            <span>{{ 'Tariff plan'|trans }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-icons">
                                    <i class="fa fa-chevron-up"></i>
                                </div>
                                <div class="no-move"></div>
                            </div>
                        </a>
                        <div class="box-content" id="Additional2">
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">{{ 'Tariff plan'|trans }}</label>
                                <div class="col-xs-10 col-sm-6">
                                    <div class=" col-xs-10 col-sm-4">
                                        {{ form_widget(app['form']['tariff_plan_id'], {'attr': {'class': 'populate placeholder', 'disabled': app['tariff_and_service_control'] == 1, 'readonly': app['tariff_and_service_control'] == 1 }}) }}
                                        <div class="bg-danger">
                                            {{ form_errors(app['form']['tariff_plan_id']) }}
                                        </div>
                                    </div>
                                    <a class="btn btn-default pull-right" href="{{app.request.baseUrl}}/tariffs/subscribe-log?user_id={{ app['form'].id.vars.value }}">{{ 'Subscribe log'|trans }}</a>
                                </div>
                            </div>
                            {% if attribute(app, 'userTPs') is defined and app['userTPs']|length > 0 %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">{{ 'Packages of services'|trans }}</label>
                                    <div class="col-xs-10 col-sm-6">
                                        <div class=" col-xs-12 col-sm-12">
                                            <table class="table  table-hover" id="tariff_plan_table" data-planid="{{ app['form']['tariff_plan_id'].vars.value }}">
                                                <thead>
                                                    <tr>
                                                        <th>{{ 'Package title'|trans }}</th>
                                                        <th>{{ 'Package type'|trans }}</th>
                                                        <th>{{ 'State'|trans }}</th>
                                                    </tr>
                                                </thead>
                                                <!-- Start: list_row -->
                                                {% for item in app['userTPs'] %}
                                                <tr>
                                                    <td>
                                                        <label><a href="{{ app.request.baseUrl }}/tariffs/edit-service-package?id={{ item.services_package_id }}" data-placement="bottom" data-toggle="tooltip" data-original-title="{{ item.description }}">{{ item.name }}</a></label>
                                                    </td>                                                
                                                    <td>
                                                        <label>
                                                            {% if item.optional == 1 %}
                                                                <i>{{ 'Optional'|trans }}</i>
                                                            {% else %}
                                                                {{ '-' }}
                                                            {% endif %}
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <div class="col-sm-12">
														<div class="mswitch">
															<input id="tariff_plan_packages[{{ item.package_id }}]"  type="checkbox" {% if item.optional == 0 or app['tariff_and_service_control'] == 1 %}readonly="readonly" disabled="disabled"{% endif %}  {% if item.subscribed == 1 %}value="on" checked="checked"{% else %}value="off"{% endif %} name="tariff_plan_packages[{{ item.package_id }}]"/>
															<label for="tariff_plan_packages[{{ item.package_id }}]" class="label-success"></label>
															</div>                  
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                <!-- End: list_row -->
                                            </table>
                                            <label id="tariff_plan_change" style="display: none;">{{ 'More detailed information about the connected packs will be available in the next editing session'|trans }}.</label>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box">
                    <div class="box-content">
                        <div class="row">
                            <div class="pull-right">
                                {{ form_widget(app['form'].save, { 'label': 'Save'|trans , attr: {'class': 'btn btn-success  pull-right'}}) }}
                                <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/users-list" class="btn btn-default pull-right">{{ 'Cancel'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <div style="display: none;">
            {{ form_rest(app.form) }}
        </div>
        {{ form_end(app['form']) }}
    </div>
    <script type="text/javascript" defer>

        var conf = {
            form: '#form_',
            lang : '{{ app.language }}',
            showHelpOnFocus : true,
            validateHiddenInputs: true,
            ignore: ['.ignore'],
            modules: 'jsconf, date',
            onSuccess: function () {
                $(this.form).get(0).submit();
                return false;
            },
            onError: function () {
                return false;
            }
        };

        function DemoSelect2() {
            $.getScript("{{ app.request.baseUrl }}/plugins/select2/i18n/{% if app["language"] %}{{ app["language"] }}{% else %}en{% endif %}.js", function() {
                $.fn.select2.defaults.set('dropdownAutoWidth', 'false');
                $.fn.select2.defaults.set('width', '100%');
                $('#form_group_id').select2({minimumResultsForSearch: -1});
                $('#form_tariff_plan_id').select2({minimumResultsForSearch: -1});
                $('#form_additional_services_on').select2({minimumResultsForSearch: -1});
                $('#form_status').select2({minimumResultsForSearch: -1});
                $('#form_theme').select2({minimumResultsForSearch: -1});
                {% if attribute(app, 'reseller') is defined and not app['reseller'] %}
                $('#form_reseller_id').select2({minimumResultsForSearch: -1});
                {% endif %}
            });
        }

        function yelp() {
            $(document).ready(function () {

                $.validate(conf);

                $('[data-toggle="tooltip"]').tooltip();
                
                LoadSelect2Script(DemoSelect2);

                {% if attribute(app, 'enableBilling') is defined and app.enableBilling %}
                $("#form_expire_billing_date").datepicker({
                            language: 'ru',
                            dateFormat: 'dd-mm-yy',
                            firstDay: 1,
                            minDate: new Date(),
                            dayNamesMin: [
                                '{{ 'Sun'|trans }}',
                                '{{ 'Mon'|trans }}',
                                '{{ 'Tue'|trans }}',
                                '{{ 'Wed'|trans }}',
                                '{{ 'Thu'|trans }}',
                                '{{ 'Fri'|trans }}',
                                '{{ 'Sat'|trans }}'
                            ],
                            monthNames: [
                                '{{ 'January'|trans }}',
                                '{{ 'February'|trans }}',
                                '{{ 'March'|trans }}',
                                '{{ 'April'|trans }}',
                                '{{ 'May'|trans }}',
                                '{{ 'June'|trans }}',
                                '{{ 'July'|trans }}',
                                '{{ 'August'|trans }}',
                                '{{ 'September'|trans }}',
                                '{{ 'October'|trans }}',
                                '{{ 'November'|trans }}',
                                '{{ 'December'|trans }}'
                            ]
                        }
                );
                {% endif %}

                $(document).on('change keyup', '#form_login', function (e) {
                    var _this = $(this);
                    _this.next('div').removeClass('bg-danger').css('visibility', 'hidden').html('&nbsp;');

                    $.ajax({
                        url: 'users/check-login',
                        type: 'POST',
                        data: {name: _this.val(), id: $("#form_id").val()},
                        success: function (data) {
                            if (data.success) {
                                _this.next('div').append('<i class="txt-success fa fa-check"></i> ' + data.chk_rezult).css('visibility', 'visible');
                            } else if (data.error) {
                                console.log(data.error);
                            } else {
                                console.log("{{ 'Some server error'|trans }}");
                            }
                        },
                        error: function (data) {
                            if (typeof (data.responseJSON) != 'undefined' && typeof (data.responseJSON.error) != 'undefined') {
                                _this.next('div').append('<i class="txt-danger fa fa-ban"></i> ' + data.responseJSON.error).css('visibility', 'visible');
                            } else {
                                console.log("{{ 'Some network error or access denied'|trans }}");
                            }
                        },
                        dataType: "json",
                        async: false
                    });
                });

                $(document).on('click', "a.main_ajax", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var _this = $(this);

                    if (_this.attr('href').search("enable") != -1 && !_this.data('video_on_date')) {
                        setEnableDatePicker(_this);
                        return false;
                    }

                    if (_this.attr('href').search("create-tasks") != -1 && !_this.data('sendData')) {
                        showTaskForm(_this);
                        return false;
                    }

                    if (!_this.data('atcion')) {
                        $.ajax({
                            url: $(this).attr('href'),
                            type: 'POST',
                            data: $(this).data(),
                            success: function (data) {
                                if (data.success) {
                                    for (var key in data) {
                                        _this.data(key, data[key]);
                                    }
                                } else {
                                    alert("{{ 'Some server error'|trans }}");
                                }
                            },
                            error: function (data) {
                                var errAction = '';
                                if (typeof (data.responseJSON) == 'object') {
                                    errAction += data.responseJSON.action + 'Error';
                                    for (var key in data.responseJSON) {
                                        _this.data(key, data.responseJSON[key]);
                                    }
                                }
                                if ($.isFunction(window[errAction])) {
                                    window[errAction]($(_this));
                                } else {
                                    alert("{{ 'Some network error or access denied'|trans }}");
                                }
                            },
                            dataType: "json",
                            async: false
                        });
                    }

                    if ($.isFunction(window[$(this).data('action')]) && !$(this).data('error')) {
                        window[$(this).data('action')]($(this));
                    }
                    _this.closest('div.open').removeClass('open');
                    return false;
                });

                $(document).on('change', '#form_tariff_plan_id', function(){
                    if($(this).val() != $("#tariff_plan_table").data('planid')){
                        $("#tariff_plan_table").hide();
                        $("#tariff_plan_change").show();
                    } else {
                        $("#tariff_plan_table").show();
                        $("#tariff_plan_change").hide();
                    }
                });
                
                $(document).on('click', '#form_save', function(){
                    if (!$("#tariff_plan_table").is(':visible')) {
                        $("#tariff_plan_table input").attr('disabled', 'disabled');
                    }

                    e.stopPropagation();
                    e.preventDefault();

                    if ($(conf.form).isValid({}, conf, true)) {
                        conf.onSuccess();
                    } else {
                        conf.onError();
                    }
                    return false;
                });
            });
        }
        document.addEventListener("DOMContentLoaded", yelp, false);

        var resetUsersParentPassword = function (obj) {
            $(obj).closest('.form-group').find('input').val($(obj).data('newpass'));
        };

        var resetUserFavTv = function (obj) {
            $(obj).closest('.form-group').find('input').val(0);
        };
    </script>
    {% else %}
    <div id="add_channel">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="txt-danger">{{ 'Limit of number of the users has been reached'|trans }}</h2>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}