{% extends 'layout.twig' %}
{% import '/macro/iptw_macro.twig' as main_macro %}
{% set title = ('Users'|trans ~ ': ' ~ 'list of STB in group '|trans ~ '"' ~ app.consoleGroup.name ~ '"') | trans %}
{% set active_alias = 'users-consoles-groups' %}

{% block content %}
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/add-console-item" class="btn btn-success pull-right" id="add_console_item">{{ 'Add STB'|trans }}</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box">
                    <div class="box-content">
                        <div class="box-content no-padding">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                                    <div class="dataTables_processing"></div>
                                    <table class="table  table-hover table-datatable" id="datatable-1">
                                        {% if attribute(app, 'dropdownAttribute') is defined %}
                                            {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                        {% endif %}
                                        <tbody>
                                            {% if attribute(app, 'consoleGroupList') is defined %}
                                                <!-- Start: list_row -->
                                                {% for item in app.consoleGroupList %}
                                                    <tr data-consolegroupid="{{ item.stb_group_id }}">
                                                        <td><a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/edit-users?id={{ item.uid }}" >{{ item.mac }}</a></td>
                                                        <td>{{ item.uid }}</td>
                                                        <td>
                                                            <div class="col-xs-3 col-sm-8">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">                    
                                                                    <i class="pull-right fa fa-cog"></i>
                                                                </a>
                                                                <ul class="dropdown-menu pull-right">
                                                                    <li>
                                                                        <a class="main_ajax" href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/remove-console-item" data-consoleid="{{ item.stb_in_group_id }}">
                                                                            <span>{{ 'Delete'|trans }}</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            <!-- End: list_row -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" defer>

        function TestTable1() {
            $('#datatable-1').on('xhr.dt', function (e, settings, json) {
                if (typeof (json.data) == 'object') {
                    for (var i in json.data) {
                        cels = getCeils(json.data[i]);
                        json.data[i].mac = cels.mac;
                        json.data[i].uid = cels.uid;
                        json.data[i].operations = cels.operations;
                    }
                }
            }).dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ app.request.baseUrl }}/{{ app.controller_alias }}/users-groups-consoles-list-json",
                    "data": function (d) {
                        var RegExp = /id=(\d+)/;
                        if (id = RegExp.exec(window.location.href)) {
                            d.id = id[1];
                        }
                    }
                },
                "deferLoading":{{ app.totalRecords }},
                        "language": {
                            "url": "{{ app.datatable_lang_file }}"
                        },
                {% if attribute(app, 'dropdownAttribute') is defined %}
                {{ main_macro.get_datatable_column(app['dropdownAttribute']) }}
                {% endif %}
                "bFilter": true,
                "bPaginate": true,
                "bInfo": true,
                "aoColumnDefs": [
                    { className: "action-menu", "targets": [ -1 ] },
                    {"searchable": false, "targets": [-1]},
                    {"sortable": false, "targets": [-1]}
                ]
            }).prev('.dataTables_processing').hide('');
        }

        function yelp() {
            $(document).ready(function () {

                $(document).on('change keyup', '#item_mac', function (e) {
                    var _this = $(this);
                    _this.next('div').removeClass('bg-danger').css('visibility', 'hidden').html('&nbsp;');
                    var mac_val = $.trim(_this.val());
                    var regExp = /([0-9a-fA-F]{2}([:]|$)){6}$/ig;
                    $('#modalbox button[type="submit"]').attr("disabled", "disabled");
                    if (regExp.test(mac_val)) {
                        $('#modalbox button[type="submit"]').removeAttr("disabled");
                        $.ajax({
                            url: 'users/check-console-item',
                            type: 'POST',
                            data: {mac: mac_val, uid: $('#modalbox input[name="uid"]').val()},
                            success: function (data) {
                                if (data.success) {
                                    $('#modalbox button[type="submit"]').removeAttr("disabled");
                                    _this.next('div').append('<i class="txt-success fa fa-check"></i> ' + data.chk_rezult).css('visibility', 'visible');
                                } else if (data.error) {
                                    $('#modalbox button[type="submit"]').attr("disabled", "disabled");
                                    console.log(data.error);
                                } else {
                                    $('#modalbox button[type="submit"]').removeAttr("disabled");
                                    console.log("{{ 'Some server error'|trans }}");
                                }
                            },
                            error: function (data) {
                                if (typeof (data.responseJSON) != 'undefined' && typeof (data.responseJSON.error) != 'undefined') {
                                    $('#modalbox button[type="submit"]').attr("disabled", "disabled");
                                    _this.next('div').append('<i class="txt-danger fa fa-ban"></i> ' + data.responseJSON.error).css('visibility', 'visible');
                                } else {
                                    $('#modalbox button[type="submit"]').removeAttr("disabled");
                                    console.log("{{ 'Some network error or access denied'|trans }}");
                                }
                            },
                            dataType: "json",
                            async: false
                        });
                    } else {
                        _this.next('div').append('<i class="txt-danger fa fa-ban"></i> {{ 'Enter the MAC-address according to the format'|trans }}').css('visibility', 'visible');
                    }
                });

                $(document).on('click', "a.main_ajax", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var _this = $(this);

                    $.ajax({
                        url: $(this).attr('href'),
                        type: 'POST',
                        data: $(this).data(),
                        success: function (data) {
                            if (data.success) {
                                if ($.isFunction(window[data.action]) && !data.error) {
                                    window[data.action](data);
                                }
                            } else {
                                alert("{{ 'Some server error'|trans }}");
                            }
                        },
                        error: function (data) {
                            var errAction = '';
                            if (typeof (data.responseJSON) == 'object') {
                                errAction += data.responseJSON.action + 'Error';
                            }
                            if ($.isFunction(window[errAction])) {
                                window[errAction]($(_this));
                            } else {
                                alert("{{ 'Some network error or access denied'|trans }}");
                            }
                        },
                        dataType: "json",
                        async: false
                    });

                    if ($.isFunction(window[$(this).data('action')]) && !$(this).data('error')) {
                        window[$(this).data('action')]($(this));
                    }
                    _this.closest('div.open').removeClass('open');
                    return false;
                });

                $(document).on('click', '#add_console_item', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    openModalBox($(this));
                    return false
                })

                $(document).on('click', "#modalbox button[type='reset'], #modalbox, #modalbox a.close-link, #modalbox a.close-link *", function (e) {
                    if (e.currentTarget != e.target) {
                        return;
                    }
                    e.stopPropagation();
                    e.preventDefault();

                    closeModalBox();
                    return false;
                });

                $(document).on('click', "#modalbox button[type='submit']", function (e) {
                    var sendData = {
                        id: $("#modalbox input[name='id']").val(),
                        groupid: $("#modalbox input[name='groupid']").val(),
                        name: $("#modalbox input[type='text']").val()
                    };

                    e.stopPropagation();
                    e.preventDefault();
                    $.ajax({
                        url: $("#modalbox form").attr('action'),
                        type: 'POST',
                        data: sendData,
                        success: function (data) {
                            if (data.success) {
                                if ($.isFunction(window[data.action]) && !data.error) {
                                    window[data.action](data);
                                }
                            } else if (data.error) {
                                alert(data.error);
                            } else {
                                alert("{{ 'Some server error'|trans }}");
                            }
                        },
                        error: function (data) {
                            var errAction = '';
                            if (typeof (data.responseJSON) == 'object') {
                                errAction += data.responseJSON.action + 'Error';
                            }
                            if ($.isFunction(window[errAction])) {
                                window[errAction](data.responseJSON);
                            } else {
                                alert("{{ 'Some network error or access denied'|trans }}");
                            }
                        },
                        dataType: "json",
                        async: false
                    });

                    closeModalBox();
                    return false;
                });

                LoadDataTablesScripts(TestTable1);
            });
        }

        document.addEventListener("DOMContentLoaded", yelp, false);

        var addConsoleItem = function (data) {
            var cRow = $("#datatable-1 tr:last");
            $('#datatable-1').DataTable().row.add(getCeils(data)).draw();
        };

        var addConsoleItemError = function (data) {
            alert(data.error);
        };

        var removeConsoleItem = function (data) {
            var cRow = $('a[data-consoleid="' + data.stb_in_group_id + '"]').closest('tr');
            $('#datatable-1').DataTable().row(cRow).remove().draw();
        };

        function closeModalBox() {
            $("#modalbox").hide();
            $('#modalbox').find('.modal-header-name span').empty();
            $('#modalbox').find('.devoops-modal-inner').find('input').val('');
            $('#item_mac').next('div').removeAttr('class').text('');
        }

        function openModalBox(obj) {
            $('#modalbox').find('.modal-header-name span').text((obj.data('consolegroupid') ? '{{ 'Edit'|trans }}' : 'Добавить') + ' приставку');
            if ($('#modalbox').find('.devoops-modal-inner').find('input').length == 0) {
                $('#modalbox').find('.devoops-modal-inner').html('\n\
                <div class="box-content">\n\
                    <form class="form-horizontal" role="form">\n\
                        <div class="form-group">\n\
                            <label class="col-sm-3 control-label col-sm-offset-1">MAC</label>\n\
                            <div class="col-xs-10 col-sm-8">\n\
                                <span class="col-xs-8 col-sm-8">\n\
                                    <input type="hidden" name="groupid">\n\
                                    <input type="hidden" name="id">\n\
                                    <input type="text" name="mac" class="own_fields form-control " id="item_mac">\n\
                                    <div>&nbsp;</div>\n\
                                </span>\n\
                            </div>\n\
                        </div>\n\
                    </form>\n\
                </div>');
                $('#modalbox').find('.devoops-modal-bottom').html('<div class="pull-right no-padding">&nbsp;</div>\n\
                        <div class="col-xs-10 col-sm-5 pull-right no-padding">\n\
                            <button type="submit" class="btn btn-success col-sm-5 pull-right">{{ 'Save'|trans }}</button>\n\
                            <button type="reset" class="btn btn-default col-sm-5 pull-left" > {{ 'Cancel'|trans }} </button>\n\
                        </div>');
            }

            if (obj.data('consoleid')) {
                $('#modalbox').find('.devoops-modal-inner').find('input[name="id"]').val(obj.data('consoleid'));
                $('#modalbox').find('.devoops-modal-inner').find('input[type="text"]').val(obj.closest('tr').find('td:first a').text());
            }
            $('#modalbox').find('.devoops-modal-inner').find('input[name="groupid"]').val({{ app['groupid'] }});
            $('#modalbox form').attr('action', obj.attr('href'));
            $("#modalbox").show();
            obj.closest('div.open').removeClass('open');
        }
        function getCeils(data) {
            var firstCeil = '<a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/edit-users?id=' + data.uid + '">' + data.mac + '</a>';
            var secondCeil = data.uid;
            var thirdCeil = "<div class='col-xs-3 col-sm-8'>\n\
                                <a href='#' class='dropdown-toggle' data-toggle='dropdown'>\n\
                                    <i class='pull-right fa fa-cog'></i>\n\
                                </a>\n\
                                <ul class='dropdown-menu pull-right'>\n\
                                    <li>\n\
                                        <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/remove-console-item' data-consoleid='" + data.stb_in_group_id + "'>\n\
                                            <span> {{ 'Delete'|trans }} </span>\n\
                                        </a>\n\
                                    </li>\n\
                                </ul>\n\
                            </div>";
            return {mac: firstCeil, uid: secondCeil, operations: thirdCeil};
        }
    </script>
{% endblock %}