{% extends 'layout.twig' %}
{% import '/macro/iptw_macro2.twig' as main_macros %}
{% import '/macro/iptw_macro.twig' as main_macro %}
{% set title = ('Users'|trans ~ ': ' ~ 'list of users'|trans) | trans %}

{% block content %} 
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% if attribute(app, 'filters_set') is defined %}
                    {% for filter in app.filters_set %}
                        {% if filter.default == '1' %}
                            {% if filter.values_set|length != 0 %}
                                {{ main_macro.get_filter_value_set_input(filter.text_id, filter.title, 'value', 'title', filter.values_set, 1) }}
                            {% elseif filter.type == 'STRING' %}
                                {{ main_macro.get_filter_string_input(filter.text_id, filter.title, 'value', 'title', filter.values_set, 1) }}
                            {% elseif filter.type == 'DATETIME' %}
                                {{ main_macro.get_filter_datetime_input(filter.text_id, filter.title, 'value', 'title', filter.values_set, 1) }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="col-sm-2 col-xs-2">
                {% if attribute(app, 'filters_template') is defined %}
                    {{ main_macros.get_dropdown_attribute(app['filters_template'], 'filter_param', 'Add parametr'|trans, 6, 1, 'true') }}
                {% endif %}
                </div>
                <a id="add_button" href="{{app.request.baseUrl}}/{{app.controller_alias}}/add-users" class="btn btn-success pull-right" {% if not app.resellerUserLimit %}style="display: none;"{% endif %}>{{ 'Add user'|trans }}</a>
                <span id="limit_message" class="btn btn-default pull-right" {% if app.resellerUserLimit %}style="display: none;"{% endif %}>{{ 'Limit of number of the users has been reached'|trans }}</span>
                <a id="form_filter_button" href="{{app.request.baseUrl}}/{{app.controller_alias}}/save-filter" class="btn btn-success green pull-right" data-filter_set_id="{% if attribute(app, 'filter_set') is defined %}{{ app.filter_set.id }}{% endif %}">{{ 'Save filter'|trans }}</a>
                <a id="apply_filter_button" href="#" class="btn btn-default pull-right">{{ 'Apply filter'|trans }}</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="filter_block">
                {% if attribute(app, 'filters_set') is defined %}
                    {% for filter in app.filters_set %}
                        {% if filter.default == '0' %}
                            {% if filter.values_set|length != 0 %}
                                {{ main_macro.get_filter_value_set_input(filter.text_id, filter.title, 'value', 'title', filter.values_set, 0) }}
                            {% elseif filter.type == 'STRING' %}
                                {{ main_macro.get_filter_string_input(filter.text_id, filter.title, 'value', 'title', filter.values_set, 0) }}
                            {% elseif filter.type == 'DATETIME' %}
                                {{ main_macro.get_filter_datetime_input(filter.text_id, filter.title, 'value', 'title', filter.values_set, 0) }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="box">
                {% if attribute(app, 'dropdownAttribute') is defined %}
                    {{ main_macro.get_dropdown_attribute(app['dropdownAttribute']) }}
                {% endif %}
                <div class="box-content">
                    <div class="box-content no-padding">
                        <div class="dataTables_processing"></div>
                        <table class="table  table-hover table-datatable" id="datatable-1">
                            {% if attribute(app, 'dropdownAttribute') is defined %}
                                {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                            {% endif %}
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalbox_ad">
        <div class="devoops-modal">
            <div class="devoops-modal-header">
                <div class="modal-header-name">
                    <span>{{ 'New event'|trans }}</span>
                </div>
                <div class="box-icons">
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="devoops-modal-inner">
                <div class="box">
                    <div class="box-content">
                        <form class="form-horizontal" role="form">
                            <div class="form-group" style="display: none;">
                                <label class="col-sm-3 control-label col-sm-offset-1">Адресат</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <select class="populate placeholder" name="user_list_type" id="s2_user_list_type">
                                            <option value="to_single" selected="selected">{{ 'Single'|trans }}</option>
                                        </select>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Selecting a destination. Example one, all, on the list, on the template, the group.'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" data-list-type="by_user_list">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'List of MAC-addresses'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <input type="hidden" name="file_name" id="file_name">
                                    <!-- The file upload form used as target for the file upload widget -->
                                    <div id="fileupload" class="pull-left">
                                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                        <div class="fileupload-buttonbar">
                                            <div class="fileupload-buttons">
                                                <!-- The fileinput-button span is used to style the file input field as button -->
                                                <span class="fileinput-button btn btn-success">
                                                    <span>{{ 'File'|trans }}</span>
                                                    <input type="file" name="files" style="opacity: 0;">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'The file must contain pre-compiled list of MAC-addresses in the txt extension or another text format'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" data-list-type="by_group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Group'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <select class="populate placeholder" name="group_id" id="s2_group_id">
                                            {% for item in app.consoleGroup %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Select a group of users that will be sent a message'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" data-list-type="by_pattern">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Template'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <select class="populate placeholder" name="pattern" id="s2_pattern">
                                            <option value="MAG100">MAG100</option>
                                            <option value="MAG200">MAG200</option>
                                            <option value="MAG250">MAG250</option>
                                            <option value="MAG255">MAG255</option>
                                            <option value="MAG256">MAG256</option>
                                            <option value="MAG257">MAG257</option>
                                            <option value="MAG270">MAG270</option>
                                            <option value="MAG275">MAG275</option>
                                            <option value="AuraHD0">AuraHD0</option>
                                            <option value="AuraHD1">AuraHD1</option>
                                            <option value="AuraHD9">AuraHD9</option>
                                        </select>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Select a template for the type of STB'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" data-list-type="to_single">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'MAC-address'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-8">
                                        <input class="form-control" type="text" title="" value="{% if attribute(app, 'currentUser') is defined %}{{ app.currentUser.mac }}{% endif %}" name="mac">
                                        <div>&nbsp;</div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Enter the MAC-address of the user'|trans }}я</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Actions'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <select class="populate placeholder" name="event" id="s2_event">
                                            <option value=""></option>
                                            <option value="send_msg">{{ 'Sending a message'|trans }}</option>
                                            <option value="reboot">{{ 'Reboot'|trans }}</option>
                                            <option value="reload_portal">{{ 'Restart the portal'|trans }}</option>
                                            <option value="update_channels">{{ 'Update channel list'|trans }}</option>
                                            <option value="play_channel">{{ 'Playback channel'|trans }}</option>
                                            <option value="play_radio_channel">{{ 'Playback radio channel'|trans }}</option>
                                            <option value="mount_all_storages">{{ 'Mount all storages'|trans }}</option>
                                            <option value="cut_off">{{ 'Turn off'|trans }}</option>
                                            <option value="update_image">{{ 'Image update'|trans }}</option>
                                        </select>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Select one of the actions'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" data-event-type="play_channel;play_radio_channel">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Channel'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-8">
                                        <input class="form-control" type="text" title="" value="" name="channel">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" data-event-type="send_msg">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Restart'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="1" name="need_reboot">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Restart STB by pressing the "OK"'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label col-sm-offset-1">TTL</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <input class="form-control" type="text" title="" value="" name="ttl" id="ttl">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-12">
                                        <span class="small txt-default">{{ 'Term relevance of action, is measured in seconds'|trans }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" data-event-type="send_msg">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Message header'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" value="" name="header" id="msg_header">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" data-event-type="send_msg">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Message text'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <textarea class="form-control" rows="4" title="" value="" name="msg" id="msg_textarea"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" data-event-type="send_msg">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Message templates'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <select class="populate placeholder" data-validation=required name="" id="s2_msg_pattern">
                                            <option value="0" data-filter-descriprion=""></option>
                                            {% if attribute(app,'messagesTemplates') is defined and app['messagesTemplates']|length > 0 %}
                                                {% for item in app['messagesTemplates'] %}
                                                    <option value="{{ item['id'] }}" data-template-header="{{ item['header'] }}">{{ item['title'] }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" data-event-type="send_msg" id="add_post_function_container">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Add post-function'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="1" name="add_post_function" id="add_post_function">
                                                <i class="fa fa-square-o small"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" data-event-type="post_function_type" id="post_function_type">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Post-function'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <select class="populate placeholder" data-validation=required name="post_function" id="s2_post_function">
                                            <option value="send_msg_with_video">{{ 'Send message whith video'|trans }}</option>
                                            {#<option value="run_application">{{ 'Run application'|trans }}</option>#}
                                        </select>
                                    </div>
                                <span class="help-inline col-xs-12 col-sm-12">
                                    <span class="small txt-default">{{ 'The function to be executed when pressing the "OK" button'|trans }}</span>
                                </span>
                                </div>
                            </div>
                            <div class="form-group" data-event-type="post_function_video_url" id="send_msg_with_video">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'VIDEO URL'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-12">
                                        <input class="form-control" type="text" title="" value="" name="param1">
                                    </div>
                                </div>
                            </div>
                            {#<div class="form-group" data-event-type="post_function_run_application" id="run_application">
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Application'|trans }}</label>
                                <div class="col-xs-10 col-sm-8">
                                    <div class=" col-xs-10 col-sm-6">
                                        <select class="populate placeholder" data-validation=required name="param1" id="s2_applications">
                                            <option value="youtube">{{ 'YouTube'|trans }}</option>
                                            <option value="itv">{{ 'TV'|trans }}</option>
                                            <option value="radio">{{ 'Radio'|trans }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>#}
                        </form>
                    </div>
                </div>
            </div>
            <div class="devoops-modal-bottom">
                <div class="box">
                    <div class="box-content">
                        <div class="row">
                            <div class="col-xs-10 col-sm-6 pull-right">
                                <button type="submit" class="btn btn-success col-sm-5 pull-right">{{ 'Save'|trans }}</button>
                                <button type="reset" class="btn btn-default col-sm-5 pull-left" >{{ 'Cancel'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                    
    <script type="text/javascript" defer>

        var dayNamesMin = [
            '{{ 'Sun'|trans }}',
            '{{ 'Mon'|trans }}',
            '{{ 'Tue'|trans }}',
            '{{ 'Wed'|trans }}',
            '{{ 'Thu'|trans }}',
            '{{ 'Fri'|trans }}',
            '{{ 'Sat'|trans }}'
        ];
        var monthNames = [
            '{{ 'January'|trans }}',
            '{{ 'February'|trans }}',
            '{{ 'March'|trans }}',
            '{{ 'April'|trans }}',
            '{{ 'May'|trans }}',
            '{{ 'June'|trans }}',
            '{{ 'July'|trans }}',
            '{{ 'August'|trans }}',
            '{{ 'September'|trans }}',
            '{{ 'October'|trans }}',
            '{{ 'November'|trans }}',
            '{{ 'December'|trans }}'
        ];

        var mediaTypeName = [
            {% for key, val in app.mediaTypeName %}
            '{{ val }}'{% if not loop.last %},{% endif %}
            {% endfor %}
        ];

        function DemoSelect2() {
            $.getScript("{{ app.request.baseUrl }}/plugins/select2/i18n/{% if app["language"] %}{{ app["language"] }}{% else %}en{% endif %}.js", function() {
                $.fn.select2.defaults.set('dropdownAutoWidth', 'false');
                $.fn.select2.defaults.set('width', '100%');
                $("[id^='s2_']").select2({minimumResultsForSearch: -1});
                $("[id^='filter_s2_']").select2();
            });
        }

        function TestTable1() {
            $('#datatable-1').on('xhr.dt', function (e, settings, json) {
                if (typeof (json.data) == 'object' && json.data.length >0) {
                    var date;
                    for (var i in json.data) {
                        var id = json.data[i].id;
                        {% if attribute(app, 'reseller') is defined and not app['reseller'] %}
                        var reseller_id = json.data[i].reseller_id;
                        var reseller_name = json.data[i].reseller_name;
                        {% endif %}
                        var status = json.data[i].status;
                        var state = json.data[i].state;
                        var expire_billing_date = json.data[i].expire_billing_date;
                        var mac = json.data[i].mac;

                        json.data[i].now_playing_type = (typeof (mediaTypeName[json.data[i].now_playing_type]) != 'undefined' ? mediaTypeName[json.data[i].now_playing_type]: '--');
                        json.data[i].operations = "<div class='col-xs-3 col-sm-8'>\n\
                                                        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>\n\
                                                            <i class='pull-right fa fa-cog'></i>\n\
                                                        </a>\n\
                                                        <ul class='dropdown-menu pull-right'>\n\
                                                            <li>\n\
                                                                <a href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/edit-users?id=" + id + "'>\n\
                                                                    <span>{{ 'Edit'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/users-consoles-logs?mac=" + mac + "'>\n\
                                                                    <span>{{ 'Details'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/send-message' data-userid='" + id + "'>\n\
                                                                    <span>{{ 'Send message'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                            <li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/toggle-user' data-userid='" + id + "' data-userstatus='" + status + "'>\n\
                                                                    <span>" + (status == 0 ? "{{ 'Turn off'|trans }}" : "{{ 'Turn on'|trans }}") + "</span>\n\
                                                                </a>\n\
                                                            </li>";
                                                            {% if attribute(app, 'reseller') is defined and not app['reseller'] %}
                        json.data[i].operations +=          "<li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/move-user-to-reseller' data-id='" + id + "' data-reseller_id='" + reseller_id + "'>\n\
                                                                    <span>{{ 'Change reseller for current user'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>";
                                                            {% endif %}
                                                            {% if attribute(app, 'enableBilling') is defined and app.enableBilling %}
                        json.data[i].operations +=          "<li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/set-expire-billing-date' data-userid='" + id + "' data-setaction='set'>\n\
                                                                    <span>{{ 'Set expires billing date'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>";
                                                            if (expire_billing_date > 0) {
                        json.data[i].operations +=          "<li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/set-expire-billing-date' data-userid='" + id + "' data-setaction='unset'>\n\
                                                                    <span>{{ 'Unset expires billing date'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>";
                                                            }
                                                            {% endif %}
                        json.data[i].operations +=          "<li>\n\
                                                                <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/remove-user' data-userid='" + id + "'>\n\
                                                                    <span>{{ 'Delete'|trans }}</span>\n\
                                                                </a>\n\
                                                            </li>\n\
                                                        </ul>\n\
                                                    </div>";
                        var last_active = new Date(json.data[i].last_active * 1000);
                        json.data[i].state = state != 0 ? "<span class=''>Online</span>" : "<span class=''>Offline</span><br><span>{{ 'Last activity'|trans }}: " + (json.data[i].last_active != 0? last_active.toLocaleFormat("%b %d, %Y %H:%M"): "-") + "</span>";
                        json.data[i].status = "<span class=''>" + (status == 0 ? "{{ 'on'|trans }}" : "{{ 'off'|trans }}") + "</span>";

                        if (json.data[i].country) {
                            json.data[i].ip = "<span class='countries-flag-container'><span class='pull-left'>" + json.data[i].ip + "</span>&nbsp;<span class='flag-wrapper pull-right'><span class='img-thumbnail flag flag-icon-background flag-icon-"+json.data[i].country+"'>&nbsp;</span></span></span>";
                        }

                        date = json.data[i]['last_change_status'];
                        if (date > 0) {
                            date = new Date(date * 1000);
                            json.data[i]['last_change_status'] = date.toLocaleFormat("%b %d, %Y");
                        } else {
                            json.data[i]['last_change_status'] = ''/*'00-00-0000'*/;
                        }
                        {% if attribute(app, 'enableBilling') is defined and app.enableBilling %}
                        date = json.data[i]['expire_billing_date'];
                        if (date > 0) {
                            date = new Date(date * 1000);
                            json.data[i]['expire_billing_date'] = date.toLocaleFormat("%b %d, %Y");
                        } else {
                            json.data[i]['expire_billing_date'] = '{{ 'Unlimited'|trans }}';
                        }
                        {% endif %}
                        date = json.data[i]['created'];
                        if (date > 0) {
                            date = new Date(date * 1000);
                            json.data[i]['created'] = date.toLocaleFormat("%b %d, %Y");
                        } else {
                            json.data[i]['created'] = '---';
                        }

                        json.data[i].mac = '<a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/edit-users?id='+ id +'" >'+ mac +'</a>';
                        {% if attribute(app, 'reseller') is defined and not app['reseller'] %}
                        json.data[i].reseller_name = '<a class="main_ajax" href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/move-user-to-reseller" data-id="' + id + '" data-reseller_id="' + reseller_id + '">'+ reseller_name +'</a>';
                        {% endif %}
                    }
                }
            }).dataTable({
                "processing": true,
                "serverSide": true,
                "pageLength": 50,
                "ajax": {
                    "url": "{{ app.request.baseUrl }}/{{ app.controller_alias }}/users-list-json",
                    "data": function (d) {
                        var RegExp = /video_id=(\d+)/;
                        if (video_id = RegExp.exec(window.location.href)) {
                            d.video_id = video_id[1];
                        }
                        var params = $.parseParams(window.location.href.split('?')[1] || ''); //window.location.href.split('?')[1] || '' 
                        for (var i in params) {
                            d[i] = params[i];
                        }

                        $("div[data-tvfilter]").each(function(){
                            var inputs, s2_filter;
                            if ((inputs = $(this).find('input.datepicker')).length) {
                                d['filters[' + $.trim($(this).data('tvfilter')) + ']'] = inputs.map(function(){return this.value}).get().join('|');
                            } else if((s2_filter = $(this).find('select[id^="filter_s2_"]')).length){
                                d['filters[' + $.trim($(this).data('tvfilter')) + ']'] = s2_filter.find('option:selected').map(function(){return this.value}).get().join('|');
                            } else {
                                d['filters[' + $.trim($(this).data('tvfilter')) + ']'] = $.trim($(this).data('filterval')) || '';
                            }
                        });
                    }
                },
                "deferLoading": [ {{ app.recordsFiltered }}, {{ app.totalRecords }} ],
                        "language": {
                            "url": "{{ app.datatable_lang_file }}"
                        },
                {% if attribute(app, 'dropdownAttribute') is defined %}
                {{ main_macro.get_datatable_column(app['dropdownAttribute']) }}
                {% endif %}
                "bFilter": true,
                "bPaginate": true,
                "bInfo": true,
                "aoColumnDefs": [
                    { className: "action-menu", "targets": [ -1 ] },
                    {"searchable": false, "targets": [6, 7, 8, 9, 10, -3, -2, -1]},
                    {"sortable": false, "targets": [-1]},
                    {className: "data-filter-status", "targets": [-{% if attribute(app, 'reseller') is defined and not app['reseller'] %}3{% else %}2{% endif %} ]}
                ]
            }).prev('.dataTables_processing').hide('');
            $('#datatable-1').DataTable().ajax.reload();
        }

        function yelp() {
            $(document).ready(function () {

                $("#datepicker_from").datepicker({
                    numberOfMonths: 1,
                    language: '{% if attribute(app, 'locale') is defined and app['locale']|length == 2 %}{{ app['locale'] }}{% else %}en{% endif %}',
                    dateFormat: 'dd/mm/yy',
                    dayNamesMin : dayNamesMin,
                    monthNames  : monthNames,
                    onClose: function (selectedDate) {
                        $("#datepicker_to").datepicker("option", "minDate", selectedDate);
                        $('#datatable-1').DataTable().ajax.reload();
                    }
                });
                $("#datepicker_to").datepicker({
                    numberOfMonths: 1,
                    language: '{% if attribute(app, 'locale') is defined and app['locale']|length == 2 %}{{ app['locale'] }}{% else %}en{% endif %}',
                    dateFormat: 'dd/mm/yy',
                    dayNamesMin : dayNamesMin,
                    monthNames  : monthNames,
                    onClose: function (selectedDate) {
                        $("#datepicker_from").datepicker("option", "maxDate", selectedDate);
                        $('#datatable-1').DataTable().ajax.reload();
                    }
                });

                $('#filter_param').css({left: "10px", top: "2px"});
                $('#filter_param').parent().css({minHeight: '42px'});
                switch ($("#s2_event").val()) {
                        {% if attribute(app, 'defTTL') is defined %}
                        {% for key, val in app['defTTL'] %}
                        {% if key != 'other' %}
                    case '{{ key }}': { $("#ttl").val("{{ val }}"); break; }
                        {% endif %}
                        {% endfor %}
                    default : { $("#ttl").val("{{ app['defTTL']['other'] }}"); break; }
                        {% endif %}
                }

                $(document).on('click', "a.main_ajax", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var _this = $(this);

                    if (_this.attr('href').search("send-message") != -1 || _this.attr('href').search("set-expire-billing-date") != -1  || _this.attr('href').search("move-user-to-reseller") != -1) {
                        return false;
                    }

                    $.ajax({
                        url: $(this).attr('href'),
                        type: 'POST',
                        data: $(this).data(),
                        success: function (data) {
                            if (data.success) {
                                for (var key in data) {
                                    _this.data(key, data[key]);
                                }
                            } else {
                                alert("{{ 'Some server error' }}");
                            }
                        },
                        error: function (data) {
                            var errAction = '';
                            if (typeof (data.responseJSON) == 'object') {
                                errAction += data.responseJSON.action + 'Error';
                                for (var key in data.responseJSON) {
                                    _this.data(key, data.responseJSON[key]);
                                }
                            }
                            if ($.isFunction(window[errAction])) {
                                window[errAction]($(_this));
                            } else {
                                alert("{{ 'Some network error or access denied' }}");
                            }
                        },
                        dataType: "json",
                        async: false
                    });

                    if ($.isFunction(window[$(this).data('action')]) && !$(this).data('error')) {
                        window[$(this).data('action')]($(this));
                    }
                    _this.closest('div.open').removeClass('open');
                    return false;
                });
                
                $("[data-list-type], [data-event-type]").hide().find('input, select, textarea').attr('disabled', 'disabled');
                $(document).on('change', "#s2_user_list_type, #s2_event", function (e) {
                    checkFields($(this), e);
                    switch ($("#s2_event").val()) {
                            {% if attribute(app, 'defTTL') is defined %}
                            {% for key, val in app['defTTL'] %}
                            {% if key != 'other' %}
                        case '{{ key }}': { $("#ttl").val("{{ val }}"); break; }
                            {% endif %}
                            {% endfor %}
                        default : { $("#ttl").val("{{ app['defTTL']['other'] }}"); break; }
                            {% endif %}
                    }
                });

                $(document).on('change', "#s2_msg_pattern", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $('#msg_textarea').text($.trim($('#msg_textarea_pattern_'+$(this).val()).text()));
                    $('#msg_header').val($(this).find('option:selected').data('template-header'));
                    return false;
                });

                $(document).on('click', 'a[href*="send-message"]', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var mac = $($(this).closest('tr').children('td').get(0)).text();
                    var macField = $("input[name='mac']");
                    macField.val('').next('div').removeAttr('class').text('');
                    var regExp = /([0-9a-fA-F]{2}([:]|$)){6}$/ig;
                    if ($.trim(mac) != '' && regExp.test(mac)) {
                        macField.val(mac).attr('readonly', 'readonly');
{#                        macField.closest('.form-group').hide();#}
                    } else {
                        macField.removeAttr('readonly').next('div').append('<i class="txt-danger fa fa-ban"></i> {{ 'Enter MAC-address according to the format'|trans }}').css('visibility', 'visible');
                    }
                    $("#modalbox_ad").show().find('input, select, textarea').removeAttr('disabled');
                    checkFields('#s2_user_list_type', e);
                    checkFields('#s2_event', e);
                    $(this).closest("div.open").removeClass('open');
                    return false;
                });
                {% if attribute(app, 'enableBilling') is defined and app.enableBilling %}
                $(document).on('click', 'a[href*="set-expire-billing-date"]', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var _this = $(this);
                    if (_this.data('setaction') == 'set') {
                        setExpireDateModal(_this);
                    } else {
                        ajaxPostSend(_this.attr('href'), _this.data());
                    }
                    return false;
                });

                $(document).on('click', '#reset_enable_date', function(e){
                    closeModalBox();
                });
                {% endif %}
                {% if attribute(app, 'reseller') is defined and not app['reseller'] %}
                $(document).on('click', "a[href*='move-user-to-reseller']", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $("#modalbox").data('complete', 1);
                    $('#modalbox').find('.modal-header-name span').text("{{ 'Resellers'|trans }}");
                    var reseller_id = $(this).data('reseller_id');
                    var formHtml = '\n\
                <div class="box-content">\n\
                    <form class="form-horizontal" role="form" action="{{ app.request.baseUrl }}/{{ app.controller_alias }}/move-user-to-reseller">\n\
                        <div class="form-group">\n\
                            <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Reseller name'|trans }}</label>\n\
                            <div class="col-xs-10 col-sm-8">\n\
                                <span class="col-xs-12 col-sm-12">\n\
                                    <input type="hidden" class="own_fields" name="id" value="'+ $(this).data('id') + '">\n\
                                    <input type="hidden" class="own_fields" name="source_id" value="'+ reseller_id + '">\n\
                                    <select class="own_fields" name="target_id" id="target_reseller">\n\
                    {% if attribute(app, 'allResellers') is defined %}
                        {% for row in app.allResellers %}
                            <option value="{{ row.id }}" >{{ row.name }}</option>\n\
                        {% endfor %}
                    {% endif %}
                                    </select>\n\
                                </span>\n\
                            </div>\n\
                        </div>\n\
                    </form>\n\
                </div>';
                    $('#modalbox').find('.devoops-modal-inner').html(formHtml);
                    $('#target_reseller option').removeAttr('selected');
                    $('#target_reseller option[value="'+ reseller_id +'"]').attr('selected', 'selected');
                    $('#modalbox').find('.devoops-modal-bottom').html('<div class="pull-right no-padding">&nbsp;</div>\n\
                        <div class="pull-right no-padding">\n\
                            <button type="submit" class="btn btn-success pull-right">{{ 'Move'|trans }}</button>\n\
                            <button type="reset" class="btn btn-default pull-right" >{{ 'Cancel'|trans }}</button>\n\
                        </div>');

                    $("#target_reseller").select2({minimumResultsForSearch: -1});

                    $("#modalbox").show();
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });

                $(document).on('click', "#modalbox button[type='submit']", function (e) {
                    var _this = $(this);

                    e.stopPropagation();
                    e.preventDefault();
                    var sendData = new Object();
                    var form_fields = _this.closest("#modalbox").find('form').find(".own_fields:not(:disabled)");
                    form_fields.each(function () {
                        if ($(this).val()) {
                            if (this.type.toUpperCase() != 'CHECKBOX' || this.checked) {
                                sendData[this.name] = $(this).val();
                            }
                        }
                    });
                    var action = _this.closest("#modalbox").find('form').attr('action');
                    JSshowModalBox();
                    ajaxPostSend(action, sendData, false, false);
                    return false;

                });

                $(document).on('click', "#modalbox, #modalbox a.close-link, #modalbox a.close-link *", function(e){
                    if (e.currentTarget != e.target) {
                        return;
                    }
                    e.stopPropagation();
                    e.preventDefault();
                    closeModalBox();
                    return false;
                });
                {% endif %}

                $(document).on('click', "#modalbox_ad button[type='submit']", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var formData = $("#modalbox_ad form").serialize();
                    ajaxPostSend("{{app.request.baseUrl}}/events/add-event", formData);
                    return false;
                });

                $(document).on('change', "#filter_param li:not(:first-child) input[type='checkbox']", function (e) {
                    if (this.checked) {
                        ajaxPostSend("{{app.request.baseUrl}}/{{app.controller_alias}}/get-filter", {text_id: $(this).val()});
                        /*$(this).closest('.open').removeClass('open');*/
                    } else {
                        $('div[data-tvfilter="' + $(this).val() + '"]').remove();
                        /*var hrefM = window.location.href;
                        hrefM += window.location.search == '' ? '?': '';
                        var filterRegExp = new RegExp('\\&?filters\\[' + $(this).val() + '[^=]*=[^&|^$]*', 'ig');
                        if (filterRegExp.test(hrefM)) {
                            window.location.href = hrefM.replace(filterRegExp, '&filters['+$(this).val()+']=without').replace('?&', '?').replace('&&', '&');
                        } else {
                            window.location.href = (hrefM + '&filters['+$(this).val()+']=without').replace('?&', '?').replace('&&', '&');
                        }*/
                    }
                });

                $(document).on('click', 'div[data-tvfilter] ul a, div[data-tvfilter] .dropdown-menu button', function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var filter_str = (this.tagName == "A") ? $(this).data('filter'): $(this).closest('.dropdown-menu').find('input').map(function(){return this.value}).get().join('|');
                    $(this).closest('[data-filterval]').data('filterval', filter_str);
                    $(this).closest('[data-filterval]').find('a.dropdown-toggle span:nth-child(2)').text((this.tagName == "A") ? $(this).text() : $(this).closest('.dropdown-menu').find('input').map(function(){return this.value}).get().join(' - '));
                    $(this).closest('.open').removeClass('open');
                    return false;
                });

                $(document).on('change', 'select[id^="filter_s2_"]', function (e) {
                    if ($(this).find('option:selected').length == 0) {
                        $($(this).find('option').get(0)).prop('selected', 'selected');
                        $(this).select2();
                    }
                    var filter_val = $(this).find('option:selected').map(function(){return this.value}).get().join('|');
                    var filter_str = $(this).find('option:selected').map(function(){return $(this).text()}).get().join('|');
                    $(this).closest('[data-filterval]').data('filterval', filter_val);
                    $(this).closest('[data-filterval]').find('a.dropdown-toggle span:nth-child(2)').text(filter_str);
                });

                $('.datepicker[id^="filter_string"]').datepicker({
                            language    : '{% if attribute(app, 'locale') is defined and app['locale']|length == 2 %}{{ app['locale'] }}{% else %}en{% endif %}',
                            dateFormat  : 'dd-mm-yy',
                            firstDay    : 1,
                            dayNamesMin : dayNamesMin,
                            monthNames  : monthNames,
                            onClose: function (selectedDate) {
                                var dateParam, inputNeighbor;
                                if ($(this).attr('id').slice(-3) == '_to') {
                                    dateParam = "maxDate";
                                    inputNeighbor = $(this).prev('input');
                                } else {
                                    dateParam = "minDate";
                                    inputNeighbor = $(this).next('input');
                                }
                                if (inputNeighbor && inputNeighbor.length) {
                                    inputNeighbor.datepicker("option", dateParam, selectedDate);
                                }
                            }
                        }
                );

                $(document).on("click", "#apply_filter_button", function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    $('div[data-tvfilter] button.filter_string').trigger("click");
                    $('#datatable-1').DataTable().ajax.reload();
                    return false;
                });

                $(document).on("click", "#form_filter_button", function(e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $('#modalbox').find('.modal-header-name span').text("{{ 'Save filter'|trans }}");
                    var filter_set = {
                        id: {% if attribute(app, 'filter_set') is defined %}{{ app.filter_set.id }}{% else %}$(this).data('filter_set_id') || 0{% endif %},
                        admin_id : {% if attribute(app, 'user_id') is defined %}{{ app.user_id }}{% else %}0{% endif %},
                        title: "{% if attribute(app, 'filter_set') is defined %}{{ app.filter_set.title }}{% endif %}",
                        for_all: {% if attribute(app, 'filter_set') is defined and app.filter_set.for_all %}true{% else %}false{% endif %},
                        description: "{% if attribute(app, 'filter_set') is defined %}{{ app.filter_set.description }}{% endif %}",
                        filter_set: {}
                    };

                    $("div[data-tvfilter]").each(function(){
                        var inputs, s2_filter;
                        if ((inputs = $(this).find('input.datepicker')).length) {
                            filter_set.filter_set[$.trim($(this).data('tvfilter'))] = inputs.map(function(){return this.value}).get().join('|');
                        } else if((s2_filter = $(this).find('select[id^="filter_s2_"]')).length){
                            filter_set.filter_set[$.trim($(this).data('tvfilter'))] = s2_filter.find('option:selected').map(function(){return this.value}).get().join('|');
                        } else {
                            filter_set.filter_set[$.trim($(this).data('tvfilter'))] = $.trim($(this).data('filterval')) || '';
                        }
                    });

                    filter_set.filter_set = encodeURIComponent(JSON.stringify(filter_set.filter_set));

                    var formHtml = '\n\
                    <div class="box-content">\n\
                        <form class="form-horizontal" role="form" action="{{ app.request.baseUrl }}/{{ app.controller_alias }}/save-filter">\n\
                            <div class="form-group">\n\
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Filter name'|trans }}</label>\n\
                                <div class="col-xs-10 col-sm-8">\n\
                                    <span class="col-xs-12 col-sm-12">\n\
                                        <input type="hidden" class="own_fields" name="filter_set[id]" value="'+ filter_set.id + '">\n\
                                        <input type="hidden" class="own_fields" name="filter_set[admin_id]" value="'+ filter_set.admin_id + '">\n\
                                        <input type="hidden" class="own_fields" name="filter_set[filter_set]" value=\''+ filter_set.filter_set + '\'>\n\
                                        <input type="text" class="own_fields form-control" name="filter_set[title]" value="'+ filter_set.title + '">\n\
                                    </span>\n\
                                </div>\n\
                            </div>\n\
                            <div class="form-group">\n\
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'For all'|trans }}</label>\n\
                                <div class="col-xs-10 col-sm-8">\n\
                                    <span class="col-xs-12 col-sm-12">\n\
                                        <div class="checkbox">\n\
                                            <label>\n\
                                                <input type="checkbox" class="own_fields" name="filter_set[for_all]" ' + (filter_set.for_all ? 'checked="checked"' : '') + '">\n\
                                                <i class="fa fa-square-o small"></i>\n\
                                            </label>\n\
                                        </div>\n\
                                    </span>\n\
                                </div>\n\
                            </div>\n\
                            <div class="form-group">\n\
                                <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Description'|trans }}</label>\n\
                                <div class="col-xs-10 col-sm-8">\n\
                                    <span class="col-xs-12 col-sm-12">\n\
                                        <textarea class="own_fields form-control" name="filter_set[description]">'+filter_set.description+'</textarea>\n\
                                    </span>\n\
                                </div>\n\
                            </div>\n\
                        </form>\n\
                    </div>';
                    $('#modalbox').find('.devoops-modal-inner').html(formHtml);
                    $('#modalbox').find('.devoops-modal-bottom').html('<div class="pull-right no-padding">&nbsp;</div>\n\
                        <div class="pull-right no-padding">\n\
                            <button type="submit" class="btn btn-success pull-right">{{ 'Save'|trans }}</button>\n\
                            <button type="reset" class="btn btn-default pull-right" >{{ 'Cancel'|trans }}</button>\n\
                        </div>');
                    $('#modalbox').show();
                    return false;
                });

                $(document).on('hide', "#add_post_function_container", function(e){
                    $("[data-event-type^='post_function']").hide().find('select, input').attr('disabled', 'disabled');
                });

                $(document).on('change show', "#add_post_function, #add_post_function_container", function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    if ($("#add_post_function").is(':checked')) {
                        $("#post_function_type").show().find('select').removeAttr('disabled');
                    } else {
                        $("#post_function_type").hide().find('select').attr('disabled', 'disabled');
                        $("[data-event-type^='post_function']").hide().find('select, input').attr('disabled', 'disabled');
                    }
                    return false;
                });

                $(document).on('change show', "#s2_post_function, #post_function_type", function(e){
                    $("[data-event-type^='post_function']").filter("[data-event-type!='post_function_type']").hide().find('select, input').attr('disabled', 'disabled');
                    $("#" + $("#s2_post_function").val()).show().find('select, input').removeAttr('disabled');
                });

                $(document).off('click', 'div[data-tvfilter] a.dropdown-toggle i.fa-times-circle');
                $(document).on('click', 'div[data-tvfilter] a.dropdown-toggle i.fa-times-circle', function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    var parentDiv = $(this).closest('div[data-tvfilter]');
                    $("#filter_param li[data-filter='" + parentDiv.data('tvfilter') + "'] input").prop("checked", false);
                    parentDiv.remove();
                    return false;
                });

                $('input.autocomplete').each(function(){
                    var _this = $(this);
                    _this.autocomplete({
                        source: "{{app.request.baseUrl}}/{{app.controller_alias}}/get-autocomplete-" + _this.prop('name').replace("_", "-"),
                        minLength: 3,
                        messages:{
                            noResults: "{{ 'No search results'|trans }}"
                        },
                        close: function( event, ui ) {
                            _this.closest('[data-filterval]').data('filterval', _this.val());
                            _this.closest('[data-filterval]').find('a.dropdown-toggle span:nth-child(2)').text(_this.val());
                        }
                    });
                });

                $(document).on('click', 'div[data-tvfilter] a:first-child', function(e){
                    if ($(this).closest('div').hasClass('open')){
                        $(this).closest('div').find("input:first-of-type").trigger("focus").trigger("click");
                    }
                });

                $("#modalbox").on("click", "button[type='reset']", function(){
                    $("#modalbox form").get(0).reset();
                    JScloseModalBox();
                });

/*                $("[id^='filter_s2_']").each(function(){
                    if ($(this).find('option:selected').length == 0) {
                        $($(this).find('option').get(0)).prop('selected', 'selected');
                    }
                });*/

                LoadDataTablesScripts(TestTable1);
                LoadSelect2Script(DemoSelect2);
            });

        }

        document.addEventListener("DOMContentLoaded", yelp, false);

        var toggleUserStatus = function (obj) {
            $('#datatable-1').DataTable().ajax.reload();
        };

        var removeUser = function (obj) {
            if (obj.data('add_button')) {
                $("#add_button").show();
                $("#limit_message").hide();
            } else {
                $("#add_button").hide();
                $("#limit_message").show();
            }
            var cRow = $(obj).closest('tr');
            $('#datatable-1').DataTable().row(cRow).remove().draw(false);
        };
        
        function checkFields(obj, e) {
            var dataName = $(obj).attr('id') == 's2_user_list_type' ? 'data-list-type' : 'data-event-type';
            $("[" + dataName + "]").hide().find('input, select, textarea').attr('disabled', 'disabled');
            $(obj).find('option:selected').each(function () {
                var searchVal = $(this).val();
                var dataNameIn = dataName.replace('data-', '').replace('-', ' ').camelCase();
                $('[' + dataName + '*="' + searchVal + '"]').each(function() {
                    if ($(this).data(dataNameIn) && $(this).data(dataNameIn).split(";").indexOf(searchVal) !== -1) {
                        $(this).show().find('input, select, textarea').removeAttr('disabled');
                    }
                });
            });
            return false;
        }

        {% if attribute(app, 'enableBilling') is defined and app.enableBilling %}
        function setExpireDateModal(obj){
            $('#modalbox').find('.modal-header-name span').text('{{ 'Expire billing date'|trans }}');
            $('#modalbox').find('.devoops-modal-inner').empty().append("<form class='form-horizontal' role='form' action='{{ app.request.baseUrl }}/{{ app.controller_alias }}/set-expire-billing-date'>");
            $('#modalbox').find('form')
                    .append("<input type='hidden' class='own_fields' name='setaction' value='set'>")
                    .append("<input type='hidden' class='own_fields' name='userid' value='" + obj.data('userid') + "'>")
                    .append("<input type='text' readonly='readonly' class='datepicker col-sm-11 own_fields' style='margin-left: 15px;' data-date-format='dd-mm-yy' name='expire_date' id='expire_date_datepicker'>");
            $('#modalbox').find('.devoops-modal-bottom').empty()
                    .append('<button class="btn btn-default col-sm-4 pull-left" type="reset" id="reset_enable_date">{{ 'Cancel'|trans }}</button>')
                    .append('<button class="btn btn-success col-sm-4 pull-right" type="submit" id="apply_enable_date">{{ 'Set date'|trans }}</button>');
            $('#modalbox').find('.devoops-modal').width(400);
            $("#expire_date_datepicker").datepicker({
                        language    : '{% if attribute(app, 'locale') is defined and app['locale']|length == 2 %}{{ app['locale'] }}{% else %}en{% endif %}',
                        dateFormat  : 'dd-mm-yy',
                        firstDay    : 1,
                        minDate     : new Date(),
                        dayNamesMin : dayNamesMin,
                        monthNames  : monthNames
                    }
            );
            $("div[id*='datepicker']").addClass('dp_white');
            $(obj).closest('div.open').removeClass('open');
            $('#modalbox').show();
        }

        var setExpireBillingDate = function(data){
            JSSuccessModalBox(data);
            $('#datatable-1').DataTable().ajax.reload();
        };

        var setExpireBillingDateError = function(data){
            JSErrorModalBox(data);
        };
        {% endif %}

        function closeModalBox(){
            $('#modalbox').find('.modal-header-name span').empty();
            $('#modalbox').find('.devoops-modal-inner').empty();
            $('#modalbox').find('.devoops-modal-bottom').empty();
            $("div[id*='datepicker']").removeClass('dp_white');
            $('#modalbox').hide();
        }

        var addEvent = function(data){
            JSSuccessModalBox(data);
            $('#modalbox_ad').click();
        };

        {% if attribute(app, 'reseller') is defined and not app['reseller'] %}
        var manageUserReseller = function (obj) {
            JSSuccessModalBox(obj);
            $('#datatable-1').DataTable().ajax.reload();
        };

        var manageUserResellerError = function (obj) {
            JSErrorModalBox(obj);
        };
        {% endif %}

        var addFilter = function(data){
            var last_filter_block = $('#filter_block div[data-tvfilter]:last');

            var filtervalStr = '<div class="br '+(data.filter.values_set && data.filter.values_set.length > 0 ? "filter_s": "filter") +'" data-tvfilter="'+ data.filter.text_id +'" data-filterval="'+(data.filter.type == 'DATETIME' ? '|':'')+ '">';

            if (last_filter_block.length) {
                last_filter_block.after(filtervalStr);
            } else {
                $("#filter_block").append(filtervalStr);
            }
            if (data.filter.values_set && data.filter.values_set.length > 0) {
                createFilterList(data.filter);
            } else if (data.filter.type == 'STRING'){
                createFilterText(data.filter)
            } else if (data.filter.type == 'DATETIME'){
                createFilterDate(data.filter)
            }
            $("#filter_param").removeClass('open');
            $('div[data-tvfilter="'+ data.filter.text_id +'"]').addClass('open').find("input:first-of-type").trigger("focus").trigger("click");
        };

        var saveFilterData = function(data){
            if (data.return_id) {
                $("#form_filter_button").data('filter_set_id', data.return_id);
            }
            JSSuccessModalBox(data);
        };

        var saveFilterDataError = function(data){
            JSErrorModalBox(data);
        };

        var addFilterError = function(data){
            JSErrorModalBox(data);
            if (typeof(data) != 'undefined' && typeof(data.filter) != 'undefined' && typeof(data.filter.text_id) != 'undefined' ) {
                $("li[data-filter='" + data.filter.text_id + "'] input[type='checkbox']").prop('disabled', 'disabled').attr('checked', false);
            }
        };

        function createFilterList(filter_data){
            var filter_bloc = $('div[data-tvfilter="'+ filter_data.text_id +'"]');
            filter_bloc.append('<a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="no-padding">' + filter_data.title + ':</span><span>' + '{{ 'All'|trans }}' + '</span><i class="fa fa-caret-down"></i><i class="fa fa-times-circle"></i></a>')
                    .append('<div class="dropdown-menu">');
            filter_bloc.find("div.dropdown-menu").append('<select class="populate placeholder" name="'+ filter_data.text_id +'" id="filter_s2_'+ filter_data.text_id +'" data-postponed="1" multiple>');
            var list = filter_bloc.find('select');
            list.append('<option value="0" >' + '{{ 'All'|trans }}' + '</option>');
            for (var i in filter_data.values_set) {
                list.append('<option value="' + filter_data.values_set[i].value + '">' + filter_data.values_set[i].title + '</option>');
            }

            if ($("#filter_s2_"+ filter_data.text_id).find('option:selected').length == 0) {
                $($("#filter_s2_"+ filter_data.text_id).find('option').get(0)).prop('selected', 'selected');
            }

            $("#filter_s2_"+ filter_data.text_id).select2();
        }

        function createFilterText(filter_data){
            var filter_bloc = $('div[data-tvfilter="'+ filter_data.text_id +'"]');
            filter_bloc.append('<a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="no-padding">' + filter_data.title + ':</span><span></span><i class="fa fa-caret-down"></i><i class="fa fa-times-circle"></i></a>');
            filter_bloc.append('<div class="dropdown-menu">' +
            '<input type="text" class="filter_string autocomplete" value="" id="filter_string_'+ filter_data.text_id +'" name="'+ filter_data.text_id +'">' +
            '<button type="button" class="btn btn-success filter_string"  data-postponed="1"><i class="fa fa-check"></i></button>' +
            '</div>');
            var _this = $( '#filter_string_'+ filter_data.text_id );
            _this.autocomplete({
                source: "{{app.request.baseUrl}}/{{app.controller_alias}}/get-autocomplete-" + _this.prop('name').replace("_", "-"),
                minLength: 3,
                messages:{
                    noResults: "{{ 'No search results'|trans }}"
                },
                close: function( event, ui ) {
                    _this.closest('[data-filterval]').data('filterval', _this.val());
                    _this.closest('[data-filterval]').find('a.dropdown-toggle span:nth-child(2)').text(_this.val());
                }
            });
        }

        function createFilterDate(filter_data){
            var filter_bloc = $('div[data-tvfilter="'+ filter_data.text_id +'"]');
            filter_bloc.append('<a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="no-padding">' + filter_data.title + ':</span><span></span><i class="fa fa-caret-down"></i><i class="fa fa-times-circle"></a>');
            filter_bloc.append('<div class="dropdown-menu">' +
            '<input type="text" class="datepicker filter_string" data-date-format="dd-mm-yy" name="'+ filter_data.text_id +'[from]" id="filter_string_'+ filter_data.text_id +'_from" value="">' +
            '<input type="text" class="datepicker filter_string" data-date-format="dd-mm-yy" name="'+ filter_data.text_id +'[to]" id="filter_string_'+ filter_data.text_id +'_to" value="">' +
            '<button type="button" class="btn btn-success filter_string" data-postponed="1"></i><i class="fa fa-check"></button>' +
            '</div>');
            $('[id^="filter_string_'+ filter_data.text_id + '"]').datepicker({
                        language    : '{% if attribute(app, 'locale') is defined and app['locale']|length == 2 %}{{ app['locale'] }}{% else %}en{% endif %}',
                        dateFormat  : 'dd-mm-yy',
                        firstDay    : 1,
                        dayNamesMin : dayNamesMin,
                        monthNames  : monthNames,
                        onClose: function (selectedDate) {
                            var dateParam, inputNeighbor;
                            if ($(this).attr('id').slice(-3) == '_to') {
                                dateParam = "maxDate";
                                inputNeighbor = $(this).prev('input');
                            } else {
                                dateParam = "minDate";
                                inputNeighbor = $(this).next('input');
                            }
                            if (inputNeighbor && inputNeighbor.length) {
                                inputNeighbor.datepicker("option", dateParam, selectedDate);
                            }
                        }
                    }
            );
        }

    </script>
    {% if attribute(app, 'messagesTemplates') is defined and app.messagesTemplates|length> 0%}
        {% for item in app.messagesTemplates %}
            <script type="text/template" id="msg_textarea_pattern_{{ item.id }}">
                {{ item.body }}
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}