{% extends 'layout.twig' %}
{% import '/macro/iptw_macro.twig' as main_macro %}
{% set title = ('Users'|trans ~ ': ' ~ 'list of groups STB'|trans) | trans %}

{% block content %}
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="{{app.request.baseUrl}}/{{app.controller_alias}}/add-console-group" class="btn btn-success pull-right" id="add_console_group">{{ 'Add group'|trans }}</a>
            </div>
        </div>
        <div class="row">
                <div class="box">
					{% if attribute(app, 'dropdownAttribute') is defined %}
                    {{ main_macro.get_dropdown_attribute(app['dropdownAttribute']) }}
                    {% endif %}	
                    <div class="box-content">
                        <div class="box-content no-padding">
                            <div class="">
                                <div class="">
                                    <div class="dataTables_processing"></div>
                                    <table class="table  table-hover table-datatable" id="datatable-1">
                                        {% if attribute(app, 'dropdownAttribute') is defined %}
                                            {{ main_macro.get_datatable_head(app['dropdownAttribute']) }}
                                        {% endif %}
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <script type="text/javascript" defer>
        {% if attribute(app, 'reseller') is defined and not app['reseller'] %}
        function DemoSelect2() {
            $.getScript("{{ app.request.baseUrl }}/plugins/select2/i18n/{% if app["language"] %}{{ app["language"] }}{% else %}en{% endif %}.js", function() {
                $.fn.select2.defaults.set('dropdownAutoWidth', 'false');
                $.fn.select2.defaults.set('width', '100%');
                $("[id^='s2_']").select2({minimumResultsForSearch: -1});
            });
        }
        {% endif %}
        function TestTable1() {
            $('#datatable-1').on('xhr.dt', function (e, settings, json) {
                if (typeof (json.data) == 'object') {
                    for (var i in json.data) {
                        cels = getCeils(json.data[i]);
                        json.data[i].mac = cels.mac;
                        json.data[i].uid = cels.uid;
                        json.data[i].operations = cels.operations;
                        json.data[i].name = cels.name;
                        json.data[i].reseller_name = cels.reseller_name;
                    }
                }
            }).dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ app.request.baseUrl }}/{{ app.controller_alias }}/users-consoles-groups-list-json",
                    "data": function (d) {
                        var params = $.parseParams(window.location.href.split('?')[1] || ''); //window.location.href.split('?')[1] || ''
                        for (var i in params) {
                            d[i] = params[i];
                        }
                    }
                },
                "language": {
                    "url": "{{ app.datatable_lang_file }}"
                },
                "deferLoading": [{{ app.recordsFiltered }}, {{ app.totalRecords }}],
                {% if attribute(app, 'dropdownAttribute') is defined %}
                {{ main_macro.get_datatable_column(app['dropdownAttribute']) }}
                {% endif %}
                "bFilter": true,
                "bPaginate": true,
                "bInfo": true,
                "aoColumnDefs": [
                    { className: "action-menu", "targets": [ -1 ] },
                    {"searchable": false, "targets": [-1]},
                    {"sortable": false, "targets": [-1]}
                ]
            }).prev('.dataTables_processing').hide('');
            $('#datatable-1').DataTable().ajax.reload();
        }

        function yelp() {
            $(document).ready(function () {
                
                $(document).on('change', '#console_name', function(e){
                    var _this = $(this);
                    _this.next('div').removeClass('bg-danger').css('visibility', 'hidden').html('&nbsp;');
                    $('#modalbox button[type="submit"]').removeAttr("disabled");
                   $.ajax({
                        url: 'users/check-console-name',
                        type: 'POST',
                        data: {name: _this.val()},
                        success: function (data) {
                            if (data.success) {
                                $('#modalbox button[type="submit"]').removeAttr("disabled");
                                _this.next('div').append('<i class="txt-success fa fa-check"></i> ' + data.chk_rezult).css('visibility', 'visible');
                            } else if (data.error){
                                $('#modalbox button[type="submit"]').attr("disabled", "disabled");
                                console.log(data.error);
                            } else {
                                $('#modalbox button[type="submit"]').removeAttr("disabled");
                                console.log("{{ 'Some server error'|trans }}");
                            }
                        },
                        error: function (data) {
                            if (typeof(data.responseJSON) != 'undefined' && typeof(data.responseJSON.error) != 'undefined') {
                                $('#modalbox button[type="submit"]').attr("disabled", "disabled");
                                _this.next('div').append('<i class="txt-danger fa fa-ban"></i> ' + data.responseJSON.error).css('visibility', 'visible');
                            } else {
                                $('#modalbox button[type="submit"]').removeAttr("disabled");
                                console.log("{{ 'Some network error or access denied'|trans }}");
                            }
                        },
                        dataType: "json",
                        async: false
                    });
                });
                
                $(document).on('click', "a.main_ajax", function (e) {
                    e.stopPropagation();
                    e.preventDefault();

                    ajaxPostSend($(this).attr('href'), $(this).data());
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });
                
                $(document).on('click', '#add_console_group, a[id^="edit_console_group_"]', function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    openModalBox($(this));
                    return false
                });

                {% if attribute(app, 'reseller') is defined and not app['reseller'] %}
                $(document).on('click', "a[href*='move-user-group-to-reseller']", function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    $("#modalbox").data('complete', 1);
                    $('#modalbox').find('.modal-header-name span').text("{{ 'Resellers'|trans }}");
                    var reseller_id = $(this).data('reseller_id');
                    var formHtml = '\n\
                <div class="box-content">\n\
                    <form class="form-horizontal" role="form" action="{{ app.request.baseUrl }}/{{ app.controller_alias }}/move-user-group-to-reseller">\n\
                        <div class="form-group">\n\
                            <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Reseller name'|trans }}</label>\n\
                            <div class="col-xs-10 col-sm-8">\n\
                                <span class="col-xs-12 col-sm-12">\n\
                                    <input type="hidden" class="own_fields" name="consolegroupid" value="'+ $(this).data('consolegroupid') + '">\n\
                                    <input type="hidden" class="own_fields" name="source_id" value="'+ reseller_id + '">\n\
                                    <select class="own_fields" name="target_id" id="target_reseller">\n\
                    {% if attribute(app, 'allResellers') is defined %}
                            {% for row in app.allResellers %}
                            <option value="{{ row.id }}" >{{ row.name }}</option>\n\
                    {% endfor %}
                    {% endif %}
                                    </select>\n\
                                </span>\n\
                            </div>\n\
                        </div>\n\
                    </form>\n\
                </div>';
                    $('#modalbox').find('.devoops-modal-inner').html(formHtml);
                    $('#target_reseller option').removeAttr('selected');
                    $('#target_reseller option[value="'+ reseller_id +'"]').attr('selected', 'selected');
                    $('#modalbox').find('.devoops-modal-bottom').html('<div class="pull-right no-padding">&nbsp;</div>\n\
                        <div class="pull-right no-padding">\n\
                            <button type="submit" class="btn btn-success pull-right">{{ 'Move'|trans }}</button>\n\
                            <button type="reset" class="btn btn-default pull-right" >{{ 'Cancel'|trans }}</button>\n\
                        </div>');

                    $("#target_reseller").select2({minimumResultsForSearch: -1});

                    $("#modalbox").show();
                    $(this).closest('div.open').removeClass('open');
                    return false;
                });

                LoadSelect2Script(DemoSelect2);

                {% endif %}

                $(document).on('click', "#modalbox button[type='reset'], #modalbox, #modalbox a.close-link, #modalbox a.close-link *", function(e){
                    if (e.currentTarget != e.target) {
                        return;
                    }
                    e.stopPropagation();
                    e.preventDefault();

                    closeModalBox();
                    return false;
                });

                $(document).on('click', "#modalbox button[type='submit']", function (e) {
                    var sendData = {};

                    $("#modalbox").find('input.own_fields, select.own_fields').each(function(){
                        sendData[$(this).attr('name')] = $(this).val();
                    });

                    e.stopPropagation();
                    e.preventDefault();
                    ajaxPostSend($("#modalbox form").attr('action'), sendData);
                    closeModalBox();
                    return false;
                });
                LoadDataTablesScripts(TestTable1);
            });
        }

        document.addEventListener("DOMContentLoaded", yelp, false);

        var manageList = function (obj) {
            $("#modalbox_ad").click();
            JSSuccessModalBox(obj);
            $('#datatable-1').DataTable().ajax.reload();
        };

        var manageListError = function (obj) {
            JSErrorModalBox(obj);
        };

    function closeModalBox(){
        $("#modalbox").hide();
        $('#modalbox').find('.modal-header-name span').empty();
        $('#modalbox').find('.devoops-modal-inner').empty();
    }
    
    function openModalBox(obj){
        $('#modalbox').find('.modal-header-name span').text((obj.data('consolegroupid')? "{{ 'Edit'|trans }}": "{{ 'Add'|trans }}") + ' {{ 'group'|trans }}');
        if ($('#modalbox').find('.devoops-modal-inner').find('input').length == 0) {
            $('#modalbox').find('.devoops-modal-inner').html('\n\
                <div class="box-content">\n\
                    <form class="form-horizontal" role="form">\n\
                        <div class="form-group">\n\
                            <label class="col-sm-3 control-label col-sm-offset-1">{{ 'Title'|trans }}<span class="icon-required">*</span></label>\n\
                            <div class="col-xs-10 col-sm-8">\n\
                                <span class="col-xs-8 col-sm-8">\n\
                                    <input type="hidden" class="own_fields" name="id">\n\
                                    <input type="text" class="own_fields form-control " data-validation=required name="name" id="console_name">\n\
                                    <div class="bg-danger"></div>\n\
                                </span>\n\
                            </div>\n\
                        </div>\n\
                    </form>\n\
                </div>');
            $('#modalbox').find('.devoops-modal-bottom').html('<div class="pull-right no-padding">&nbsp;</div>\n\
                        <div class="col-xs-10 col-sm-5 pull-right no-padding">\n\
                            <button type="submit" class="btn btn-success col-sm-5 pull-right">{{ 'Save'|trans }}</button>\n\
                            <button type="reset" class="btn btn-default col-sm-5 pull-left" >{{ 'Cancel'|trans }}</button>\n\
                        </div>');
        }
        
        if (obj.data('consolegroupid')) {
            $('#modalbox').find('.devoops-modal-inner').find('input[type="hidden"]').val(obj.data('consolegroupid'));
            $('#modalbox').find('.devoops-modal-inner').find('input[type="text"]').val(obj.closest('tr').find('td:first a').text());
        }
        $('#modalbox button[type="submit"]').removeAttr("disabled");
        $('#console_name').next('div').removeClass('bg-danger').css('visibility', 'hidden').html('&nbsp;');
        $('#modalbox form').attr('action', obj.attr('href'));
        $("#modalbox").show();
        obj.closest('div.open').removeClass('open');
    }

    function getCeils(data){
        var resellers = {};
        {% if attribute(app, 'allResellers') is defined %}
        {% for item in app.allResellers %}
        resellers['{{ item.id }}'] = '{{ item.name }}';
        {% endfor %}
        {% endif %}
        var ceils = {};
        ceils.name = '<a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/users-groups-consoles-list?id='+data.id+'">'+data.name+'</a>';
        var reseller_id = '' + (typeof (data.reseller_id) != 'undefined' ? data.reseller_id: '-') + '';
        ceils.users_count  = '0';
        ceils.reseller_name = '<a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/move-user-group-to-reseller" data-consolegroupid="'+data.id+'" data-reseller_id="'+reseller_id+'">' + resellers[reseller_id] + '</a>';
        ceils.operations = "<div class='col-xs-3 col-sm-8'>\n\
                                <a href='#' class='dropdown-toggle' data-toggle='dropdown'>\n\
                                    <i class='pull-right fa fa-cog'></i>\n\
                                </a>\n\
                                <ul class='dropdown-menu pull-right'>\n\
                                    <li>\n\
                                        <a href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/edit-console-group'  id='edit_console_group_"+data.id+"' data-consolegroupid='" + data.id + "'>\n\
                                            <span>{{ 'Edit'|trans }}</span>\n\
                                        </a>\n\
                                    </li>\n\
                                    <li>\n\
                                        <a class='main_ajax' href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/remove-console-group' data-consolegroupid='" + data.id + "'>\n\
                                            <span>{{ 'Delete'|trans }}</span>\n\
                                        </a>\n\
                                    </li>";
        {% if attribute(app, 'reseller') is defined and not app['reseller'] %}
        ceils.operations        += "<li>\n\
                                        <a href='{{ app.request.baseUrl }}/{{ app.controller_alias }}/move-user-group-to-reseller' data-consolegroupid='" + data.id + "' data-reseller_id='"+reseller_id+"'>\n\
                                            <span>{{ 'Change reseller for current group'|trans }}</span>\n\
                                        </a>\n\
                                    </li>\n\
                                </ul>\n\
                            </div>";
        {% endif %}
        return ceils;
    }
    </script>
{% endblock %}