{% extends 'layout.twig' %}
{% set title = ('Video club'|trans ~ ': ' ~ 'moderators list'|trans) | trans %}

{% block content %}
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/add-video-moderators" class="btn btn-success pull-right">{{ 'Add moderator'|trans }}</a>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="auto-height">
                    <div class="box-name">
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 col-sm-offset-2 text-center bg-warning">
                                <span class="text_black">{{ 'STB of moderators  allow to show unpublished video and optionally skipping advertising'|trans }}{#Приставки модераторов позволяют показывать неопубликованное видео и опционально пропускают рекламу#}</span>
                            </div>
                        </div>
                    </div>
                    <div class="no-move"></div>
                </div>
                {% if app['Moderators'] %}
                        <div class="box-content">
                            <div class="box-content no-padding">
                                <div class="dataTables_processing"></div>
                                <table class="table  table-hover table-datatable" id="datatable-1">
                                    <thead>
                                        <tr>
                                            <th data-filter="name">{{ 'Name'|trans }}</th>
                                            <th data-filter="mac">{{ 'MAC address'|trans }}</th>
                                            <th data-filter="disable_vclub_ad">{{ 'Advertising'|trans }}</th>
                                            <th data-filter="status">{{ 'Status'|trans }}</th>
                                            <th width="16px" data-filter="operations">{{ 'Operations'|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Start: list_row -->
                                        {% for item in app.Moderators %}
                                            <tr data-modid="{{ item.id }}">
                                                <td ><a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/edit-video-moderators?id={{ item.id }}">{{ item.name }}</a></td>
                                                <td data-filter="mac">{{ item.mac }}</td>
                                                <td data-filter="disable_vclub_ad">{% if item.disable_vclub_ad %}<span class="">{{ 'On'|trans }}</span>{% else %}<span class="">{{ 'Off'|trans }}</span>{% endif %}</td>
                                                <td data-filter="status">{% if item.status %}<span class="">{{ 'On'|trans }}</span>{% else %}<span class="">{{ 'Off'|trans }}</span>{% endif %}</td>
                                                <td data-filter="operations">
                                                    <div class="col-xs-3 col-sm-8">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">                    
                                                            <i class="pull-right fa fa-cog"></i>
                                                        </a>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li>
                                                                <a href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/edit-video-moderators?id={{ item.id }}">
                                                                    <span>{{ 'Edit'|trans }}</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="main_ajax" href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/toggle-video-moderators-status" data-modstatus="{% if item.status %}0{% else %}1{% endif %}" data-modid="{{ item.id }}">
                                                                    <span>{% if item.status %}{{ 'Switch off'|trans }}{% else %}{{ 'Switch on'|trans }}{% endif %}</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="main_ajax" href="{{ app.request.baseUrl }}/{{ app.controller_alias }}/remove-video-moderators" data-modid="{{ item.id }}">
                                                                    <span>{{ 'Delete'|trans }}</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <!-- End: list_row -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
<script type="text/javascript" defer>

    function TestTable1() {
        $('#datatable-1').dataTable({
            "language": {
                "url": "{{ app.datatable_lang_file }}"
            },
            "bFilter": true,
            "bPaginate": true,
            "bInfo":     true,
            "aoColumnDefs": [ 
                { className: "action-menu", "targets": [ -1 ] },
                { "targets": [ -1 ], "orderable": false},
                { "searchable": false, "targets": [ 1, 2, 3, 4] }
            ]
        }).prev('.dataTables_processing').hide('');
    }
    function yelp() {
        $(document).ready(function () {
            LoadDataTablesScripts(TestTable1);
            
            $(document).on('click', "a.main_ajax", function (e) {
                e.stopPropagation();
                e.preventDefault();
                var _this = $(this);

                if (!_this.data('atcion')) {
                    $.ajax({
                        url: $(this).attr('href'),
                        type: 'POST',
                        data: $(this).data(),
                        success: function (data) {
                            if (data.success) {
                                for (var key in data) {
                                    _this.data(key, data[key]);
                                }
                            } else {
                                alert("{{ 'Some server error'|trans }}");
                            }
                        },
                        error: function (data) {
                            var errAction = '';
                            if (typeof(data.responseJSON) == 'object') {
                                errAction +=  data.responseJSON.action + 'Error';
                                for (var key in data.responseJSON) {
                                    _this.data(key, data.responseJSON[key]);
                                }
                            }
                            if ($.isFunction(window[errAction])) {
                                window[errAction]($(_this));
                            } else {
                                alert("{{ 'Some network error or access denied'|trans }}");
                            }
                        },
                        dataType: "json",
                        async: false
                    });
                } 

                if ($.isFunction(window[$(this).data('action')]) && !$(this).data('error')) {
                    window[$(this).data('action')]($(this));
                }
                _this.closest('div.open').removeClass('open');
                return false;
            });
        });
    }
    
    document.addEventListener("DOMContentLoaded", yelp, false);
    
    var removeMod = function(obj){
        var cRow = $(obj).closest('tr');
        $('#datatable-1').DataTable().row(cRow).remove().draw( false );
    };
    
    var toggleVideoModStatus = function(obj){
        $(obj).text($(obj).data('title'));
        $(obj).closest('tr').find('td[data-filter="status"]').html($(obj).data('status'));
    };
</script>
{% endblock %}